<sirio-card>
  <sirio-card-header class="header">
    <sirio-card-header-heading>CENTRO DE ACOPIO / TRANSPORTISTAS </sirio-card-header-heading>
    <sirio-card-header-subheading>
      <!-- {{ options.subTitle }} -->
      <sirio-card-header-subheading>
         <h4>TOTAL EN {{currentMoneda?.siglas}} <strong>{{total | number:'1.2-2'}}</strong></h4> 
      </sirio-card-header-subheading>
    </sirio-card-header-subheading>

    <sirio-card-header-actions>
      <button mat-icon-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
      </button>
      <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button> -->
    </sirio-card-header-actions>
  </sirio-card-header>

  <sirio-card-content class="card-content container">

        <div fxLayout="row">
          <!-- {{rval|json}} -->
          <sirio-list [hideHeader]="true" class="list" fxFlex="grow" fxLayout="column" >
            <!-- <i class="fa-light fa-building-columns"></i> -->

            <table *ngIf="dataSource.data" [dataSource]="dataSource " class="padding-0" #tabl mat-table matSort>

              <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

              <!-- Model Properties Column -->
              <ng-container *ngFor="let column of columns">
                <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header  class="{{column.headerAlign?column.headerAlign:''}}">{{ column.name }}</th>
                  <td *matCellDef="let row" mat-cell class="{{column.width}}">
                    <div class="{{column.align?column.align:'text-center'}}"> <i class="fal fa-truck-container fa-lg" *ngIf="!column.isNumber"></i> &nbsp; {{ column.isNumber? (row[column.property] | number:'1.2') :  row[column.property]
                      }}&nbsp;
                      <button mat-icon-button (click)="openData(row)" class="" type="button" *ngIf="column.property=='nombreTransportista'"
                        matTooltip="Ver detalle"><mat-icon class="text-color-muted margin-bottom-xs">{{'query_stats'}}</mat-icon></button>
                    </div>
                  </td>
                  <!-- <td mat-footer-cell *matFooterCellDef> -->
                    <!-- <div *ngIf="column.property=='saldo'" class="text-center"><strong>{{getTotal() | number:'1.2-2'}}</strong></div> -->
                  <!-- </td> -->
                </ng-container>
                <ng-container *ngIf="!column.isModelProperty" [matColumnDef]="column.property">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ column.name }} </th>
                  <td *matCellDef="let row;" mat-cell>
                    <span class="text-color-muted">{{progress(row) | number:'1.2-2' }}%</span>
                    <mat-progress-bar mode="determinate" [value]="progress(row)"
                      [color]="progress(row)>50 && progress(row)<90?'primary':(progress(row)>95?'warn':'accent')"></mat-progress-bar>
                  </td>
                  <!-- <td mat-footer-cell *matFooterCellDef></td> -->
                </ng-container>
              </ng-container>


              <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
              <!--suppress UnnecessaryLabelJS -->
              <tr *matRowDef="let row; columns: visibleColumns;" mat-row></tr>
              <!-- <tr mat-footer-row *matFooterRowDef="visibleColumns;"></tr> -->
            </table>

            <mat-paginator #paginator [pageSize]="pageSize" class="paginator"></mat-paginator>

          </sirio-list>

        </div>
  </sirio-card-content>
</sirio-card>