<div class="page-layout overflow-hidden pb-8">
    <div class="header-bg light-grey-200">
    </div>
    <div class="content">
        <div class="content-header" fxLayout="row wrap" fxLayoutAlign="start center">
            <div class="search-box mat-elevation-z2" fxFlex="1 1 0%">
                <button mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
                <input type="text" (keyup)="updateSearchTerm(serachTerm.value)" 
                placeholder="{{'country.search' | translate: {default: 'global.notfound'} | translate }}" #serachTerm/>
            </div>
        </div>

        <div class="content-body">
            <ngx-spinner name="componentLoading">
                <p class="text-muted text-md"> {{'global.loading' | translate}} </p>
            </ngx-spinner>
            <div class="content-card default-bg " [perfectScrollbar]>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
