<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['tripCosts.table']" current="global.list"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [@fadeInUp]>
        <sirio-list [name]="'tripCosts.table' | translate: {default: 'global.notfound'}" placeholder="tripCosts.search"
            (filterChange)="onFilterChange($event)">

            <div fxLayout="column" class="margin-h margin-top-md">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                    <mat-form-field fxFlex="auto">
                        <mat-label>{{'tripCosts.carrierCompany' | translate: {default: 'global.carrierCompany'} | translate }}</mat-label>
                        <input matInput [value]="transportistaId+' - '+transportista" readonly>
                    </mat-form-field>

                </div>
            </div>

            <div fxLayout="column" class="margin-h padding-v">
                <ngx-datatable [scrollbarV]="false" class="material bg-white" [columnMode]="'flex'"
                [messages]="{emptyMessage: 'No hay registros...',totalMessage: 'Total'}" [sorts]="[{prop: 'id', dir: 'asc'}]" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="viajes | async">

                <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>{{'tripCosts.code' | translate: {default: 'global.code'} |
                            translate}}</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row?.viaje }}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [flexGrow]="2" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>{{'tripCosts.name' | translate: {default: 'global.name'} |
                            translate}}</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span style="white-space: break-spaces;">{{ row?.nombre }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [flexGrow]="2" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>{{'tripCosts.costNationalCurrency' | translate: {default: 'global.costNationalCurrency'} |
                            translate}}</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span style="white-space: break-spaces;">{{ row?.costo }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [flexGrow]="2" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>{{'tripCosts.costForeignCurrency' | translate: {default: 'global.costForeignCurrency'} |
                            translate}}</span>
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        <span style="white-space: break-spaces;">{{ row?.costo }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="" [flexGrow]="1" >
                    <ng-template let-row="row" ngx-datatable-cell-template class="margin-v">
                        <button mat-icon-button mat-sm-button color="primary"  [disabled]="!row.activo" (click)="openPopup(row)" matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button> &nbsp;&nbsp;
                        <button mat-icon-button mat-sm-button [color]="row.activo?'muted':'primary'"  (click)="activateOrInactivate(row)"
                            matTooltip="Activar/Inactivar">
                            <mat-icon>check_circle</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>


            </div>
          

        </sirio-list>
    </sirio-page-layout-content>
</sirio-page-layout>