<sirio-card class="realtime-users-widget">
  <sirio-card-header class="header" fxLayout="column">
    <sirio-card-header-heading>Active Users right now</sirio-card-header-heading>

    <div class="value">{{ currentUsers }}</div>
  </sirio-card-header>

  <sirio-card-content>
    <div class="section">
      <div class="heading">Page views per minute</div>
      <div class="canvas-content">
        <canvas #canvas></canvas>
      </div>
    </div>

    <div class="section">
      <div class="heading">Top Active Pages</div>
      <sirio-scrollbar class="pages">
        <div class="page" *ngFor="let page of pages$ | async">
          {{ page.page }}
        </div>
      </sirio-scrollbar>
    </div>
  </sirio-card-content>
</sirio-card>
