

@media only screen and (max-width: 767px) {
    .padding-h-xl{
        padding-left: 4px;
        padding-right: 4px;
    }
    
}

@media only screen and (max-width: 480px) {
    .padding-h-xl{
        padding-left: 2px;
        padding-right: 2px;
    }
    
}