<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['receiveRemittances.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'receiveRemittances.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit') | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid || (loading$ | async)" (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div fxLayout="column" tabNavigation>
                        <form [formGroup]="itemForm" *ngIf="itemForm">

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="40" *ngIf="remesa.tipoRemesa === constants.SOLICITUD_REMESA">
                                    <mat-label>{{'receiveRemittances.receivingUnit' | translate: {default: 'global.receivingUnit'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.receptor + ' - ' + remesa.nombreReceptor" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="40" *ngIf="remesa.tipoRemesa === constants.ENVIO_REMESA">
                                    <mat-label>{{'receiveRemittances.sendingUnit' | translate: {default: 'global.sendingUnit'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.emisor + ' - ' + remesa.nombreEmisor" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="20" *ngIf="remesa.tipoRemesa === constants.SOLICITUD_REMESA">
                                    <mat-label>{{'receiveRemittances.requestDate' | translate: {default: 'global.requestDate'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.fechaSolicitud | date: 'dd/MM/yyyy'" readonly class="text-center">
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
                                    <mat-label>{{'receiveRemittances.coin' | translate: {default: 'global.coin'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.nombreMoneda" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="15" *ngIf="remesa.tipoRemesa === constants.SOLICITUD_REMESA">
                                    <mat-label>{{'receiveRemittances.requestedAmount' | translate: {default: 'global.requestedAmount'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.montoSolicitado | number: '1.2'" readonly class="text-right">
                                </mat-form-field>

                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="20">
                                    <mat-label>{{'receiveRemittances.tripType' | translate: {default: 'global.tripType'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.nombreViaje" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="35">
                                    <mat-label>{{'receiveRemittances.leads' | translate: {default: 'global.leads'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.plomos" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="15">
                                    <mat-label>{{'receiveRemittances.sentAmount' | translate: {default: 'global.sentAmount'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.montoEnviado" currencyMask [options]="{precision:2}" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="15" appearance="standart">
                                    <mat-label>{{'receiveRemittances.receivedAmount' | translate: {default: 'global.receivedAmount'} | translate }} </mat-label>
                                    <input matInput max="9999999999999.99" autocomplete="off" currencyMask name="montoRecibido" formControlName="montoRecibido"
                                        [options]="{precision:2}" required readonly>
                                    <mat-error *ngIf="f.montoRecibido.errors?.max">Debe ser menor que 9.999.999.999.999,99</mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="15" appearance="standart">
                                    <mat-label>{{'receiveRemittances.difference' | translate: {default: 'global.difference'} | translate }} {{diferencia > 0 ?
                                        ('global.missing' | translate) : (diferencia < 0 ? ('global.spare' | translate) : '' )}} </mat-label>
                                            <input matInput [value]="diferencia | number: '1.2'" readonly class="text-right"
                                                style="font-weight: bold; color: rgb(199, 4, 4);">
                                </mat-form-field>
                            </div>
                        </form>

                        <mat-divider class="margin-bottom-md"></mat-divider>

                        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" fxFlex="100">

                            <mat-divider [vertical]="true" class="margin-bottom-md"></mat-divider>

                            <div fxLayout="column" fxFlex="auto">

                                <div fxLayout="column" fxFlex="100">
                                    <h3>{{'global.cashBreakdown' | translate }}</h3>
                                </div>

                                <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px">

                                    <mat-form-field fxLayout="column" *ngFor="let item of conos | async;let i = index" fxFlex="49">
                                        <mat-label>{{item.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{ (item.esBillete?'global.bill':
                                            'global.coin') | translate }} ({{'global.send' | translate }} {{ item.enviado}})
                                        </mat-label>
                                        <input matInput class="text-right" #cantidad="ngModel" [(ngModel)]="item.cantidad" min="0" [max]="item.disponible"
                                            autocomplete="off" matInput type="number" (ngModelChange)="updateValuesErrors(item)"
                                            [disabled]="item.disponible==0" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button
                            [disabled]="itemForm?.invalid  || f.montoRecibido?.value <= 0 || (loading$ | async)">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>