<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['profile.table']" current="global.list"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [@fadeInUp]>
        <sirio-list [name]="'profile.table' | translate: {default: 'global.notfound'}" placeholder="profile.search" (filterChange)="onFilterChange($event)">


            <mat-table #table id="tableContainer" [dataSource]="dataSource" matSort matSortActive="perfil_id" matSortDirection="asc">


                <!-- Avatar Column -->
                <ng-container matColumnDef="perfil_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tw-15'">Código</mat-header-cell>
                    <mat-cell *matCellDef="let element"  [ngClass]="'tw-15'">
                        <p class="font-weight-600">{{element.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tw-30'">Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let element"  [ngClass]="'tw-30'">
                        <p class="text-truncate font-weight-600">{{element.nombre}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm [ngClass]="'tw-40'">Descripción</mat-header-cell>
                    <mat-cell *matCellDef="let element" fxHide fxShow.gt-sm  [ngClass]="'tw-40'">
                        <p class="text-truncate font-weight-600">{{element.descripcion}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="activo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tw-10 text-center'">Estatus</mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'tw-10 text-center'">

                        <mat-chip mat-sm-chip [color]="'primary'" [selected]="element.activo">{{element.activo ? 'Activo' : 'Inactivo'}}
                        </mat-chip>

                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-5 '"></mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'tw-5 '">
                        <div fxFlex="row" fxLayoutAlign="end center">
                                <sirio-actions-nav [element]="element" *ngIf="element.id!='ADMIN'" [items]="actions.asObservable()" 
                                [method]="actionAPI()"></sirio-actions-nav>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns;" class="element">
                </mat-row>
            </mat-table>

            <mat-paginator [length]="dataSource?.totalElements" [pageSize]="15" [pageSizeOptions]="[15, 30, 50]" showFirstLastButtons></mat-paginator>

        </sirio-list>
        <sirio-button-add tooltips="action.add" (eventClicked)="add($event)"></sirio-button-add>
    </sirio-page-layout-content>
</sirio-page-layout>