<mat-toolbar>
    <button mat-icon-button matTooltip="{{'button.back' | translate: {default: 'global.notfound'} | translate}}" routerLink="/configuracion/parroquia">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class=" h1 mt-10" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        {{'parish.form' | translate: {default: "global.notfound"} }}
  </span>
    <!-- <span fxFlex></span> -->
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
        
        <button mat-icon-button matTooltip="{{'button.ai' | translate: {default: 'global.notfound'} | translate }}" 
        *ngIf="parroquia.id" (click)="activateOrInactivate()">
            <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-icon-button matTooltip="{{'button.save' | translate: {default: 'global.notfound'} | translate}}" (click)="save()" [disabled]="itemForm?.invalid">
            <mat-icon>trash</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div  id="itemForm" class="form-container">
    <form [formGroup]="itemForm" *ngIf="itemForm" class="form-content" (ngSubmit)="save()">

        <div fxLayout="row wrap" fxLayoutAlign="center center"> 
            <!--Agregado por JJSD 01/09/2022-->
            <div fxFlex="100" fxFlex.gt-xs="35" class="pr-4">
                <app-select-search [label]="'parish.country' | translate: {default: 'global.country'} | translate"
                    formControlName="pais" [required]="true" [elements]="paises.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.pais?.errors">
                </app-select-search>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="30" class="pr-4">
                <app-select-search [label]="'parish.state' | translate: {default: 'global.state'} | translate"
                    formControlName="estado" [required]="true" [elements]="estados.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.estado?.errors">
                </app-select-search>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="35" class="pr-4">
                <app-select-search [label]="'parish.municipality' | translate: {default: 'global.municipality'} | translate"
                    formControlName="municipio" [required]="true" [elements]="municipios.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.municipio?.errors">
                </app-select-search>
            </div>

            <!--Fin JJSD 01/09/2022-->

            <div fxFlex="100" fxFlex.gt-xs="10" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'parish.code' | translate: {default: 'global.code'} | translate }}</mat-label>
                    <input matInput maxlength="8" name="id" formControlName="id" uppercase required class="text-center">
                    <mat-error *ngIf="f.id.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.id.errors?.pattern">Caracter inválido</mat-error>
                    <mat-error *ngIf="f.id.errors?.exists">
                        {{f.id.errors?.exists}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="70" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'parish.name' | translate: {default: 'global.name'} | translate }}</mat-label>
                    <input matInput maxlength="60" name="nombre" formControlName="nombre" uppercase required>
                    <mat-error *ngIf="f.nombre.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.nombre.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="20">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'parish.localCode' | translate: {default: 'global.localCode'} | translate }}</mat-label>
                    <input matInput maxlength="10" name="codigoLocal" formControlName="codigoLocal" uppercase class="text-center">
                    <mat-error *ngIf="f.nombre.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

        </div>

    </form>
    <mat-toolbar>
        <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
            <button type="button" mat-button routerLink="/configuracion/parroquia">{{'button.cancel' | translate: {default: 'global.notfound'} | translate }}</button>
            <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid ||  (!isNew && !parroquia.activo)">{{'button.save' | translate: {default: 'global.notfound'} | translate }}</button>
        </div>

    </mat-toolbar>
</div>
