@import "var";

.page {
    padding: $padding;

}

.page-products {
    &.sirio-page-layout-card {
        .sirio-page-layout-header {
            margin-bottom: -64px;
            padding-bottom: 0px;
            background: #ededed;
        }
    }
}
.products {
    height: 48px;
    padding: 0 16px;
    cursor: pointer;
    display: flex;
}

.card-product{
    display: flex;
    min-height: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    overflow: hidden;
}
