<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['state.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'state.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit')| translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid || (loading$ | async)" (click)="save()">
                            <mat-icon>save</mat-icon>
                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <sirio-person-query (result)="queryResult($event)" [purpose]="'gestion-comercial'"></sirio-person-query>

                    <ng-container *ngIf="loaded$ | async" tabNavigation>
                        <div fxLayout="column">
                            <form [formGroup]="itemForm" *ngIf="itemForm" tabNavigation>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <sirio-select-search fxFlex="100" fxFlex.gt-xs="30"
                                        [label]="'Nro. de Cuenta Cargo' | translate: {default: 'Nro. de Cuenta Cargo'} | translate"
                                        formControlName="cuentaBancoCargo" [required]="true" [elements]="cuentas.asObservable()" [attributeName]="'descripcion'">
                                    </sirio-select-search>

                                    <sirio-select-search fxFlex="100" fxFlex.gt-xs="40"
                                        [label]="'Tipo de Subproducto' | translate: {default: 'Tipo de Subproducto'} | translate"
                                        formControlName="tipoSubproducto" [required]="true" [elements]="subproductos.asObservable()" [attributeName]="'nombre'">
                                    </sirio-select-search>

                                    <mat-form-field fxFlex.gt-xs="90">
                                        <mat-label>{{'Email' | translate: {default: 'Email'} | translate }}
                                        </mat-label>
                                        <input matInput class="text-center" [value]="persona.email" readonly>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="15">
                                        <mat-label>{{'Fecha de Emisión' | translate: {default: 'Fecha de Emisión'} | translate }}</mat-label>
                                        <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fecha" formControlName="fecha"
                                            [matDatepicker]="fechaPicker" required readonly>
                                        <mat-datepicker-toggle matSuffix [for]="fechaPicker" tabindex="-1">
                                        </mat-datepicker-toggle>
                                        <mat-error *ngIf="f.fecha.errors?.matDatepickerParse">
                                            Fecha Inválida
                                        </mat-error>
                                        <mat-error *ngIf="f.fecha.errors?.required">{{'error.required' | translate}} </mat-error>
                                    </mat-form-field>
                                    <mat-datepicker #fechaPicker></mat-datepicker>

                                    <sirio-select-search fxFlex="100" fxFlex.gt-xs="15" [label]="'Plazo' | translate: {default: 'Plazo'} | translate"
                                        formControlName="plazo" [required]="true" [elements]="plazos.asObservable()" [attributeName]="'nombre'">
                                    </sirio-select-search>

                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="15">
                                        <mat-label>{{'Fecha de Vencimiento' | translate: {default: 'Fecha de Vencimiento'} | translate }}</mat-label>
                                        <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fechaVencimiento" formControlName="fechaVencimiento"
                                            [matDatepicker]="fechaVencimientoPicker" required readonly>
                                        <mat-datepicker-toggle matSuffix [for]="fechaVencimientoPicker" tabindex="-1">
                                        </mat-datepicker-toggle>
                                        <mat-error *ngIf="f.fechaVencimiento.errors?.matDatepickerParse">
                                            Fecha Inválida
                                        </mat-error>
                                        <mat-error *ngIf="f.fechaVencimiento.errors?.required">{{'error.required' | translate}} </mat-error>
                                    </mat-form-field>
                                    <mat-datepicker #fechaVencimientoPicker></mat-datepicker>

                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="15">
                                        <mat-label>{{'Monto' | translate: {default: 'Monto'} | translate }} </mat-label>
                                        <input matInput max="9999999999999.99" min="0,01" autocomplete="off" currencyMask name="monto" formControlName="monto"
                                            [options]="{precision:2}" required>
                                        <mat-error *ngIf="f.monto.errors?.required">{{'error.required' | translate}}</mat-error>
                                        <mat-error *ngIf=" f.monto.errors?.min">{{'error.beGreaterThan' | translate}} 0,01</mat-error>
                                        <mat-error *ngIf="f.monto.errors?.max">{{'error.beLessThan' | translate}} 9.999.999.999.999,99</mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="10">
                                        <mat-label>{{'Tasa' | translate: {default: 'Tasa'} | translate }} </mat-label>
                                        <input matInput autocomplete="off" currencyMask name="tasa" formControlName="tasa"
                                            [options]="{precision:2}" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="100" fxFlex.gt-xs="15">
                                        <mat-label>{{'Interés' | translate: {default: 'Interés'} | translate }} </mat-label>
                                        <input matInput autocomplete="off" currencyMask name="interes" formControlName="interes"
                                            [options]="{precision:2}" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex.gt-xs="15">
                                        <mat-label>{{'Monto+Interés' | translate: {default: 'Monto+Interés'} | translate }}
                                        </mat-label>
                                        <input matInput class="text-center" [value]="(f.interes.value+f.monto.value) | number: '1.2'" readonly>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                        [label]="'Nro. de Cuenta Cargo' | translate: {default: 'Nro. de Cuenta Cargo'} | translate"
                                        formControlName="cuentaBancoCapital" [required]="true" [elements]="cuentasCapitalInteres.asObservable()" [attributeName]="'descripcion'">
                                    </sirio-select-search>

                                    <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                        [label]="'Nro. de Cuenta Cargo' | translate: {default: 'Nro. de Cuenta Cargo'} | translate"
                                        formControlName="cuentaBancoInteres" [required]="true" [elements]="cuentasCapitalInteres.asObservable()" [attributeName]="'descripcion'">
                                    </sirio-select-search>

                                    <div fxFlex="100" fxFlex.gt-xs="15" class="text-right margin-top-md"    >
                                        <mat-slide-toggle [color]="'primary'" formControlName="renovacion" name="renovacion">
                                            {{'Renovación Automática' | translate: {default: 'Renovación Automática'} | translate }}
                                        </mat-slide-toggle>
                                    </div>

                                    <sirio-select-search fxFlex="100" fxFlex.gt-xs="25" *ngIf="f.renovacion.value"
                                        [label]="'Tipo de Renovación' | translate: {default: 'Tipo de Renovación'} | translate" formControlName="tipoRenovacion"
                                        [required]="f.renovacion.value" [elements]="tipoRenovaciones.asObservable()" [attributeName]="'nombre'">
                                    </sirio-select-search>
                                </div>

                            </form>

                                     <!-- {{printErrors() | json}} -->
                        </div>
                    </ng-container>

                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid || (loading$ | async ) ">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar>
            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>