<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['consultRemittances.form']" current="action.view"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'consultRemittances.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{'action.view' | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div class="result" fxLayout="column" *ngIf="d.id">

                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                            <mat-form-field fxFlex="15">
                                <mat-label>{{'consultRemittances.billOfLading' | translate: {default: 'global.billOfLading'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.id" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="15">
                                <mat-label>{{'consultRemittances.remittanceType' | translate: {default: 'global.remittanceType'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.tipoRemesa" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="35">
                                <mat-label>{{'consultRemittances.sendingUnit' | translate: {default: 'global.sendingUnit'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.emisor" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex.gt-xs="35">
                                <mat-label>{{'consultRemittances.receivingUnit' | translate: {default: 'global.receivingUnit'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.receptor" readonly>
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                            <mat-form-field fxFlex="25">
                                <mat-label>{{'consultRemittances.creationDate' | translate: {default: 'global.creationDate'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.fechaCreacion" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="25">
                                <mat-label>{{'consultRemittances.requestedAmount' | translate: {default: 'global.requestedAmount'} | translate }}
                                </mat-label>
                                <input matInput class="text-right" [value]="d.montoSolicitado | number: '1.2'" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="25">
                                <mat-label>{{'consultRemittances.coin' | translate: {default: 'global.coin'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.moneda" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="25">
                                <mat-label>{{'consultRemittances.status' | translate: {default: 'global.status'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.estatusRemesa" readonly>
                            </mat-form-field>
                        </div>

                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                            <mat-form-field fxFlex="18" *ngIf="d.fechaEnvio != null">
                                <mat-label>{{'consultRemittances.shippingDate' | translate: {default: 'global.shippingDate'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.fechaEnvio | date: 'dd/MM/yyyy'" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="18" *ngIf="d.fechaEnvio != null">
                                <mat-label>{{'consultRemittances.sentAmount' | translate: {default: 'global.sentAmount'} | translate}}
                                </mat-label>
                                <input matInput class="text-right" [value]="d.montoEnviado | number: '1.2'" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="18" *ngIf="d.montoRecibido > 0">
                                <mat-label>{{'consultRemittances.receptionDate' | translate: {default: 'global.receptionDate'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.fechaRecibo | date: 'dd/MM/yyyy'" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="18" *ngIf="d.montoRecibido > 0">
                                <mat-label>{{'consultRemittances.receivedAmount' | translate: {default: 'global.receivedAmount'} | translate }}
                                </mat-label>
                                <input matInput class="text-right" [value]="d.montoRecibido | number: '1.2'" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="auto" *ngIf="d.viaje != null">
                                <mat-label>{{'consultRemittances.tripType' | translate: {default: 'global.tripType'} | translate }}
                                </mat-label>
                                <input matInput class="text-center" [value]="d.viaje" readonly>
                            </mat-form-field>
                        </div>

                        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" fxFlex="100" *ngIf="d.detalleEfectivoEnviado.length > 0">

                            <div fxLayout="column" fxFlex="auto">

                                <div fxLayout="column" fxFlex="100">
                                    <h3>{{'global.cashBreakdown' | translate}} ({{'global.sentAmount' | translate}})</h3>
                                </div>

                                <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px">

                                    <mat-form-field fxLayout="column" *ngFor="let item of d.detalleEfectivoEnviado;let i = index" fxFlex="49">
                                        <mat-label>{{item.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{ (item.esBillete?'global.bill':
                                            'global.coin') | translate }}
                                        </mat-label>
                                        <input matInput class="text-right" #cantidad="ngModel" [(ngModel)]="item.cantidad" min="0" [max]="item.disponible"
                                            autocomplete="off" matInput type="number" readonly />
                                        <mat-error *ngIf="cantidad.invalid">Cantidad Máxima {{item.disponible | number:'1.0'}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <mat-divider [vertical]="true" class="margin-bottom-md" *ngIf="d.detalleEfectivoRecibido.length > 0"></mat-divider>

                            <div fxLayout="column" fxFlex="50" *ngIf="d.detalleEfectivoRecibido.length > 0">

                                <div fxLayout="column" fxFlex="100">
                                    <h3>{{'global.cashBreakdown' | translate}} ({{'global.receivedAmount' | translate}})</h3>
                                </div>

                                <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px">

                                    <mat-form-field fxLayout="column" *ngFor="let item of d.detalleEfectivoRecibido;let i = index" fxFlex="49">
                                        <mat-label>{{item.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{ (item.esBillete?'global.bill':
                                            'global.coin') | translate }}
                                        </mat-label>
                                        <input matInput class="text-right" #cantidad="ngModel" [(ngModel)]="item.cantidad" min="0" [max]="item.disponible"
                                            autocomplete="off" matInput type="number" readonly/>
                                        <mat-error *ngIf="cantidad.invalid">Cantidad Máxima {{item.disponible | number:'1.0'}}</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                    </div>
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>