<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['accountOpening.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>


    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">
        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'accountOpening.form'|translate}} </sirio-card-header-heading>
                    <sirio-card-header-subheading>{{('action.add')| translate}}
                        &nbsp;&nbsp;<b>{{(isNew ? '00000000000000000000' : cuentaBanco.numeroCuenta)| mask:'0000 0000 00 00 00000000'}}</b>
                    </sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button not-disabled="true" matTooltip="{{'button.send' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="(disabled$ ||  loading$) | async" (click)="send()">
                            <i class="fa-light fa-inbox-out fa-xl"></i>
                        </button>
                        <button class="icon" mat-icon-button not-disabled="true" matTooltip="Descargar Ficha" [disabled]="(disabled$ || loading$) | async"
                            type="button" (click)="reportPdf()">
                            <i class="fal fa-file-pdf fa-xl"></i>
                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="backHome()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">


                    <sirio-person-query [entity]="'cuenta'" title="Consultar Persona" (push)="loadResult($event)" (result)="cleanForm()">
                    </sirio-person-query>

                    <ng-container *ngIf="loaded$ | async">

                        <mat-accordion class="expansion-headers-align">
                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header class="odd margin-bottom-xs">
                                    <mat-panel-title>
                                        <button type="button" mat-icon-button type="button" color="primary">
                                            <i class="far fa-money-check-pen fa-lg"></i>
                                        </button>
                                        <span class="margin-top-sm semi-bold">
                                            Apertura de Cuenta
                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>

                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="column" [formGroup]="itemForm" tabNavigation tabNavigation>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" class="margin-top-sm">
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="10">
                                            <mat-label>{{'global.documentType' | translate }} </mat-label>
                                            <input matInput autocomplete="off" name="tipoDocumento" [(ngModel)]="persona.tipoDocumento" disabled="true"
                                                [ngModelOptions]="{standalone: true}" class="text-center">
                                        </mat-form-field>

                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="30">
                                            <mat-label>{{'global.identification' | translate }} </mat-label>
                                            <input matInput autocomplete="off" class="text-center" name="identificacion" disabled="true"
                                                [(ngModel)]="persona.identificacion" [ngModelOptions]="{standalone: true}">
                                        </mat-form-field>

                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
                                            <mat-label>{{'global.fullName' | translate }} </mat-label>
                                            <input matInput autocomplete="off" class="text-left" name="nombre" disabled="true" [(ngModel)]="persona.nombre"
                                                [ngModelOptions]="{standalone: true}">
                                        </mat-form-field>

                                    </div>

                                    <mat-divider class="margin-bottom-md"></mat-divider>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="40" [label]="'Producto' | translate: {default: 'Producto'} | translate"
                                            formControlName="tipoProducto" [required]="true" [elements]="tipoProductos.asObservable()"
                                            [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="40"
                                            [label]="'Subproducto' | translate: {default: 'Subproducto'} | translate" formControlName="tipoSubproducto"
                                            [required]="true" [elements]="tipoSubproductos.asObservable()" [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="20">
                                            <mat-label>{{'Moneda' | translate: {default: 'Moneda'} | translate }}
                                            </mat-label>
                                            <input matInput class="text-center" [value]="monedaSubproducto" readonly>
                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row">
                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="100">
                                            <mat-label>{{'Número de Cuenta' | translate }} </mat-label>
                                            <input matInput disabled="true" style="font-size: 1.45em;" ngx-mask mask="0000 0000 00 00 00000000"
                                                [(ngModel)]="f.numeroCuenta.value" [ngModelOptions]="{standalone: true}" autocomplete="off" name="numeroCuenta"
                                                class="text-center" [value]="'00000000000000000000'">
                                            <mat-error *ngIf="f.numeroCuenta.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.numeroCuenta.errors?.pattern">{{'error.invalidCharacter' | translate}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                        <mat-panel-title>

                                            <button type="button" mat-icon-button type="button" color="primary">
                                                <i class="far fa-memo-circle-info fa-lg"></i>
                                            </button>
                                            <span class="margin-top-sm margin-bottom-lg semi-bold">
                                                Perfil de la Cuenta
                                            </span>
                                            <mat-panel-description>
                                            </mat-panel-description>
                                        </mat-panel-title>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                            [label]="'Origen de los Fondos' | translate: {default: 'Origen de los Fondos'} | translate"
                                            formControlName="origenFondo" [required]="true" [elements]="origenes.asObservable()" [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                            [label]="'Destino de los Fondos' | translate: {default: 'Destino de los Fondos'} | translate"
                                            formControlName="destinoCuenta" [required]="true" [elements]="destinos.asObservable()" [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="20"
                                            [label]="'Motivo del Servicio' | translate: {default: 'Motivo del Servicio'} | translate"
                                            formControlName="motivoSolicitud" [required]="true" [elements]="motivos.asObservable()" [attributeName]="'nombre'">
                                        </sirio-select-search>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                            [label]="'Promedio Mens. de Transacciones Créditos' | translate: {default: 'Promedio Mens. de Transacciones Créditos'} | translate"
                                            formControlName="transaccionesCredito" [required]="true" [elements]="promedioTransacciones.asObservable()"
                                            [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                            [label]="'Monto Promedio Mens. Créditos' | translate: {default: 'Monto Promedio Mens. Créditos'} | translate"
                                            formControlName="montoCredito" [required]="true" [elements]="promedioMontos.asObservable()"
                                            [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                            [label]="'Promedio Mens. de Transacciones Débitos' | translate: {default: 'Promedio Mens. de Transacciones Débitos'} | translate"
                                            formControlName="transaccionesDebito" [required]="true" [elements]="promedioTransacciones.asObservable()"
                                            [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                            [label]="'Monto Promedio Mens. Débitos' | translate: {default: 'Monto Promedio Mens. Débitos'} | translate"
                                            formControlName="montoDebito" [required]="true" [elements]="promedioMontos.asObservable()"
                                            [attributeName]="'nombre'">
                                        </sirio-select-search>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
                                            <mat-label>{{'Monto Promedio Mensual' | translate: {default:
                                                'Monto Promedio Mensual'} | translate }} </mat-label>
                                            <input maxlength="20" matInput autocomplete="off" name="montoPromedio" currencyMask [options]="{precision:2}"
                                                formControlName="montoPromedio" [required]="!esGobierno">
                                            <mat-error *ngIf="f.montoPromedio.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.montoPromedio.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                            [label]="'Promedio Mens. de Transacciones Electrónicas' | translate: {default: 'Promedio Mens. de Transacciones Electrónicas'} | translate"
                                            formControlName="transaccionesElectronico" [required]="true" [elements]="promedioTransacciones.asObservable()"
                                            [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                            [label]="'Monto Promedio Mens. Operaciones Electrónicas' | translate: {default: 'Monto Promedio Mens. Operaciones Electrónicas'} | translate"
                                            formControlName="montoElectronico" [required]="true" [elements]="promedioMontos.asObservable()"
                                            [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto"
                                            [label]="'Uso Modena Virtual' | translate: {default: 'Uso Modena Virtual'} | translate"
                                            formControlName="monedaVirtual" [elements]="monedaVirtuales.asObservable()" [attributeName]="'nombre'">
                                        </sirio-select-search>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                        <div fxFlex="100" fxFlex.gt-xs="30" class="text-center margin-top-xs margin-bottom-md">
                                            <mat-slide-toggle [color]="'primary'" formControlName="fondoExterior" [(ngModel)]="f.fondoExterior.value"
                                                name="fondoExterior">
                                                {{'¿Enviará o Recibirará Tansferencias En Divisas?' }}
                                            </mat-slide-toggle>
                                        </div>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="35" *ngIf="f.fondoExterior.value"
                                            [label]="'País de Origen' | translate: {default: 'País de Origen'} | translate" formControlName="paisOrigen"
                                            [required]="f.fondoExterior.value" [elements]="paises.asObservable()" [attributeName]="'nombre'">
                                        </sirio-select-search>



                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="35" *ngIf="f.fondoExterior.value"
                                            [label]="'País Destino' | translate: {default: 'País Destino'} | translate" formControlName="paisDestino"
                                            [required]="f.fondoExterior.value" [elements]="paises.asObservable()" [attributeName]="'nombre'">
                                        </sirio-select-search>
                                    </div>


                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                        <mat-panel-title>

                                            <button type="button" mat-icon-button type="button" color="primary">
                                                <i class="far fa-file-signature fa-lg"></i>
                                            </button>

                                            <span class="margin-top-sm margin-bottom-lg semi-bold">
                                                Condición de(las) Firma(s)
                                            </span>
                                        </mat-panel-title>
                                    </div>

                                    <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="8px">

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="33" [label]="'Tipo Participación'"
                                            [formControl]="itemForm.controls['tipoParticipacion']" [required]="true"
                                            [elements]="tipoParticipaciones.asObservable()" [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="33" [label]="'Tipo Firma'"
                                            [formControl]="itemForm.controls['tipoFirma']" [required]="true" [elements]="tipoFirmas.asObservable()"
                                            [attributeName]="'nombre'">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="100" fxFlex.gt-xs="33" [label]="'Tipo Firmante'"
                                            [formControl]="itemForm.controls['tipoFirmante']" [required]="true" [elements]="tipoFirmantes.asObservable()"
                                            [attributeName]="'nombre'">
                                        </sirio-select-search>

                                    </div>

                                    <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="8px">

                                        <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
                                            <mat-label>{{'Condiciones de Firma '}}</mat-label>
                                            <input autocomplete="off" class="text-left" matInput name="observacion" maxlength="80" uppercase
                                                formControlName="observacion">
                                            <mat-error *ngIf="f.observacion.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                    </div>
                                </div>


                                <div fxLayout="row" fxLayout="column">
                                    <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid || (loading$ | async) ">
                                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i>
                                            &nbsp;
                                            {{'button.save' | translate: {default:
                                            'global.notfound'} | translate }}
                                        </button>
                                    </div>

                                </div>

                            </mat-expansion-panel>
                            <mat-expansion-panel *ngIf="hasBasicData" (opened)="openInterviniente(true)" (closed)="openInterviniente(false)">

                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <i class="far fa-users fa-lg"></i>
                                        </button>
                                        <span class="margin-top-sm semi-bold">Interviniente(s) / Condición de Firma
                                        </span>
                                        <!-- Firmantes -->

                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <ng-container *ngIf="showIntervinientes">

                                    <div fxLayout="row" fxLayout="column">
                                        <sirio-persona-interviniente-table [cuenta]="cuentaBanco.id">
                                        </sirio-persona-interviniente-table>
                                    </div>

                                </ng-container>
                            </mat-expansion-panel>

                            <mat-expansion-panel *ngIf="hasBasicData" (opened)="openTarjetas(true)" (closed)="openTarjetas(false)">

                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <!-- <i class="far fa-users fa-lg"></i> -->
                                            <i class="far fa-credit-card-front fa-lg"></i>
                                        </button>
                                        <span class="margin-top-sm semi-bold ">Asignar la Tarjeta de Débito
                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <ng-container *ngIf="showAsociarTarjeta">
                                    <div fxLayout="row" fxLayout="column">
                                        <sirio-tarjeta-table [cuenta]="cuentaBanco">
                                        </sirio-tarjeta-table>
                                    </div>
                                </ng-container>
                            </mat-expansion-panel>

                            <mat-expansion-panel *ngIf="hasBasicData" (opened)="openAfliacionP2p(true)" (closed)="openAfliacionP2p(false)">

                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <!-- <i class="far fa-users fa-lg"></i> -->
                                            <!-- <i class="fal fa-mobile-retro fa-lg"></i> -->
                                            <i class="far fa-mobile-signal-out fa-lg"></i>
                                        </button>
                                        <span class="margin-top-sm semi-bold">Afiliar Servicio P2P/P2C
                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <ng-container *ngIf="showAfiliacionP2p">
                                    <div fxLayout="row" fxLayout="column">
                                        <sirio-p2p-telefono-table [cuenta]="cuentaBanco">
                                        </sirio-p2p-telefono-table>
                                    </div>
                                </ng-container>
                            </mat-expansion-panel>


                        </mat-accordion>
                    </ng-container>
                </sirio-card-content>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>