<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['agency.form']" current="{{'action.checkBalances'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{('agency.form')|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{'action.checkBalances' | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div fxLayout="column">
                        <form [formGroup]="itemForm" *ngIf="itemForm">

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <mat-form-field fxFlex="40">
                                    <mat-label>{{'agency.agency' | translate: {default: 'global.agency'} | translate }}</mat-label>
                                    <input matInput [value]="agenciaId + ' - ' +agencia" readonly>
                                </mat-form-field>

                                <sirio-select-search fxFlex="30" [label]="'agency.coin' | translate: {default: 'global.coin'} | translate"
                                    formControlName="moneda" [required]="true" [elements]="monedas.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.moneda?.errors">
                                </sirio-select-search>

                                <mat-form-field fxFlex="30">
                                    <mat-label>{{'agency.finalBalance' | translate: {default: 'global.finalBalance'} | translate }}
                                    </mat-label>
                                    <input matInput class="text-right" [value]="saldoAnterior | number: '1.2'" readonly>
                                </mat-form-field>
                            </div>
                        </form>

                        <mat-divider class="margin-bottom-md"></mat-divider>

                        <div fxLayout="column">
                            <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" fxFlex="100">
                                <div fxLayout="column" fxFlex="10">
                                    <h3>{{'global.cashBreakdown' | translate }}</h3>
                                </div>
                                <div fxLayout="column" fxFlex="auto">
                                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px">
                                        <mat-form-field fxLayout="column" *ngFor="let item of conos | async" fxFlex="32">
                                            <mat-label>{{'global.available' | translate }} ({{item.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}}
                                                {{ (item.esBillete?'global.bill':
                                                'global.coin') | translate }})
                                            </mat-label>
                                            <input matInput class="text-right" [value]="item.disponible | number: '1.0'" readonly>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- {{printErrors() | json}} -->
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>