<!-- <div mat-dialog-title>
  <h1>{{isNew?'Crear': 'Editar'}}</h1>
</div> -->
<sirio-dialog-header>
  <sirio-dialog-header-heading>{{'road.form'|translate}}</sirio-dialog-header-heading>
  <sirio-dialog-header-subheading>{{'action.add' | translate}}</sirio-dialog-header-subheading>
</sirio-dialog-header>


<form [formGroup]="form" (ngSubmit)="save()">
  <mat-dialog-content>

    <div class="person">
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
        <mat-form-field fxFlex>
          <mat-label>First Name</mat-label>
          <input type="text" formControlName="firstName" matInput>
        </mat-form-field>

        <mat-form-field fxFlex>
          <mat-label>Last Name</mat-label>
          <input type="text" formControlName="lastName" matInput>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row">
      <mat-form-field fxFlex>
        <mat-label>Street</mat-label>
        <input type="text" formControlName="street" matInput>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
      <mat-form-field fxFlex>
        <mat-label>Zipcode</mat-label>
        <input type="text" formControlName="zipcode" matInput>
      </mat-form-field>
      <mat-form-field fxFlex>
        <mat-label>City</mat-label>
        <input type="text" formControlName="city" matInput>
      </mat-form-field>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button [disabled]="!form.valid">{{'button.save'|translate}}</button>
  </mat-dialog-actions>
</form>