<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
     <!-- TODO: PENDIENTE IN18 -->
    <h1>Representante(s) Legal(es) de la Empresa  Autorizados a movilizar la cuenta / Apoderado</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">

      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>

</sirio-dialog-header>




<mat-dialog-content>
      <form [formGroup]="itemForm" *ngIf="itemForm">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
               
        <sirio-select-search fxFlex.gt-xs="33" [label]="'Tipo Documento'" [readonly]="!isNew"
            formControlName="tipoDocumento" [required]="true" [elements]="tipoDocumentoList.asObservable()" [attributeName]="'nombre'"
            [errors]="f.tipoDocumento?.errors">
        </sirio-select-search>

        <!-- <sirio-select-search fxFlex.gt-xs="33" [label]="'Tipo Documento'"  formControlName="Tipo Documento" [required]="true"
            [elements]="tipoDocumentoList.asObservable()" [attributeName]="'nombre'" [errors]="f.tipoDocumento?.errors">
        </sirio-select-search> -->

        <mat-form-field fxFlex="33">
            <mat-label>{{'Número de Documento' | translate: {default:
            'Número de Documento'} | translate }} </mat-label>
            <input matInput maxlength="33" minlength="1" autocomplete="off" name="identificacion" formControlName="identificacion"
            uppercase required>
            <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}}
            </mat-error>
            <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' |
            translate}}
            </mat-error>
        </mat-form-field>

        <div fxFlex.gt-sm="20" class="text-right margin-top-md">
            <mat-slide-toggle [color]="'primary'" formControlName="esApoderado" name="esApoderado">
            {{'¿Es Apoderado?' }}
            </mat-slide-toggle>

        </div>

        <!-- <mat-form-field fxFlex="auto">
            <mat-label>{{'¿Es Apoderado?' | translate: {default: 'global.isBill'} |
                translate }}</mat-label>
            <input matInput class="text-center" [value]="d.esApoderado ? 'SI' : 'NO'">
        </mat-form-field> -->


        <!-- <ng-container matColumnDef="activo">
            <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tw-5'">{{'tenure.status' | translate:
                {default: 'global.status'} | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="'tw-5'">
                <mat-chip mat-sm-chip [color]="element.activo ? 'accent' : 'warn'" [selected]="element.activo">
                    {{element.activo ? 'Activo' : 'Inactivo'}}
                </mat-chip>
            </mat-cell>
        </ng-container> -->


    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
    
        <mat-form-field fxFlex="33">
            <mat-label>{{'Fecha de Nacimiento' | translate: {default: 'Fecha de Nacimiento'} |
                translate }}</mat-label>
            <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fechaNacimiento"
                formControlName="fechaNacimiento" [matDatepicker]="fechaNacimientoPicker" [max]="todayValue" required>
            <mat-datepicker-toggle matSuffix [for]="fechaNacimientoPicker">
            </mat-datepicker-toggle>
            <mat-error *ngIf="f.fechaNacimiento.errors?.matDatepickerParse || f.fechaNacimiento.errors?.matDatepickerMax">
                Fecha Invalida
            </mat-error>
        </mat-form-field>
        <mat-datepicker #fechaNacimientoPicker></mat-datepicker>

        <sirio-select-search fxFlex="33"
            [label]="'naturalPerson.birthCountry' | translate: {default: 'global.birthCountry'} | translate"
            formControlName="pais" [required]="true" [elements]="paises.asObservable()" [attributeName]="'nombre'"
            [errors]="f.pais?.errors">
        </sirio-select-search>

        <mat-form-field fxFlex="33">
            <mat-label>{{'Teléfono' | translate }} </mat-label>
    
            <!-- [unmask]="true"  (accept)="onAccept" -->

            <!-- [telefonicas]="telefonicaList.asObservable()" -->

            <input matInput maxlength="200" minlength="11" autocomplete="off" phoneValidate    name="telefono" [imask]="{mask: '(0000) 000.00.00'}" [unmask]="true" class="text-center" formControlName="telefono" required>
            <mat-error *ngIf="f.telefono.errors?.required">{{'error.required' | translate}}
            </mat-error>
            <mat-error *ngIf="f.telefono.errors?.pattern">{{'error.invalidCharacter' |
              translate}}
            </mat-error>
            <mat-error *ngIf="f.telefono.errors?.phone">{{f.telefono.errors?.phone}}
            </mat-error>
          </mat-form-field>

    </div>

    <!-- isLegalPerson -->
    <!-- *ngIf="isLegalPerson()" -->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="isLegalPerson()">
                                                                         
        <sirio-select-search fxFlex.gt-xs="auto" [label]="'Condicion'"  formControlName="condicion" [required]="isLegalPerson()"
            [elements]="condicionList.asObservable()" [attributeName]="'nombre'" [errors]="f.condicion?.errors">
        </sirio-select-search>

    </div>
    <!-- [required]="true" -->

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
        <!-- TODO: PENDIENTE IN18 -->
        <mat-form-field fxFlex="auto">
            <mat-label>{{'Nombre y Apellido' | translate: {default:
                ' Nombres y Apellidos'} | translate }} </mat-label>
            <input matInput maxlength="80" minlength="1" autocomplete="off" name="nombre" formControlName="nombre"
                uppercase required>
            <mat-error *ngIf="f.nombre.errors?.required">{{'error.required' | translate}}
            </mat-error>
            <mat-error *ngIf="f.nombre.errors?.pattern">{{'error.invalidCharacter' |
                translate}}
            </mat-error>
        </mat-form-field>
    </div>


    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <mat-form-field fxFlex="50">
          <mat-label>{{'registro' | translate: {default:
              'Registro'} | translate }} </mat-label>
          <input matInput maxlength="200" minlength="1" autocomplete="off" name="registro" formControlName="registro"
              uppercase required>
          <mat-error *ngIf="f.registro.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.registro.errors?.pattern">{{'error.invalidCharacter' |
              translate}}
          </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="50">
          <mat-label>{{'Número' | translate: {default:
              'Número'} | translate }} </mat-label>
          <input matInput maxlength="100" minlength="1" autocomplete="off" name="numero" formControlName="numero"
              uppercase required>
          <mat-error *ngIf="f.numero.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.numero.errors?.pattern">{{'error.invalidCharacter' |
              translate}}
          </mat-error>
      </mat-form-field>
    
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

        <mat-form-field fxFlex="33">
            <mat-label>{{'Tomo' | translate: {default:
                'Tomo'} | translate }} </mat-label>
            <input matInput maxlength="100" minlength="1" autocomplete="off" name="tomo" formControlName="tomo"
                uppercase required>
            <mat-error *ngIf="f.tomo.errors?.required">{{'error.required' | translate}}
            </mat-error>
            <mat-error *ngIf="f.tomo.errors?.pattern">{{'error.invalidCharacter' |
                translate}}
            </mat-error>
        </mat-form-field>

      <mat-form-field fxFlex="33">
        <mat-label>{{'Folio' | translate: {default:
            'Folio'} | translate }} </mat-label>
        <input matInput maxlength="100" minlength="1" autocomplete="off" name="folio" formControlName="folio"
            uppercase required>
        <mat-error *ngIf="f.folio.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.folio.errors?.pattern">{{'error.invalidCharacter' |
            translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="44">
          <mat-label>{{'global.date' | translate: {default: 'global.Date'} |
              translate }}</mat-label>
          <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fecha"
              formControlName="fecha" [matDatepicker]="fechaPicker" [max]="todayValue"  required>
          <mat-datepicker-toggle matSuffix [for]="fechaPicker">
          </mat-datepicker-toggle>
          <mat-error *ngIf="f.fecha.errors?.matDatepickerParse || f.fechaNacimiento.errors?.matDatepickerMax">
              Fecha Invalida
          </mat-error>
      </mat-form-field>
      <mat-datepicker #fechaPicker></mat-datepicker> 
    
    </div>

       <!-- {{printErrors() | json}}  -->
       
       </form>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="itemForm">
    <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm.invalid">{{'button.save'|translate}}</button>
  </mat-dialog-actions>