<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['institution.form']" current="action.edit"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'institution.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{'action.edit' | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-subheading></sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <sirio-person-query (result)="queryResult($event)" [entity]="'gestioncomercial'"></sirio-person-query>

                    <ng-container *ngIf="loaded$ | async" tabNavigation>

                        <mat-accordion class="expansion-headers-align">

                            <mat-expansion-panel (opened)="openServicios(true)" (closed)="openServicios(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button type="button" mat-icon-button type="button" color="primary">
                                            <i class="fal fa-handshake fa-xl"></i>
                                        </button>
                                        <span class="margin-top-sm semi-bold">
                                            {{'Servicios' | translate}}
                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="row" fxLayout="column" *ngIf="showServicios">
                                    <sirio-servicios-persona-table [persona]="persona"></sirio-servicios-persona-table>
                                </div>
                            </mat-expansion-panel>


                            <mat-expansion-panel (opened)="openProductos(true)" (closed)="openProductos(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button type="button" mat-icon-button type="button" color="primary">
                                            <i class="fal fa-piggy-bank fa-xl"></i>
                                        </button>
                                        <span class="margin-top-sm semi-bold">
                                            {{'Productos' | translate}}
                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="row" fxLayout="column" *ngIf="showProductos">
                                    <sirio-productos-persona-table [persona]="persona"></sirio-productos-persona-table>
                                </div>
                            </mat-expansion-panel>


                            <mat-expansion-panel (opened)="openCreditos(true)" (closed)="openCreditos(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button type="button" mat-icon-button type="button" color="primary">
                                            <i class="fal fa-wallet fa-xl"></i>
                                        </button>
                                        <span class="margin-top-sm semi-bold">
                                            {{'Créditos' | translate}}
                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="row" fxLayout="column" *ngIf="showCreditos">
                                    <sirio-creditos-persona-table [persona]="persona"></sirio-creditos-persona-table>
                                </div>
                            </mat-expansion-panel>


                        </mat-accordion>
                    </ng-container>
                </sirio-card-content>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>