<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
    <h1>{{dataServicio.servicio.nombre}}</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">

      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="accent">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>

</sirio-dialog-header>


<form [formGroup]="itemForm" *ngIf="itemForm">
  <mat-dialog-content>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <mat-form-field fxFlex="20">
        <mat-label>{{'commercialService.identification' | translate: {default: 'global.identification'} | translate }}
        </mat-label>
        <input matInput class="text-center" [value]="dataServicio.persona.tipoDocumento+' - '+dataServicio.persona.identificacion" readonly>
      </mat-form-field>

      <mat-form-field fxFlex="80">
        <mat-label>{{'commercialService.name' | translate: {default: 'global.name'} | translate }}
        </mat-label>
        <input matInput class="text-center" [value]="dataServicio.persona.nombre" readonly>
      </mat-form-field>

    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <sirio-select-search fxFlex="70" [label]="'commercialService.countNumber' | translate: {default: 'global.accountNumber'} | translate"
        formControlName="cuenta" [required]="true" [elements]="cuentas.asObservable()" [attributeName]="'descripcion'"
        [errors]="f.cuenta?.errors">
      </sirio-select-search>

      <mat-form-field fxFlex="30">
        <mat-label>{{'commercialService.phone' | translate: {default: 'global.phone'} | translate }} </mat-label>
        <input matInput name="telefono" autocomplete="off" formControlName="telefono" [imask]="{mask: '(0000) 000.00.00'}" [unmask]="true" class="text-center"
          phoneValidate [telefonicas]="telefonicas.asObservable()" required>
        <mat-error *ngIf="f.telefono.errors?.required">{{'error.required' | translate}} </mat-error>
        <mat-error *ngIf="f.telefono.errors?.phone">{{f.telefono.errors?.phone}} </mat-error>
      </mat-form-field>

    </div>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm.invalid">{{'button.save'|translate}}</button>
  </mat-dialog-actions>
</form>