<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['sendRemittances.form']" current="{{'action.dispatch'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'sendRemittances.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{'action.dispatch' | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                    </sirio-card-header-actions>
                </sirio-card-header>

                <sirio-card-content fxLayout="column">
                    <div fxLayout="column">
                        <form [formGroup]="itemForm" *ngIf="itemForm" tabNavigation>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="30">
                                    <mat-label>{{'sendRemittances.receivingUnit' | translate: {default: 'global.receivingUnit'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.nombreReceptor" readonly>
                                </mat-form-field>

                                <!-- <mat-form-field fxFlex="100" fxFlex.gt-xs="20">
                                    <mat-label>{{'Fecha de la Solicitud' | translate: {default: 'Fecha de la Solicitud'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.fechaSolicitud | date: 'dd/MM/yyyy'" readonly class="text-center">
                                </mat-form-field> -->

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="20">
                                    <mat-label>{{'sendRemittances.coin' | translate: {default: 'global.coin'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.nombreMoneda" readonly>
                                </mat-form-field>

                                <sirio-select-search *ngIf="!esTransportista" fxFlex="25"
                                    [label]="'sendRemittances.carrierCompany' | translate: {default: 'global.carrierCompany'} | translate"
                                    formControlName="transportista" [required]="!esTransportista" [elements]="transportistas.asObservable()"
                                    [attributeName]="'nombre'">
                                </sirio-select-search>

                                <sirio-select-search fxFlex="auto" [label]="'sendRemittances.tripType' | translate: {default: 'global.tripType'} | translate"
                                    formControlName="viaje" [required]="true" [elements]="viajes.asObservable()" [attributeName]="'nombre'">
                                </sirio-select-search>

                                <!-- <mat-form-field fxFlex="100" fxFlex.gt-xs="20">
                                    <mat-label>{{'Monto Solicitado' | translate: {default: 'Monto Solicitado'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.montoSolicitado | number: '1.2'" readonly class="text-right">
                                </mat-form-field> -->

                            </div>

                            <!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="!esTransportista">
                                <mat-form-field fxFlex="100">
                                    <mat-label>{{'sendRemittances.boxesOrBagsUsed' | translate: {default: 'global.boxesOrBagsUsed'} | translate }}
                                    </mat-label>
                                    <input matInput class="text-right" [value]="remesa.cajasBolsas" readonly>
                                </mat-form-field>

                                <sirio-select-search fxFlex="70" [label]="'Transportista' | translate: {default: 'Transportista'} | translate"
                                    formControlName="transportista" [required]="!esTransportista" [elements]="transportistas.asObservable()"
                                    [attributeName]="'nombre'" [errors]="f.transportista?.errors">
                                </sirio-select-search>
                            </div> -->

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <sirio-select-search fxFlex="100" fxFlex.gt-xs="100"
                                    [label]="'sendRemittances.transportReponsibles' | translate: {default: 'global.transportReponsibles'} | translate"
                                    formControlName="responsables" [required]="true" [elements]="empleados.asObservable()" [attributeName]="'nombre'"
                                    [multiple]="true">
                                </sirio-select-search>
                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <!-- <sirio-select-search fxFlex="25" [label]="'Tipo de Viaje' | translate: {default: 'Tipo de Viaje'} | translate"
                                    formControlName="viaje" [required]="true" [elements]="viajes.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.viaje?.errors">
                                </sirio-select-search> -->

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
                                    <mat-label>{{'sendRemittances.leads' | translate: {default: 'global.leads'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.plomos" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="20">
                                    <mat-label>{{'sendRemittances.amountToSend' | translate: {default: 'global.amountToSend'} | translate }}
                                    </mat-label>
                                    <input matInput class="text-right" [value]="remesa.montoEnviado | number: '1.2'" readonly>
                                </mat-form-field>

                            </div>
                        </form>
                    </div>
                </sirio-card-content>

                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid || (loading$ | async)">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.send' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>