<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['sendRemittances.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">

                <sirio-card-header>
                    <sirio-card-header-heading>{{'sendRemittances.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit') | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div fxLayout="column">
                        <form id="enviarRemesaForm" [formGroup]="itemForm" *ngIf="itemForm">

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <sirio-select-search fxFlex="30" *ngIf="!esTransportista"
                                    [label]="'sendRemittances.receivingUnit' | translate: {default: 'global.receivingUnit'} | translate" formControlName="receptor"
                                    [required]="!esTransportista" [elements]="acopios.asObservable()" [attributeName]="'nombre'" [errors]="f.receptor?.errors">
                                </sirio-select-search>

                                <mat-form-field fxFlex.gt-xs="30" *ngIf="esTransportista">
                                    <mat-label>{{'sendRemittances.receivingUnit' | translate: {default: 'global.receivingUnit'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="nombreReceptor" readonly>
                                </mat-form-field>

                                <sirio-select-search fxFlex="20" [label]="'sendRemittances.coin' | translate: {default: 'global.coin'} | translate" formControlName="moneda"
                                    [required]="true" [elements]="monedas.asObservable()" [attributeName]="'nombre'" [errors]="f.transportista?.errors">
                                </sirio-select-search>

                                <sirio-select-search fxFlex="25" [label]="'sendRemittances.carrierCompany' | translate: {default: 'global.carrierCompany'} | translate"
                                    formControlName="transportista" [required]="!esTransportista" [elements]="transportistas.asObservable()"
                                    [attributeName]="'nombre'" [errors]="f.transportista?.errors" *ngIf="!esTransportista">
                                </sirio-select-search>

                                <sirio-select-search fxFlex="auto" [label]="'sendRemittances.tripType' | translate: {default: 'global.tripType'} | translate"
                                    formControlName="viaje" [required]="true" [elements]="viajes.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.viaje?.errors">
                                </sirio-select-search>

                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <sirio-select-search fxFlex="100"
                                    [label]="'sendRemittances.transportReponsibles' | translate: {default: 'global.transportReponsibles'} | translate"
                                    formControlName="responsables" [required]="true" [elements]="empleados.asObservable()" [attributeName]="'nombre'"
                                    [multiple]="true" [errors]="f.responsables?.errors">
                                </sirio-select-search>
                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <mat-form-field fxFlex.gt-xs="20" *ngIf="!esTransportista">
                                    <mat-label>{{'sendRemittances.boxesOrBagsUsed' | translate: {default: 'global.boxesOrBagsUsed'} |
                                        translate }}
                                    </mat-label>
                                    <input matInput type="number" autocomplete="off" name="cajasBolsas" formControlName="cajasBolsas"
                                        [required]="!esTransportista" class="text-right">
                                    <mat-error *ngIf="f.cajasBolsas.errors?.required">{{'error.required' | translate}}</mat-error>
                                </mat-form-field>

                                <!-- <mat-form-field >
                                    <mat-label>{{'Plomos Utilizados' | translate: {default: 'Plomos Utilizados'} | translate }}
                                    </mat-label>
                                    <input matInput autocomplete="off" minlength="1" maxlength="200" name="plomos" formControlName="plomos" uppercase required>
                                    <mat-error *ngIf="f.plomos.errors?.required">{{'error.required' | translate}}</mat-error>
                                    <mat-error *ngIf="f.plomos.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                </mat-form-field> -->


                                <mat-form-field fxFlex="auto">
                                    <mat-label># {{'sendRemittances.leads' | translate: {default: 'global.leads'} | translate }}</mat-label>
                                    <mat-chip-list #chipList aria-label="Plomos Utilizados" [formControl]="plomoCtrl">
                                        <mat-chip *ngFor="let plo of plomoList" (removed)="removePlomo(plo)">
                                            {{plo}}
                                            <button matChipRemove>
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip>
                                        <input placeholder="Agregar..." [matChipInputFor]="chipList" autocomplete="off" matChipInputAddOnBlur="true"
                                            (matChipInputTokenEnd)="addPlomo($event)">
                                    </mat-chip-list>
                                    <mat-error *ngIf="plomoCtrl.errors?.required">{{'error.required' | translate}}</mat-error>
                                    <mat-error *ngIf="plomoCtrl.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                    <mat-error *ngIf="plomoCtrl.errors?.exists">{{'El plomo ya esta registrado' | translate}}</mat-error>
                                    <mat-error *ngIf="plomoCtrl.errors?.difference">{{'Deben coincidir con la cantidad de cajas o bolsas utilizadas' | translate}}</mat-error>
                                    <mat-error *ngIf="plomoCtrl.errors?.length">{{plomoCtrl.errors?.length}}</mat-error>
                                </mat-form-field>

                                <!-- {{plomoCtrl.errors|json}} -->    

                                <mat-form-field fxFlex="20" appearance="standart">
                                    <mat-label>{{'sendRemittances.amountToSend' | translate: {default: 'global.amountToSend'} | translate }} </mat-label>
                                    <input matInput max="9999999999999.99" autocomplete="off" currencyMask name="montoEnviado" formControlName="montoEnviado"
                                        [options]="{precision:2}" required readonly>
                                    <mat-error *ngIf="f.montoEnviado.errors?.max">Debe ser menor que 9.999.999.999.999,99</mat-error>
                                </mat-form-field>
                            </div>
                        </form>

                        <mat-divider class="margin-bottom-md"></mat-divider>

                        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" fxFlex="100" *ngIf="f.moneda.value">

                            <div fxLayout="column" fxFlex="40" *ngIf="esTransportista">
                                <form [formGroup]="materialForm" *ngIf="materialForm">
                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                        <h3>{{'sendRemittances.usedMaterials' | translate: {default: 'global.usedMaterials'} | translate }}</h3>
                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                        <sirio-select-search fxFlex="70" [label]="'sendRemittances.material' | translate: {default: 'global.material'} | translate"
                                            formControlName="material" [required]="true" [elements]="materiales.asObservable()" [attributeName]="'nombre'"
                                            [errors]="mf.material?.errors">
                                        </sirio-select-search>

                                        <mat-form-field fxFlex="20">
                                            <mat-label>{{'sendRemittances.quantity' | translate: {default: 'global.quantity'} | translate }}
                                            </mat-label>
                                            <input matInput class="text-center" max="99" min="0" type="number" autocomplete="off" name="cantidad"
                                                formControlName="cantidad">
                                            <mat-error *ngIf="mf.cantidad.errors?.max">No puede superior a 99</mat-error>
                                        </mat-form-field>

                                        <div class="text-center" fxFlex.gt-xs="auto" fxFlex="1 1 0%">
                                            <button color="black" [disabled]="materialForm.invalid" (click)="addMaterial()" mat-button>
                                                <mat-icon class="margin-top-md">add_circle</mat-icon>
                                            </button>
                                        </div>
                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                        <ngx-datatable fxFlex [scrollbarV]="false" class="material bg-white margin-top-md" [columnMode]="'flex'"
                                            [messages]="{emptyMessage: 'No hay registros de Materiales...',totalMessage: 'Cantidad de Materiales'}"
                                            [sorts]="[{prop: 'id', dir: 'asc'}]" [headerHeight]="50" [footerHeight]="50" [rowHeight]="70" [limit]="10"
                                            [rows]="materialUtilizadoList | async" *ngIf="materialForm">

                                            <ngx-datatable-column [flexGrow]="2" [sortable]="true">
                                                <ng-template ngx-datatable-header-template>
                                                    <div class="text-left">{{'sendRemittances.material' | translate: {default: 'global.material'} | translate }}</div>
                                                </ng-template>
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    <div style="white-space: break-spaces;" class="text-left">{{ getNombreMaterial(row?.material) }}</div>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                                                <ng-template ngx-datatable-header-template>
                                                    <div class="text-center">{{'sendRemittances.quantity' | translate: {default: 'global.quantity'} | translate }}</div>
                                                </ng-template>
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    <div style="white-space: break-spaces;" class="text-center">{{ row?.cantidad }}</div>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column name="" [flexGrow]="0.5">
                                                <ng-template ngx-datatable-header-template>
                                                    <div class="text-center"></div>
                                                </ng-template>
                                                <ng-template let-row="row" ngx-datatable-cell-template>
                                                    <div class="text-center">
                                                        <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;"
                                                            (click)="deleteMaterial(row)" matTooltip="Eliminar">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>

                                    </div>

                                </form>
                            </div>

                            <mat-divider [vertical]="true" class="margin-bottom-md"></mat-divider>

                            <div fxLayout="column" fxFlex="auto" fxLayoutAlign="start stretch">

                                    <h3>{{'global.cashBreakdown' | translate }}</h3>

                                <div fxLayout="column" fxFlex>
                                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px" fxLayoutAlign="start stretch">

                                        <mat-form-field fxLayout="column" *ngFor="let item of conos | async;let i = index" fxFlex="49">
                                            <mat-label>{{item.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{ (item.esBillete?'global.bill':
                                                'global.coin') | translate }} ({{'global.quantityAvailable' | translate }} {{item.disponible}})
                                            </mat-label>
                                            <input matInput class="text-right" #cantidad="ngModel" [(ngModel)]="item.cantidad" min="0" [max]="item.disponible"
                                                autocomplete="off" matInput type="number" (ngModelChange)="updateValuesErrors(item)"
                                                [disabled]="item.disponible==0" />
                                            <mat-error *ngIf="cantidad.invalid">Cantidad Máxima {{item.disponible | number:'1.0'}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- {{printErrors() | json}} -->
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  || f.montoEnviado?.value <= 0 ||  this.plomoCtrl.errors?.difference">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>