<mat-toolbar>
    <button mat-icon-button matTooltip="{{'button.back' | translate: {default: 'global.notfound'} | translate}}"
        routerLink="/persona/natural">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class=" h1 mt-10" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        {{'naturalPerson.form' | translate: {default: "global.notfound"} }}
    </span>
    <!-- <span fxFlex></span> -->
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
        <!-- <button mat-icon-button matTooltip="{{'button.ai' | translate: {default: 'global.notfound'} | translate }}" 
        *ngIf="personaNatural.id" (click)="activateOrInactivate()">
            <mat-icon>check_circle</mat-icon>
        </button> -->
        <button mat-icon-button matTooltip="{{'button.save' | translate: {default: 'global.notfound'} | translate}}"
            (click)="save()" [disabled]="itemForm?.invalid">
            <mat-icon>trash</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div id="itemForm" class="form-container">
    <form [formGroup]="itemForm" *ngIf="itemForm" class="form-content" (ngSubmit)="save()">

        <div fxLayout="row wrap" fxLayoutAlign="center center">

            <div fxFlex="100" fxFlex.gt-xs="25" class="pr-4">
                <app-select-simple
                    [label]="'naturalPerson.documentType' | translate: {default: 'global.documentType'} | translate"
                    formControlName="tipoDocumento" [required]="true" [elements]="tipoDocumentos.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.tipoDocumento?.errors">
                </app-select-simple>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="20" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'naturalPerson.identification' | translate: {default: 'global.identification'} |
                        translate }}</mat-label>
                    <input matInput maxlength="15" name="identificacion" formControlName="identificacion" uppercase
                        required>
                    <mat-error *ngIf="f.identificacion.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.identificacion.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="20" class="pr-4">
                <mat-form-field appearance="outline" class="full-width ">
                    <mat-label>{{'naturalPerson.birthDate' | translate: {default: 'global.birthDate'} | translate }}
                    </mat-label>
                    <input matInput name="fechaNacimiento" formControlName="fechaNacimiento"
                        [matDatepicker]="fechaNacimientoPicker" formControlName="fechaNacimiento" autocomplete="off"
                        [max]="today" required class="text-center">
                    <mat-datepicker-toggle matSuffix [for]="fechaNacimientoPicker"></mat-datepicker-toggle>
                    <mat-error *ngIf="f.fechaNacimiento.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.fechaNacimiento.errors?.matDatepickerMax">No puede ser mayor al día de Hoy
                    </mat-error>
                </mat-form-field>
                <mat-datepicker #fechaNacimientoPicker></mat-datepicker>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="35">
                <app-select-search
                    [label]="'naturalPerson.birthCountry' | translate: {default: 'global.birthCountry'} | translate"
                    formControlName="pais" [required]="true" [elements]="paises.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.pais?.errors">
                </app-select-search>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="25" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'naturalPerson.firstName' | translate: {default: 'global.firstName'} | translate }}
                    </mat-label>
                    <input matInput maxlength="15" name="primerNombre" formControlName="primerNombre" uppercase
                        required>
                    <mat-error *ngIf="f.primerNombre.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.primerNombre.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="25" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'naturalPerson.secondName' | translate: {default: 'global.secondName'} | translate }}
                    </mat-label>
                    <input matInput maxlength="15" name="segundoNombre" formControlName="segundoNombre" uppercase>
                    <mat-error *ngIf="f.segundoNombre.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.segundoNombre.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="25" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'naturalPerson.surname' | translate: {default: 'global.surname'} | translate }}
                    </mat-label>
                    <input matInput maxlength="15" name="primerApellido" formControlName="primerApellido" uppercase
                        required>
                    <mat-error *ngIf="f.primerApellido.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.primerApellido.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="25">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'naturalPerson.secondSurname' | translate: {default: 'global.secondSurname'} |
                        translate }}</mat-label>
                    <input matInput maxlength="15" name="segundoApellido" formControlName="segundoApellido" uppercase>
                    <mat-error *ngIf="f.segundoApellido.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.segundoApellido.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="30" class="pr-4">
                <app-select-search
                    [label]="'naturalPerson.nationality' | translate: {default: 'global.nationality'} | translate"
                    formControlName="nacionalidad" [required]="true" [elements]="paises.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.nacionalidad?.errors">
                </app-select-search>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="30" class="pr-4">
                <app-select-search
                    [label]="'naturalPerson.anotherNationality' | translate: {default: 'global.anotherNationality'} | translate"
                    formControlName="otraNacionalidad" [required]="false" [elements]="paises.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.otraNacionalidad?.errors">
                </app-select-search>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="25" class="pr-4">
                <app-select-simple [label]="'naturalPerson.gender' | translate: {default: 'global.gender'} | translate"
                    formControlName="genero" [required]="true" [elements]="generos.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.genero?.errors">
                </app-select-simple>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="15">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'naturalPerson.familyBurden' | translate: {default: 'global.familyBurden'} | translate
                        }}</mat-label>
                    <input matInput maxlength="15" name="cargaFamiliar" formControlName="cargaFamiliar"
                        class="text-center" uppercase required>
                    <mat-error *ngIf="f.cargaFamiliar.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.cargaFamiliar.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="30" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'naturalPerson.email' | translate: {default: 'global.email'} | translate }}</mat-label>
                    <input matInput maxlength="15" name="email" formControlName="email" uppercase required>
                    <mat-error *ngIf="f.email.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.email.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="30" class="pr-4">
                <app-select-search
                    [label]="'naturalPerson.profession' | translate: {default: 'global.profession'} | translate"
                    formControlName="profesion" [required]="true" [elements]="profesiones.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.profesion?.errors">
                </app-select-search>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="20" class="pr-4">
                <app-select-simple [label]="'naturalPerson.tenure' | translate: {default: 'global.tenure'} | translate"
                    formControlName="tenencia" [required]="true" [elements]="tenencias.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.tenencia?.errors">
                </app-select-simple>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="20">
                <app-select-simple
                    [label]="'naturalPerson.maritalStatus' | translate: {default: 'global.maritalStatus'} | translate"
                    formControlName="estadoCivil" [required]="true" [elements]="estadosCiviles.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.genero?.errors">
                </app-select-simple>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="20" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'naturalPerson.spouseIdentification' | translate: {default:
                        'global.spouseIdentification'} | translate }}</mat-label>
                    <input matInput maxlength="15" name="identificacionConyuge" formControlName="identificacionConyuge"
                        uppercase required>
                    <mat-error *ngIf="f.identificacionConyuge.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.identificacionConyuge.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="35" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'naturalPerson.spouseName' | translate: {default: 'global.spouseName'} | translate }}
                    </mat-label>
                    <input matInput maxlength="15" name="conyuge" formControlName="conyuge" uppercase required>
                    <mat-error *ngIf="f.conyuge.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.conyuge.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="45">
                <app-select-search
                    [label]="'naturalPerson.spouseSourceIncome' | translate: {default: 'global.spouseSourceIncome'} | translate"
                    formControlName="fuenteIngreso" [required]="false" [elements]="actividadesEconomicas.asObservable()"
                    [attributeName]="'nombre'" [errors]="f.fuenteIngreso?.errors">
                </app-select-search>
            </div>
        </div>

    </form>
    <mat-toolbar>
        <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
            <button type="button" mat-button routerLink="/persona/natural">{{'button.cancel' | translate:
                {default: 'global.notfound'} | translate }}</button>
            <button color="primary" (click)="save()" mat-raised-button
                [disabled]="itemForm?.invalid ||  (!isNew)">{{'button.save' | translate: {default: 'global.notfound'} |
                translate }}</button>
        </div>

    </mat-toolbar>
</div>