<mat-form-field appearance="outline" fxFlex="auto">
    <mat-label>{{label}}</mat-label>

    <mat-select  *ngIf="!readonly && !disabled" [formControl]="selectControl" #singleSelect
        (change)="propagateChange($event.target.value)" (blur)="propagateTouched($event)" [required]="required">
        <mat-option *ngIf="!required" ><small>NINGUNO</small></mat-option>
        <mat-option *ngFor="let elem of filteredElements | async" [value]="elem.id">
            <small>{{elem[attributeName]}}</small>
        </mat-option>
    </mat-select>
    <mat-icon matSuffix class="secondary-text" *ngIf="icon">{{icon}}</mat-icon>
    <mat-error *ngIf="selectControl.errors?.required ">Requerido</mat-error>

    <!-- {{selectControl?.value | json}}  -->
    <input matInput [value]="showName(selectControl.value)" readonly *ngIf="readonly || disabled" [disabled]="disabled">
</mat-form-field>