<mat-form-field fxFlex="auto" >
    <mat-label>{{label}}</mat-label>

    <mat-select [formControl]="selectSearchControl" #searchSelect [multiple]="multiple" *ngIf="!readonly"
        (change)="propagateChange($event.target.value)" (blur)="propagateTouched($event)" [required]="required">
        <!-- <mat-option>
      <ngx-mat-select-search [formControl]="filterCtrl" [placeholderLabel]="'Buscar...' " [noEntriesFoundLabel]="'busqueda sin resultados'">
        <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
      </ngx-mat-select-search>
    </mat-option> -->
        <mat-option>
            <ngx-mat-select-search *ngIf="true" [formControl]="filterCtrl"
                [placeholderLabel]="'global.search' | translate: {default: 'global.notfound'} | translate"
                [noEntriesFoundLabel]="'global.noSearchResult' | translate: {default: 'global.notfound'} | translate"
                [preventHomeEndKeyPropagation]="true">
                <mat-icon ngxMatSelectSearchClear>delete</mat-icon>
            </ngx-mat-select-search>
        </mat-option>

        <mat-option *ngIf="!required">Ninguno</mat-option>
        <mat-option *ngFor="let elem of filteredElements | async" [value]="elem.id">
            <small>{{elem[attributeName]}}</small>
        </mat-option>
    </mat-select>
    <mat-error *ngIf="selectSearchControl.errors?.invalid&&!readonly">Requerido</mat-error>
    <!-- {{errors|json}} -->
    <input matInput [value]="selectSearchControl.value?selectSearchControl.value[attributeName]:''" readonly *ngIf="readonly">



</mat-form-field>
<!--{{elementName}} {{formCtrlElement.controls[elementName]}} appearance="outline"-->