@use 'sass:math';
@import "var";

.card-content {
  padding: 0;
}

.header {
  padding: math.div($spacing, 1.5) $spacing;

  .subheading {
    font: var(--font-caption);

    .mat-icon {
      width: 14px;
      height: 14px;
      font-size: 14px;
      vertical-align: text-top;
    }
  }
}


.text-padding {
  padding: 24px;
}

p {
  margin: 0;
  color: #959595;
 
}

span{
  font-size: 14px;
  strong{
    color: #444444;
  }
}

.progress-bar {
  margin-top: 8px;
}

.h1 {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 0;
}

h3 {
  padding: 16px 16px 0;
  color: rgb(58, 58, 58);
}

h2 {
  padding: 14px 14px 0;
  font-weight: 600 !important;
  
}

.text-success{
  color: $color-success;
}

.mat-expansion-panel-header {
  .mat-content {
      overflow: inherit;
  }
}

.expansion-headers-align {
  flex-basis: 0;
  .mat-expansion-panel-header-title {
      max-width: 93.5%;
  }
  .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
      display: contents;
  }
}

@media (max-width: 1370) {
  .expansion-headers-align {
      .mat-expansion-panel-header-title {
          max-width: 125px !important;
      }
      .mat-expansion-panel-header-description {
          font-size: 14px !important;
      }
  }
}



