<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['withdrawal.form']" current="{{isNew?'action.add':'action.edit'}}">
        </sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'withdrawal.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit')| translate}}
                    </sirio-card-header-subheading>
                    <sirio-card-header-subheading></sirio-card-header-subheading>
                    <sirio-card-header-actions>



                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>clear_all</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">


                    <div fxLayout="column">
                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="15px">

                            <div fxFlex="15">
                                <mat-slide-toggle class="margin-top-md" [color]="'primary'"
                                    [(ngModel)]="esRetiroEfectivo" (change)="retiroEfectivoEvaluate($event)">
                                    {{'checkPayment.retiroEfectivo' | translate: {default: 'global.retiroEfectivo'} |
                                    translate }}
                                </mat-slide-toggle>
                            </div>

                            <div fxFlex="15">
                                <mat-slide-toggle class="margin-top-md" [color]="'primary'" [(ngModel)]="esPagoCheque"
                                    (change)="pagoChequeEvaluate($event)">
                                    {{'checkPayment.checkPayment' | translate: {default: 'global.checkPayment'} |
                                    translate }}
                                </mat-slide-toggle>
                            </div>

                            <div fxFlex="15">
                                <mat-slide-toggle class="margin-top-md" [color]="'primary'"
                                    [(ngModel)]="esPagoChequeGerencia" (change)="pagoChequeGerenciaEvaluate($event)">
                                    {{'certifiedCheckPayment.certifiedCheckPayment' | translate: {default:
                                    'global.certifiedCheckPayment'} | translate }}
                                </mat-slide-toggle>
                            </div>

                        </div>
                    </div>

                    <form [formGroup]="itemForm" *ngIf="itemForm">


                        <!-- primera Fila del Formulario  Nota: Borrar este comentario al Final -->
                        <div fxLayout="column">
                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                                *ngIf="esPagoCheque || esPagoChequeGerencia">

                                <mat-form-field fxFlex.gt-sm="25">
                                    <mat-label>{{'form.checkAccount' | translate: {default: 'global.checkAccount'} |
                                        translate }}
                                    </mat-label>
                                    <input matInput name="numeroCuenta" autocomplete="off" num-account-validate
                                        formControlName="numeroCuenta" mask="0000 0000 00 00 00000000"
                                        [required]="esPagoChequeGerencia || esPagoCheque">
                                    <mat-error *ngIf="f.numeroCuenta.errors?.required">Es requerido</mat-error>
                                    <mat-error *ngIf="!f.numeroCuenta.errors?.required && f.numeroCuenta.errors?.account">
                                        El num. de cuenta es invalido</mat-error>
                                    <mat-error *ngIf="f.numeroCuenta.errors?.notexists">{{'no existe numero de cuenta'}}
                                    </mat-error>
                                    <mat-error *ngIf="f.numeroCuenta.errors?.validacion">{{'debe indicar el numero de cuenta'}}</mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.gt-sm="15">
                                    <mat-label>{{'withdrawal.serial' | translate: {default: 'global.serial'} | translate
                                        }}
                                    </mat-label>
                                    <input matInput maxlength="10"  minlength="8" name="serialCheque"
                                        autocomplete="off" formControlName="serialCheque" 
                                        [required]="esPagoChequeGerencia || esPagoCheque">
                                    <mat-error *ngIf="f.serialCheque.errors?.pattern">{{'error.invalidCharacter' |
                                        translate}}</mat-error>
                                    <mat-error *ngIf="f.serialCheque.errors?.required">Es requerido</mat-error>
                                    <mat-error *ngIf="f.serialCheque.errors?.minlength">Debe tener al menos 8 digitos</mat-error>
                                    
                                </mat-form-field>

                                <mat-form-field fxFlex.gt-sm="25">
                                    <mat-label>{{'withdrawal.checkAmountPayable' | translate: {default:
                                        'global.checkAmountPayable'} | translate }}
                                    </mat-label>
                                    <input matInput max="999999999999999.99" min="0.01" autocomplete="off"
                                        name="montoCheque" formControlName="montoCheque" currencyMask
                                        [options]="{precision:2}" [required]="esPagoChequeGerencia || esPagoCheque">
                                    <mat-error *ngIf="f.montoCheque.errors?.required">Es requerido</mat-error>
                                    <mat-error *ngIf="f.montoCheque.errors?.max">Debe ser menor que 99.999.999,99
                                    </mat-error>
                                    <mat-error *ngIf="f.montoCheque.errors?.min">No debe ser menor que 0,01</mat-error>
                                    <mat-error *ngIf="f.montoCheque.errors?.differenceMonto">existe diferencia con el
                                        monto a retirar</mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="25">
                                    <mat-label>{{'withdrawal.issueDate' | translate: {default:
                                        'global.issueDate'} | translate }}
                                    </mat-label>
                                    <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY"
                                        [max]="todayValue" name="fechaEmision" formControlName="fechaEmision"
                                        [matDatepicker]="fechaEmisionPicker">
                                    <mat-datepicker-toggle matSuffix [for]="fechaEmisionPicker">
                                    </mat-datepicker-toggle>
                                    <mat-error *ngIf="f.fechaEmision.errors?.matDatepickerParse">
                                        Fecha Invalidad
                                    </mat-error>
                                </mat-form-field>
                                <mat-datepicker #fechaEmisionPicker></mat-datepicker>

                                <mat-form-field fxFlex.gt-sm="25">
                                    <mat-label>{{'withdrawal.securityCode' | translate: {default: 'global.securityCode'}
                                        | translate }}
                                    </mat-label>
                                    <input matInput maxlength="10" name="codSeguridad" autocomplete="off"
                                        formControlName="codSeguridad">
                                    <mat-error *ngIf="f.codSeguridad.errors?.pattern">{{'error.invalidCharacter' |
                                        translate}}</mat-error>
                                </mat-form-field>
                            </div>

                            <!-- segunda fila beneficiario y comprador  Nota: Borrar este comentario al Final -->
                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                                *ngIf="esPagoChequeGerencia">
                                <mat-form-field fxFlex.gt-sm="50">
                                    <mat-label>{{'withdrawal.comprador' | translate: {default: 'global.comprador'} |
                                        translate
                                        }}
                                    </mat-label>
                                    <input matInput maxlength="50" name="comprador" autocomplete="off"
                                        formControlName="comprador" [required]="esPagoChequeGerencia">
                                    <mat-error *ngIf="f.comprador.errors?.required">{{'error.required'
                                        | translate}}</mat-error>
                                    <mat-error *ngIf="f.comprador.errors?.pattern">{{'error.invalidCharacter' |
                                        translate}}</mat-error>

                                </mat-form-field>

                                <mat-form-field fxFlex.gt-sm="50">
                                    <mat-label>{{'withdrawal.beneficiary' | translate: {default: 'global.beneficiary'} |
                                        translate
                                        }}
                                    </mat-label>
                                    <input matInput maxlength="50" name="beneficiario" autocomplete="off"
                                        formControlName="beneficiario" [required]="esPagoChequeGerencia">
                                    <mat-error *ngIf="f.beneficiario.errors?.required">{{'error.required'
                                        | translate}}</mat-error>
                                    <mat-error *ngIf="f.beneficiario.errors?.pattern">{{'error.invalidCharacter' |
                                        translate}}</mat-error>

                                </mat-form-field>
                            </div>
                            


                            <!-- Tercera monto y cono monentario  Nota: Borrar este comentario al Final -->
                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                                *ngIf="esPagoCheque || esPagoChequeGerencia">                               

                                <mat-form-field fxFlex="20">
                                    <mat-label>{{'checkPayment.amount' | translate: {default: 'global.amount'} |
                                        translate }}
                                    </mat-label>
                                    <input matInput max="999999999999999.99" min="0.01" autocomplete="off" name="monto"
                                        formControlName="monto" currencyMask [options]="{precision:2}"  readonly>
                                    <mat-error *ngIf="f.monto.errors?.required">Es requerido</mat-error>
                                    <mat-error *ngIf="f.monto.errors?.max">Debe ser menor que 99.999.999,99</mat-error>
                                    <mat-error *ngIf="f.monto.errors?.min">No debe ser menor que 0,01</mat-error>
                                    <mat-error *ngIf="f.monto.errors?.difference">existe diferencia</mat-error>
                                </mat-form-field>

                                 <sirio-cash-button [moneda]="moneda" [total]="f.monto.value"
                                        [disabled]="f.numeroCuenta.value <= 0" class="margin-top-md"
                                        (update)="updateCashDetail($event)" [cono_actual]="conoActual"
                                        [cono_anterior]="conoAnterior">
                                </sirio-cash-button>  
                               
                             
                                <mat-slide-toggle class="margin-top-md" [color]="'primary'"  
                               formControlName ="esEfectivo" *ngIf="esPagoChequeGerencia" [required]="esPagoChequeGerencia">
                                {{'withdrawal.cash' | translate: {default: 'global.cash'} | translate }}
                                </mat-slide-toggle>                           
                            

                                <mat-slide-toggle class="margin-top-md" [color]="'primary'" *ngIf="esPagoChequeGerencia" [required]="esPagoChequeGerencia" [(ngModel)]="esAbonoCuenta">
                                    {{'withdrawal.account' | translate: {default: 'global.account'} | translate }}
                                    </mat-slide-toggle>       
                                                      
                                                             
                                <sirio-select-simple fxFlex="25"
                                    [label]="'naturalPerson.documentType' | translate: {default: 'global.documentType'} | translate"
                                    formControlName="tipoDocumentoBeneficiario" [required]="esPagoCheque"
                                    [elements]="tipoDocumentos.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.tipoDocumentoBeneficiario?.errors">
                                </sirio-select-simple>

                                <mat-form-field fxFlex.gt-xs="40">
                                    <mat-label>{{'deposit.identification' | translate: {default:
                                        'global.identification'} | translate }}
                                    </mat-label>
                                    <input matInput autocomplete="off" maxlength="8" name="identificacionBeneficiario"
                                        formControlName="identificacionBeneficiario" [required]="esPagoChequeGerencia || esPagoCheque">
                                    <mat-error *ngIf="f.identificacionBeneficiario.errors?.required">{{'error.required'
                                        | translate}}</mat-error>
                                    <mat-error *ngIf="f.identificacionBeneficiario.errors?.pattern">
                                        {{'error.invalidCharacter' | translate}}</mat-error>
                                    <!--TODO: Cambiar-->
                                </mat-form-field>
                            </div>

                            <!--
                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="esEfectivo">
                                <sirio-cash-button [moneda]="moneda" [total]="f.monto.value"
                                [disabled]="f.numeroCuenta.value <= 0" class="margin-top-md"  [required]="esPagoChequeGerencia"
                                (update)="updateCashDetail($event)" [cono_actual]="conoActual"
                                [cono_anterior]="conoAnterior">
                                </sirio-cash-button>  
                            </div>-->

                            <!-- Cuarta fila email y telef Nota: Borrar este comentario al Final -->
                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                                *ngIf="esPagoCheque || esPagoChequeGerencia">

                                <mat-form-field fxFlex.gt-sm="50">
                                    <mat-label>{{'withdrawal.email' | translate: {default: 'global.email'} | translate
                                        }}
                                    </mat-label>
                                    <input matInput name="email" autocomplete="off" email-validate name="email"
                                        formControlName="email" placeholder="" [required]="!f.telefono.value">
                                    <mat-error *ngIf="f.email.errors?.email">Email es invalido</mat-error>
                                    <mat-error *ngIf="f.email.errors?.required">{{'error.required'
                                        | translate}}</mat-error>
                                </mat-form-field>


                                <mat-form-field fxFlex.gt-sm="auto">
                                    <mat-label>{{'withdrawal.sms' | translate: {default: 'global.sms'} | translate }}
                                    </mat-label>
                                    <input matInput name="telefono" autocomplete="off" formControlName="telefono"
                                        prefix="04" mask="00 000 00 00" placeholder="" [required]="!f.email.value">
                                    <mat-error *ngIf="f.telefono.errors?.required">{{'error.required' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="f.telefono.errors?.pattern">{{'error.invalidCharacter' |
                                        translate}}</mat-error>
                                </mat-form-field>
                            </div>

                            <!-- quinta fila retiroEfectivoEvaluate  Nota: Borrar este comentario al Final -->
                           <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                                *ngIf="esRetiroEfectivo">
                                <sirio-select-search fxFlex.gt-xs="20"
                                    [label]="'deposit.documentType' | translate: {default: 'global.documentType'} | translate"
                                    formControlName="tipoDocumento" [required]="esRetiroEfectivo"
                                    [elements]="tipoDocumentos.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.tipoDocumento?.errors">
                                </sirio-select-search>                         
                            </div>



                        </div>
                    </form>
                   <!-- {{printErrors() | json}}-->

                </sirio-card-content>

                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid ">
                            <mat-icon class="margin-bottom-xxs">save</mat-icon> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>

                    </div>
                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>