<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['withdrawal.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'withdrawal.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit')| translate}}</sirio-card-header-subheading>           
                    <sirio-card-header-subheading></sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid "
                            (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>

                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>clear_all</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">               

            <form [formGroup]="formData2" *ngIf="formData2">                    
                    

               <div fxLayout="column" [formGroup]="formData2">
                   <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="15px">                     
                      
                        <div fxFlex="auto">
                            <mat-slide-toggle class="margin-top-md" [color]="'primary'" formControlName="mostrar"
                            name="mostrar">
                            {{'agency.checkPayment' | translate: {default: 'global.checkPayment'} | translate }}
                          </mat-slide-toggle>
                       </div>
                    </div>    
              
                
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                        *ngIf="form2.mostrar.value">

                        <mat-form-field fxFlex="30">
                            <mat-label>{{'form.mount' | translate: {default: 'global.amount'} | translate }}
                            </mat-label>
                            <input matInput max="99999999.99" min="0.05" autocomplete="off" name="monto"
                              formControlName="monto" currencyMask [options]="{precision:2}" required>
                            <mat-error *ngIf="form2.monto.errors?.required">Es requerido</mat-error>
                            <mat-error *ngIf="form2.monto.errors?.max">Debe ser menor que 99.999.999,99</mat-error>
                            <mat-error *ngIf="form2.monto.errors?.min">No debe ser menor que 0,05</mat-error>
                        </mat-form-field>  

                        <div fxLayout="row" fxLayout="column">
                            <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                              <button color="default" (click)="addElement()" mat-button>
                                <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.edit' | translate: {default:
                                'global.notfound'} | translate }}
                              </button>
                            </div>
                          </div>
                        
                        <mat-form-field fxFlex.gt-sm="30">
                        <mat-label>{{'form.account' | translate: {default: 'global.account'} | translate }}
                        </mat-label>
                        <input matInput name="cuentaBancaria" autocomplete="off" num-account-validate formControlName="cuentaBancaria"
                            mask="0000 0000 0000 0000 0000" required placeholder="">
                        <mat-hint>Ingrese el numero de cuenta</mat-hint>
                        <mat-error *ngIf="form2.cuentaBancaria.errors?.required">Es requerido</mat-error>
                        <mat-error *ngIf="form2.cuentaBancaria.errors?.account">El num. de cuenta es invalido</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex.gt-sm="30">
                            <mat-label>{{'form.reference' | translate: {default: 'global.reference'} | translate }}
                            </mat-label>
                            <input matInput name="referencia" autocomplete="off" formControlName="referencia"
                             required placeholder="">
                            <mat-hint>Ingrese el numero de referencia</mat-hint>
                            <mat-error *ngIf="form2.referencia.errors?.required">Es requerido</mat-error>
                          </mat-form-field>

                    </div> 
                         
                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                        *ngIf="form2.mostrar.value">
                          <sirio-select-simple fxFlex="20"
                          [label]="'naturalPerson.documentType' | translate: {default: 'global.documentType'} | translate"
                          formControlName="tipoDocumento" [required]="true"
                          [elements]="tipoDocumentos.asObservable()" [attributeName]="'nombre'"
                          [errors]="f.tipoDocumento?.errors">
                      </sirio-select-simple>


                       
                       
                    </div> 

                      
               
               
                </div> 
                       
 
             </form>
                  


                </sirio-card-content>

                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            <!-- <mat-icon class="margin-bottom-xxs">close</mat-icon>  -->
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>  

                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                            <mat-icon class="margin-bottom-xxs">save</mat-icon> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                      
                    </div>
                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>