<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['postalZone.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'postalZone.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit') | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>clear_all</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div fxLayout="column">
                        <form [formGroup]="itemForm" *ngIf="itemForm">

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <sirio-select-search fxFlex.gt-xs="50" [label]="'postalZone.country' | translate: {default: 'global.country'} | translate"
                                    formControlName="pais" [required]="true" [elements]="paises.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.pais?.errors">
                                </sirio-select-search>

                                <sirio-select-search fxFlex.gt-xs="50" [label]="'postalZone.state' | translate: {default: 'global.state'} | translate"
                                    formControlName="estado" [required]="true" [elements]="estados.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.estado?.errors">
                                </sirio-select-search>

                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <sirio-select-search fxFlex.gt-xs="50"
                                    [label]="'postalZone.municipality' | translate: {default: 'global.municipality'} | translate" formControlName="municipio"
                                    [required]="true" [elements]="municipios.asObservable()" [attributeName]="'nombre'" [errors]="f.municipio?.errors">
                                </sirio-select-search>

                                <sirio-select-search fxFlex.gt-xs="50" [label]="'postalZone.parish' | translate: {default: 'global.parish'} | translate"
                                    formControlName="parroquia" [required]="true" [elements]="parroquias.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.parroquia?.errors">
                                </sirio-select-search>

                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <mat-form-field fxFlex.gt-xs="80">
                                    <mat-label>{{'postalZone.name' | translate: {default: 'global.name'} | translate }}
                                    </mat-label>
                                    <input matInput maxlength="60" autocomplete="off" name="nombre" formControlName="nombre" uppercase required>
                                    <mat-error *ngIf="f.id.errors?.required">{{'error.required' | translate}}</mat-error>
                                    <mat-error *ngIf="f.id.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex.gt-xs="10">
                                    <mat-label>{{'postalZone.postalCode' | translate: {default: 'global.postalCode'} | translate }}
                                    </mat-label>
                                    <input matInput maxlength="60" autocomplete="off" name="codigoPostal" formControlName="codigoPostal" uppercase required>
                                    <mat-error *ngIf="f.id.errors?.required">{{'error.required' | translate}}</mat-error>
                                    <mat-error *ngIf="f.id.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="10">
                                    <mat-label>{{'postalZone.localCode' | translate: {default: 'global.localCode'} |
                                        translate }}</mat-label>
                                    <input matInput maxlength="6" autocomplete="off" name="codigoLocal" formControlName="codigoLocal" uppercase
                                        class="text-center">
                                    <mat-error *ngIf="f.id.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                            <mat-icon class="margin-bottom-xxs">save</mat-icon> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar>
            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>