<div fxLayout="column">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" >
        <mat-form-field fxFlex.gt-xs="auto">
            <mat-label>{{'deposit.totalCash' | translate: {default: 'global.totalCash'} | translate }} </mat-label>
            <input matInput max="9999999999999.99" min="0.01" autocomplete="off" name="efectivo" formControlName="efectivo"
                currencyMask [options]="{precision:2}">
            <mat-error *ngIf="f.efectivo.errors?.min">{{'error.beGreaterThan' | translate}} 0,01</mat-error>
            <mat-error *ngIf="f.efectivo.errors?.max">{{'error.beLessThan' | translate}} 9.999.999.999.999,99</mat-error>
            <mat-error *ngIf="f.efectivo.errors?.difference">Monto Incorrecto</mat-error>
        </mat-form-field>

        <sirio-cash-button class="text-center" [total]="f.efectivo.value"
            [disabled]="f.efectivo.value  == undefined " [moneda]="moneda" (update)="updateCashDetail($event)"
            [cono_actual]="conoActual" [cono_anterior]="conoAnterior"></sirio-cash-button>

        <!-- prueba con cheques -->
        <mat-form-field  fxFlex.gt-xs="auto"> 
            <mat-label>Cheque Propio Banco </mat-label>
            <input matInput max="9999999999999.99" autocomplete="off" name="chequePropio" formControlName="chequePropio" currencyMask [options]="{precision:2}" 
            [required]="!f.chequeOtros.value">
            <mat-error *ngIf="f.chequePropio.errors?.max">{{'error.beLessThan' | translate}} 9.999.999.999.999,99</mat-error>
            <mat-error *ngIf="f.chequePropio.errors?.required">{{'error.beGreaterThan' | translate}} 0,01</mat-error>
            <mat-error *ngIf="f.chequePropio.errors?.differencePropio">No coinciden los montos</mat-error>
        </mat-form-field> 

        <mat-form-field  fxFlex.gt-xs="auto"> 
            <mat-label>{{'deposit.checksOtherBanks' | translate: {default: 'global.checksOtherBanks'} | translate }} </mat-label>
            <input matInput max="9999999999999.99" autocomplete="off" name="chequeOtros" formControlName="chequeOtros" currencyMask [options]="{precision:2}" 
            [required]="!f.chequePropio.value">
            <mat-error *ngIf="f.chequeOtros.errors?.max">{{'error.beLessThan' | translate}} 9.999.999.999.999,99</mat-error>
            <mat-error *ngIf="f.chequeOtros.errors?.required">{{'error.beGreaterThan' | translate}} 0,01</mat-error>
            <mat-error *ngIf="f.chequeOtros.errors?.differenceOtros">No coinciden los montos</mat-error>
        </mat-form-field> 
        <!-- prueba con cheques -->

        <mat-form-field fxFlex.gt-xs="auto">
            <mat-label>{{'deposit.totalDeposit' | translate: {default: 'global.totalDeposit'} | translate }} </mat-label>
            <input matInput max="9999999999999.99" readonly min="0.01" autocomplete="off" name="monto" formControlName="monto"
                currencyMask [options]="{precision:2}">
            <mat-error *ngIf="f.monto.errors?.max">{{'error.beLessThan' | translate}} 9.999.999.999.999,99</mat-error>
            <mat-error *ngIf="f.monto.errors?.min">{{'error.beGreaterThan' | translate}} 0,01</mat-error>
            <mat-error *ngIf="f.monto.errors?.totalDifference">Monto Incorrecto</mat-error>
        </mat-form-field>

        <div fxFlex.gt-xs="10">
            <mat-checkbox fxLayoutAlign="start center" class="margin-top-md" [color]="'primary'" formControlName="conLibreta"
                name="conLibreta" (change)="libretaEvaluate($event)">Con Libreta</mat-checkbox>
        </div>
        <div fxFlex.gt-xs="20">
            <mat-checkbox fxLayoutAlign="start center" class="margin-top-md" [color]="'primary'" formControlName="conMovimiento"
                name="conMovimiento" (change)="movimientoEvaluate($event)">Con Movimiento</mat-checkbox>
        </div>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="f.conLibreta.value">
        <mat-form-field fxFlex.gt-xs="20">
            <mat-label>Número de Libreta </mat-label>
            <input matInput maxlength="8" autocomplete="off" name="libreta" formControlName="libreta"
                [required]="f.conLibreta.value">
            <mat-error *ngIf="f.libreta.errors?.required">{{'error.required' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-xs="10">
            <mat-label>Número de Linea</mat-label>
            <input matInput maxlength="2" autocomplete="off" name="linea" formControlName="linea"
                [required]="f.conLibreta.value">
            <mat-error *ngIf="f.linea.errors?.required">{{'error.required' | translate}}</mat-error>
        </mat-form-field>
    </div>
</div>
