<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['cashPass.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'cashPass.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit') | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div fxLayout="column">
                        <form [formGroup]="itemForm" *ngIf="itemForm">

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <sirio-select-search fxFlex="auto" [label]="'cashPass.movementType' | translate: {default: 'global.movementType'} | translate"
                                    formControlName="movimientoEfectivo" [required]="true" [elements]="movimientos.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.movimientoEfectivo?.errors">
                                </sirio-select-search>

                                <sirio-select-search fxFlex="25" [label]="'cashPass.boxOffice' | translate: {default: 'global.boxOffice'} | translate"
                                    formControlName="taquilla" [elements]="taquillas.asObservable()" [attributeName]="'nombre'" [errors]="f.taquilla?.errors"
                                    *ngIf="f.movimientoEfectivo.value === movimiento.TAQUILLA_BOVEDA || f.movimientoEfectivo.value === movimiento.BOVEDA_TAQUILLA"
                                    [required]="f.movimientoEfectivo.value === movimiento.TAQUILLA_BOVEDA || f.movimientoEfectivo.value === movimiento.BOVEDA_TAQUILLA">
                                </sirio-select-search>

                                <sirio-select-search fxFlex="25" [label]="'cashPass.atm' | translate: {default: 'global.atm'} | translate" formControlName="atm"
                                    [elements]="atms.asObservable()" [attributeName]="'nombre'" [errors]="f.atm?.errors"
                                    *ngIf="f.movimientoEfectivo.value === movimiento.ATM_BOVEDA || f.movimientoEfectivo.value === movimiento.BOVEDA_ATM"
                                    [required]="f.movimientoEfectivo.value === movimiento.ATM_BOVEDA || f.movimientoEfectivo.value === movimiento.BOVEDA_ATM">
                                </sirio-select-search>

                                <sirio-select-search fxFlex="25" [label]="'cashPass.coin' | translate: {default: 'global.coin'} | translate"
                                    formControlName="moneda" [required]="true" [elements]="monedas.asObservable()" [attributeName]="'nombre'"
                                    *ngIf="f.movimientoEfectivo.value === movimiento.TAQUILLA_BOVEDA || f.movimientoEfectivo.value === movimiento.BOVEDA_TAQUILLA"
                                    [errors]="f.moneda?.errors">
                                </sirio-select-search>

                                <mat-form-field fxFlex.gt-xs="25"
                                    *ngIf="f.movimientoEfectivo.value === movimiento.ATM_BOVEDA || f.movimientoEfectivo.value === movimiento.BOVEDA_ATM">
                                    <mat-label>{{'cashPass.coin' | translate: {default: 'global.coin'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="monedaAtm.nombre" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="auto">
                                    <mat-label>{{'cashPass.amount' | translate: {default: 'global.amount'} | translate }}
                                        {{f.movimientoEfectivo.value !== movimiento.ATM_BOVEDA ? '('+('global.availableBalance' | translate) : '' }}
                                        {{f.movimientoEfectivo.value !== movimiento.ATM_BOVEDA ? (saldoDisponible | number: '1.2')+')' : '' }}</mat-label>
                                    <input matInput max="9999999999999.99" min="0,01" autocomplete="off" currencyMask name="monto" formControlName="monto"
                                        [options]="{precision:2}" required readonly>
                                    <mat-error *ngIf="f.monto.errors?.required">{{'error.required' | translate}}</mat-error>
                                    <mat-error *ngIf="f.monto.errors?.balance">{{'error.insufficientBalance' | translate}}</mat-error>
                                    <mat-error *ngIf="f.monto.errors?.disponible">{{'error.insufficientBalance' | translate}}</mat-error>
                                    <mat-error *ngIf=" f.monto.errors?.min">{{'error.beGreaterThan' | translate}} 0,01</mat-error>
                                    <mat-error *ngIf=" f.monto.errors?.max">{{'error.beLessThan' | translate}} 9.999.999.999.999,99</mat-error>
                                </mat-form-field>

                            </div>
                        </form>

                        <mat-divider class="margin-bottom-md"></mat-divider>

                        <div fxLayout="column" *ngIf="f.moneda.value">
                            <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" fxFlex="100">
                                <div fxLayout="column" fxFlex="10">
                                    <h3>{{'Desglose de Efectivo' | translate: {default: 'Desglose de Efectivo'} | translate }}</h3>
                                </div>
                                <div fxLayout="column" fxFlex="auto">
                                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px">
                                        <mat-form-field fxLayout="column" *ngFor="let item of conos | async;let i = index" fxFlex="32">
                                            
                                            <mat-label>{{item.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{ (item.esBillete?'global.bill':
                                                'global.coin') | translate }} ({{'global.quantityAvailable' | translate }} {{item.disponible}})
                                            </mat-label>
                                            <input matInput class="text-right" #cantidad="ngModel" [(ngModel)]="item.cantidad" min="0" [max]="item.disponible" autocomplete="off" matInput type="number"
                                                (ngModelChange)="updateValuesErrors(item)" />

                                                <mat-error *ngIf="cantidad.invalid">Cantidad máxima {{item.disponible | number:'1.2'}}</mat-error>
                                            <!-- <div *ngIf="cantidad.invalid"  class="help-block" style="color: #813838">Máximo {{item.disponible}}</div> -->

                                                
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- {{printErrors() | json}} -->
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button
                            [disabled]="itemForm?.invalid || (saldoDisponible <= 0  && f.movimientoEfectivo.value !== movimiento.ATM_BOVEDA)">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>