<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
    <!-- TODO: PENDIENTE IN18 -->
    <h1>Información Laboral</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="accent">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>

</sirio-dialog-header>


<mat-dialog-content>
    <form [formGroup]="itemForm" *ngIf="itemForm && (loaded | async)" tabNavigation>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
      <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto" [label]="'Tipo Ingreso'" [readonly]="!isNew" formControlName="tipoIngreso" [required]="true"
        [elements]="tipoingresoList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>
      <!-- TODO: PENDIENTE I18n -->
      <sirio-select-search fxFlex="100" fxFlex.gt-xs="auto" [label]="'Tipo Documento'" *ngIf="isRdOrNp()" formControlName="tipoDocumento" [required]="true"
        [elements]="tipodocumentoList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>

      <!-- <mat-form-field fxFlex="auto" *ngIf="isRdOrNp()">
        <mat-label>{{'RIF'}} </mat-label>
        <input matInput doc-number-validate [tipo_documento]="f.tipoDocumento?.value" maxlength="14" autocomplete="off" name="identificacion"  formControlName="identificacion" uppercase [required]="isRdOrNp()">
         <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}} </mat-error>
        <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' | translate}} </mat-error>
        <mat-error *ngIf="f.identificacion.errors?.maxLength">Supera el máximo de {{f.identificacion.errors?.length}} dígitos </mat-error>
   
      </mat-form-field> -->

      <!-- <mat-label>{{'global.identification' | translate }} </mat-label> -->

      <!-- <mat-form-field fxFlex="auto" *ngIf="isRdOrNp()">
        <mat-label>{{'RIF'}}</mat-label>
        <input autocomplete="off" class="text-center" matInput doc-number-validate [tipo_documento]="f.tipoDocumento?.value" name="identificacion" maxlength="15" formControlName="identificacion" [required]="isRdOrNp()" >
        <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}}!</mat-error>
        <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
        <mat-error *ngIf="f.identificacion.errors?.maxLength">Supera el máximo de {{f.identificacion.errors?.length}} dígitos </mat-error>
      </mat-form-field> -->

      <mat-form-field fxFlex="100" fxFlex.gt-xs="auto" *ngIf="isRdOrNp()">
        <mat-label>{{'RIF'}}</mat-label>
        
        <input autocomplete="off" class="text-center" matInput valid-rif-number doc-number-validate [tipo_documento]="f.tipoDocumento?.value" [imask]="{mask: '00000000-0'}"  [unmask]="true" name="identificacion" maxlength="15" formControlName="identificacion" [required]="isRdOrNp()" >
        <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}}!</mat-error>
        <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
        <mat-error *ngIf="f.identificacion.errors?.rif">{{f.identificacion.errors?.rif}}</mat-error>
        <!-- <mat-error *ngIf="f.identificacion.errors?.maxLength">Supera el máximo de {{f.identificacion.errors?.length}} dígitos </mat-error> -->
      </mat-form-field>
      

    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
      <mat-form-field fxFlex="100" fxFlex.gt-xs="auto" *ngIf="isRdOrNp()">
        <mat-label>{{'Nombre Empresa' | translate: {default:
          'global.companyName'} | translate }} </mat-label>
        <input matInput maxlength="200" autocomplete="off" name="empresa" formControlName="empresa" uppercase [required]="isRdOrNp()">
        <mat-error *ngIf="f.empresa.errors?.required">{{'error.required' | translate}} </mat-error>
        <mat-error *ngIf="f.empresa.errors?.pattern">{{'error.invalidCharacter' | translate}} </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="isOtrIng()">
      <sirio-select-search fxFlex.gt-xs="100" [label]="'Actividad Independiente'" formControlName="actividadIndependiente" [required]="isOtrIng()"
        [elements]="actinDependienteList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="isRdOrNp()">
      <sirio-select-search fxFlex.gt-xs="100" [label]="'Ramo'" formControlName="ramo" [required]="isRdOrNp()" [elements]="ramoList.asObservable()"
        [attributeName]="'nombre'">
      </sirio-select-search>

      <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
        <mat-label>{{'Teléfono' | translate }} </mat-label>
        <input matInput maxlength="200" minlength="11" autocomplete="off" phoneValidate [telefonicas]="telefonicaList.asObservable()" name="telefono"
          [imask]="{mask: '(0000) 000.00.00'}" [unmask]="true" [required]="isRdOrNp()" class="text-center" formControlName="telefono">
        <mat-error *ngIf="f.telefono.errors?.required">{{'error.required' | translate}} </mat-error>
        <mat-error *ngIf="f.telefono.errors?.phone">{{f.telefono.errors?.phone}} </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="f.tipoIngreso.value==Tipo_Ingreso.NEGOCIO_PROPIO">

      <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
        <mat-label>{{ 'Registro' }} </mat-label>
        <input matInput maxlength="100" autocomplete="off" name="registro" uppercase formControlName="registro"
          [required]="f.tipoIngreso.value==Tipo_Ingreso.NEGOCIO_PROPIO">
        <mat-error *ngIf="f.registro.errors?.required">{{'error.required' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
        <mat-label>{{ 'Número' }} </mat-label>
        <input matInput maxlength="10" autocomplete="off" name="numero"  uppercase formControlName="numero"
          [required]="f.tipoIngreso.value==Tipo_Ingreso.NEGOCIO_PROPIO">
        <mat-error *ngIf="f.numero.errors?.required">{{'error.required' | translate}} </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
        <mat-label>{{ 'Tomo' }} </mat-label>
        <input matInput maxlength="10" autocomplete="off" name="tomo" uppercase formControlName="tomo"
          [required]="f.tipoIngreso.value==Tipo_Ingreso.NEGOCIO_PROPIO">
        <mat-error *ngIf="f.tomo.errors?.required">{{'error.required' | translate}} </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
        <mat-label>{{ 'Folio' }} </mat-label>
        <input matInput maxlength="10" autocomplete="off" name="folio" uppercase formControlName="folio"
          [required]="f.tipoIngreso.value==Tipo_Ingreso.NEGOCIO_PROPIO">
        <mat-error *ngIf="f.folio.errors?.required">{{'error.required' | translate}} </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="f.tipoIngreso.value">

      <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
        <mat-label>{{f.tipoIngreso.value===Tipo_Ingreso.RELACION_DEPENDENCIA? 'Remuneración' : 'Ingresos Mensuales' }} </mat-label>
        <input maxlength="19" matInput autocomplete="off" name="remuneracion" currencyMask [options]="{precision:2}" formControlName="remuneracion">
        <mat-error *ngIf="f.remuneracion.errors?.required">{{'error.required' | translate}} </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="100" fxFlex.gt-xs="30" *ngIf="isRdOrNp()">
        <mat-label>{{f.tipoIngreso.value===Tipo_Ingreso.RELACION_DEPENDENCIA? 'Fecha Ingreso' : 'Fecha de Constitución' }}</mat-label>

        <input class="text-center"  autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fecha" formControlName="fecha" [matDatepicker]="fechaPicker"
          [max]="todayValue" [required]="isRdOrNp()">
        <mat-datepicker-toggle matSuffix [for]="fechaPicker" tabindex="-1">
        </mat-datepicker-toggle>
        <mat-error *ngIf="f.fecha.errors?.matDatepickerParse">
          Fecha Inválida
        </mat-error>
        <mat-error *ngIf="f.fecha.errors?.required">{{'error.required' | translate}} </mat-error>
      </mat-form-field>
      <mat-datepicker #fechaPicker></mat-datepicker>

      <!-- <div fxFlex="30" *ngIf="f.tipoIngreso.value===Tipo_Ingreso.NEGOCIO_PROPIO">
        <mat-form-field>
          <mat-label>{{'Fecha de Constitución'}}</mat-label>
          <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fecha" formControlName="fecha" [matDatepicker]="fechaPicker"
            [max]="todayValue" [required]="f.tipoIngreso.value===Tipo_Ingreso.NEGOCIO_PROPIO">
          <mat-datepicker-toggle matSuffix [for]="fechaPicker">
          </mat-datepicker-toggle>
          <mat-error *ngIf="f.fecha.errors?.required">{{'error.required' | translate}} </mat-error>
          <mat-error *ngIf="f.fecha.errors?.matDatepickerParse || f.fecha.errors?.matDatepickerMax">
            Fecha Inválida
          </mat-error>
        </mat-form-field>
        <mat-datepicker #fechaPicker></mat-datepicker>
      </div> -->
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="isRd()">
      
      <div fxFlex="100" fxFlex.gt-xs="100">
        <sirio-select-search [label]="'Cargo'" formControlName="profesion" [required]="true" [elements]="profesionList.asObservable()" [attributeName]="'nombre'">
        </sirio-select-search>
      </div>


    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="isRdOrNp()">
      <mat-form-field fxFlex="100" fxFlex.gt-xs="100">
        <mat-label>{{f.tipoIngreso.value==Tipo_Ingreso.RELACION_DEPENDENCIA? 'Dirección Empresa' : 'Dirección Fiscal' }} </mat-label>
        <input matInput maxlength="100" autocomplete="off" name="direccion" formControlName="direccion" uppercase [required]="isRdOrNp()">
        <mat-error *ngIf="f.direccion.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.direccion.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>
    </div>
  </form>

  <sirio-loading-overlay [isLoading]="!(loaded | async)"></sirio-loading-overlay>

  </mat-dialog-content>
  <!-- {{printErrors() | json}} -->

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="itemForm">
    <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm?.invalid || (loading$ | async)">{{'button.save'|translate}}</button>
  </mat-dialog-actions>
