<sirio-dialog-header mat-dialog-title>
    <sirio-dialog-header-heading>
        <h1>{{'global.carrierEmployee'|translate}}</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
        <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">

            <button mat-icon-button class="close-button" [mat-dialog-close]="true">
                <mat-icon class="close-icon">close</mat-icon>
            </button>
        </div>
    </sirio-dialog-header-heading>

</sirio-dialog-header>


<form [formGroup]="itemForm" *ngIf="itemForm" (ngSubmit)="save()">
    <mat-dialog-content>
        
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                <mat-form-field fxFlex="auto">
                    <mat-label>Código</mat-label>
                    <input matInput maxlength="10" name="id" formControlName="id" uppercase required>
                    <mat-error *ngIf="f.id.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.id.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>


                <mat-form-field fxFlex="auto">
                    <mat-label>Cedula</mat-label>
                    <input matInput maxlength="15" name="identicacion" formControlName="cedula" uppercase required>
                    <mat-error *ngIf="f.cedula.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.cedula.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                <mat-form-field fxFlex="auto">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput maxlength="80" name="nombre" formControlName="nombre" uppercase required>
                    <mat-error *ngIf="f.nombre.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.nombre.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <!-- <div fxLayout="column" fxLayout.gt-sm="row"> -->
            <!-- </div> -->

    </mat-dialog-content>

    <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
        <button mat-raised-button color="primary" [disabled]="itemForm.invalid">{{'button.save'|translate}}</button>
    </mat-dialog-actions>
</form>