<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['receiveRemittances.table']" current="global.list"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [@fadeInUp]>
        <sirio-list [name]="'receiveRemittances.table' | translate: {default: 'global.notfound'}" placeholder="receiveRemittances.search"
            (filterChange)="onFilterChange($event)">
            <mat-table #table id="tableContainer" [dataSource]="dataSource"  matSort
                matSortActive="remesa_id" matSortDirection="desc">

                <ng-container matColumnDef="remesa_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tw-15'">{{'Cataporte' | translate:
                        {default: 'Cataporte'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-15'">
                        <p class="font-weight-600">{{element.id}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipo">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-5'">{{'Tipo' | translate:
                        {default: 'Tipo'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-5'">
                        <p class="text-truncate font-weight-600">{{element.tipoRemesa}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unidad">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-40'">{{'Unidad' | translate:
                        {default: 'Unidad'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-40'">
                        <p class="text-truncate font-weight-600">{{element.emisor}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="monto">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-15'">{{'Monto' | translate:
                        {default: 'Monto'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-15'">
                        <p class="text-truncate font-weight-600">{{element.montoFinal | number: '1.2'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="moneda">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-5'">{{'Moneda' | translate:
                        {default: 'Moneda'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-5'">
                        <p class="text-truncate font-weight-600">{{element.moneda}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estatus">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-15'">{{'Estatus' | translate:
                        {default: 'Estatus'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-15'">
                        <p class="text-truncate font-weight-600">{{element.estatusSolicitud}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-5'"></mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'tw-5'">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <sirio-actions-nav [element]="element" [items]="actions.asObservable()" 
                            [method]="actionAPI()"></sirio-actions-nav>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns;" class="element"
                    >
                </mat-row>
            </mat-table>
            <mat-paginator [length]="dataSource?.totalElements" [pageSize]="15" [pageSizeOptions]="[15, 30, 50]"
                showFirstLastButtons></mat-paginator>

        </sirio-list>
    </sirio-page-layout-content>
</sirio-page-layout>