<!-- Apoderado -->
<div fxLayout="row" fxLayout="column">
    <div fxLayoutAlign="end center" fxFlex="1 1 0%">
        <button color="default" (click)="popup()" mat-button class="margin-bottom-sm">
            <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
            'global.notfound'} | translate }}
        </button>
    </div>
</div>


<ngx-datatable   canAutoResize="false" class="material" rowHeight="auto" [columnMode]="ColumnMode.standard"
    [messages]="{emptyMessage: 'No hay registros...',totalMessage: 'Total'}"
    [sorts]="[{prop: 'id', dir: 'asc'}]" [headerHeight]="50"  [footerHeight]="50"  [limit]="10" [rows]="accionistaDirectivoList | async" rowHeight="auto">

    <ngx-datatable-column  [resizeable]="false" [width]="100"  name="#">        
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <div class="text-center"> {{ rowIndex+1 }}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [resizeable]="false" [width]="590" name="Número Documento">        
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span style="white-space: break-spaces;">{{ row?.identificacion }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [resizeable]="false" [width]="590" name="Nombre">        
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span style="white-space: break-spaces;">{{ row?.nombre }}</span>
        </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [resizeable]="false" [width]="200" name="Acciones" >        
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center">
                <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;"  (click)="popup(row,$event)" matTooltip="{{'button.update' | translate}}">
                    <mat-icon>edit</mat-icon>
                </button> &nbsp;
                <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;"
                    (click)="delete(row)" matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-template>
    </ngx-datatable-column>

</ngx-datatable>
<!-- /Apoderado -->