<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
     <!-- TODO: PENDIENTE IN18 -->
    <h1>Persona Expuesta Políticamente (PEP)</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="accent">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>
</sirio-dialog-header>

<mat-dialog-content>
    
    <form [formGroup]="itemForm" *ngIf="itemForm">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <sirio-select-search fxFlex.gt-xs="33" [label]="'Tipo Relación'" [readonly]="!isNew"
          formControlName="tipoPep" [required]="true" [elements]="tipoPepList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>
 
      <!-- TODO: PENDIENTE IN18 -->
      <mat-form-field fxFlex="auto">
          <mat-label>{{'Nombre y Apellido del Relacionado: ' | translate: {default:
              'Nombre y Apellido del Relacionado'} | translate }} </mat-label>
          <input matInput maxlength="80" minlength="1" autocomplete="off" name="nombre" formControlName="nombre"
              uppercase required>
          <mat-error *ngIf="f.nombre.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.nombre.errors?.pattern">{{'error.invalidCharacter' |
              translate}}
          </mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"  *ngIf="f.tipoPep.value && f.tipoPep.value!=Pep.CLIENTE">
      <sirio-select-search fxFlex.gt-xs="50" [label]="'Tipo Documento'" formControlName="tipoDocumento" [required]="f.tipoPep.value && f.tipoPep.value!=Pep.CLIENTE"
        [elements]="tipoDocumentoList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>

      <mat-form-field fxFlex="50">
          <mat-label>{{'Número  Documento: ' | translate: {default:
              'Número  Documento'} | translate }} </mat-label>
          <input matInput minlength="1" autocomplete="off" doc-number-validate [tipo_documento]="f.tipoDocumento?.value" name="identificacion" formControlName="identificacion"
               [required]="f.tipoPep.value && f.tipoPep.value!=Pep.CLIENTE">
          <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' |
              translate}}
          </mat-error>
          <mat-error *ngIf="f.identificacion.errors?.exists">Número Existe</mat-error>
          <mat-error *ngIf="f.identificacion.errors?.maxLength">Supera el máximo de {{f.identificacion.errors?.length}} dígitos </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
      <mat-form-field fxFlex="100">
          <mat-label>{{'Nombre del ente adscripción: ' | translate: {default:
              'Nombre del ente adscripción'} | translate }} </mat-label>
          <input matInput maxlength="200" minlength="1" autocomplete="off" name="ente" formControlName="ente"
              uppercase required>
          <mat-error *ngIf="f.ente.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.ente.errors?.pattern">{{'error.invalidCharacter' |
              translate}}
          </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <mat-form-field fxFlex="50">
          <mat-label>{{'Cargo que desempeña: ' | translate: {default:
              'Cargo que desempeña'} | translate }} </mat-label>
          <input matInput maxlength="100" minlength="1" autocomplete="off" name="cargo" formControlName="cargo"
              uppercase required>
          <mat-error *ngIf="f.cargo.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.cargo.errors?.pattern">{{'error.invalidCharacter' |
              translate}}
          </mat-error>
      </mat-form-field>

      <sirio-select-search fxFlex.gt-xs="auto" [label]="'País'"
          formControlName="pais" [required]="true" [elements]="paisList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>
    </div>

  </form>
  </mat-dialog-content>

  

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="itemForm">
    <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm?.invalid || (loading$ | async)">{{'button.save'|translate}}</button>
  </mat-dialog-actions>