<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
    <h1> <i class="fa-light fa-money-bill-transfer"></i> {{'coin.form'|translate}} </h1> &nbsp; <h4>({{moneda.nombre}})</h4> <span> Desglosar</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
      <button mat-icon-button class="close-button" (click)="close()">
        <mat-icon class="close-icon" color="accent">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>
</sirio-dialog-header>

<div>

  <div fxLayout="column">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">


      <mat-form-field fxFlex="auto">
        <mat-label> Total Efectivo
        </mat-label>
        <input matInput class="text-right" [value]="total | number:'1.2-2'" readonly>
      </mat-form-field>

      <mat-form-field fxFlex="auto">
        <!-- TODO: KEY INTERNACIONALIZACION -->
        <mat-label>Monto Total
        </mat-label>
        <input matInput class="text-right" [value]="montoTotal | number:'1.2-2'" readonly>
        <mat-hint class="mat-error">{{total != (totalActual+(totalAnterior?totalAnterior:0))?'Monto Incorrecto':''}}</mat-hint>
        
      </mat-form-field>

<!-- 
      <mat-form-field fxFlex="auto">
        <mat-label>Total Cono Anterior
        </mat-label>
        <input matInput class="text-right" [value]="totalAnterior | number:'1.2-2'" readonly currencyMask [options]="{precision:2}">
      </mat-form-field> -->


    </div>
  </div>
  <sirio-cash-detail [preferencia]="preferencia" [cono_actual]="valuesCono1" [cono_anterior]="valuesCono2" [moneda]="moneda.id"
    (cono_actual_update)="updateConoActual($event)" (cono_anterior_update)="updateConoAnterior($event)" [total]="total" labelPrefix="Bs."></sirio-cash-detail>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="clearAll()">{{'button.clean'|translate}}</button>
    <button mat-raised-button color="primary" (click)="save()">{{'button.save'|translate}}</button>
  </mat-dialog-actions>

</div>