<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['language.table']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'language.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit') | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="resetForm()">
                            <mat-icon>backspace</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div class="result" fxLayout="column">
                        <form [formGroup]="itemForm" *ngIf="itemForm">

                            <ng-container *ngFor="let key of groups ;let i = index;">
                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <mat-panel-title class="margin-bottom-sm">
                                        <i class="fa-light fa-square-sliders-vertical fa-xl mat-icon-primary"></i>

                                        <span class="margin-top-sm margin-bottom-lg semi-bold">
                                            {{key}}
                                        </span>
                                        <mat-panel-description>
                                        </mat-panel-description>
                                    </mat-panel-title>
                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row graw" fxLayoutGap.gt-sm="12px">
                                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-xs="32" *ngFor="let item of preferencia[key] ;let i = index;">
                                        <mat-label>{{item[getField(item)].label}}</mat-label>
                                        <input matInput type="{{item[getField(item)].type}}" [formControlName]="getField(item)" class="text-center" currencyMask
                                            [options]="{precision:2}" *ngIf="item[getField(item)].function === 'currency'">
                                        <input matInput type="{{item[getField(item)].type}}" [formControlName]="getField(item)" class="text-center"
                                            *ngIf="item[getField(item)].function != 'currency'">
                                        <mat-select placeholder="Seleccione un Valor" *ngIf="item[getField(item)].selectSimple === 'select-simple'">
                                            <mat-option *ngFor="let food of foods" [value]="food.value">
                                                {{ food.viewValue }}
                                            </mat-option>
                                        </mat-select>

                                    </mat-form-field>
                                </div>
                            </ng-container>

                        </form>
                    </div>

                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}</button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid || (loading$ | async) ">
                            <mat-icon class="margin-bottom-xxs">save</mat-icon> {{'button.save' | translate: {default: 'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>