<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['Idioma']" current="Registrar"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'language.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{'action.add' | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="Save" type="button">
                            <!-- <mat-icon>save</mat-icon> -->
                            <fa-icon  [icon]="['far', 'fa-save']" size="md"></fa-icon>
                        </button>
                        <button class="icon" mat-icon-button matTooltip="Cancelar" type="button">
                            <!-- <mat-icon>save</mat-icon> -->
                            <fa-icon  [icon]="['fas', 'window-close']" size="md"></fa-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <form [formGroup]="itemForm" *ngIf="itemForm"  (ngSubmit)="save()">

                        <div fxLayout="row wrap" fxLayoutAlign="center center">

                            <div fxFlex="100" fxFlex.gt-xs="10" class="pr-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>{{'language.code' | translate: {default: 'global.code'} | translate }}
                                    </mat-label>
                                    <input matInput maxlength="5" name="id" formControlName="id" uppercase required
                                        class="text-center">
                                    <mat-error *ngIf="f.id.errors?.required">Requerido</mat-error>
                                    <mat-error *ngIf="f.id.errors?.pattern">Caracter inválido</mat-error>
                                    <mat-error *ngIf="f.id.errors?.exists">
                                        {{f.id.errors?.exists}}
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="60" class="pr-4">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>{{'language.name' | translate: {default: 'global.name'} | translate }}
                                    </mat-label>
                                    <input matInput maxlength="20" name="nombre" formControlName="nombre" uppercase
                                        required>
                                    <mat-error *ngIf="f.nombre.errors?.required">Requerido</mat-error>
                                    <mat-error *ngIf="f.nombre.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="30">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>{{'language.icon' | translate: {default: 'global.icon'} | translate }}
                                    </mat-label>
                                    <input matInput maxlength="20" name="icono" formControlName="icono" uppercase
                                        class="text-center">
                                    <mat-error *ngIf="f.nombre.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                    </form>
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button routerLink="/preferencia/idioma">{{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}</button>
                        <button color="primary" (click)="save()" mat-raised-button
                            [disabled]="itemForm?.invalid ||  (!isNew && !idioma.activo)">{{'button.save' | translate:
                            {default: 'global.notfound'} | translate }}</button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>