<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
    <!-- TODO: PENDIENTE IN18 -->
    <h1>Interviniente(s) / Condición de Firma</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
    <!-- Interviniente -->
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="accent" >close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>

</sirio-dialog-header>


<mat-dialog-content tabNavigation>
  <div fxLayout="column" class="margin-bottom-sm">

    <div fxLayout="row">
      <div fxFlex="100" fxFlex.gt-xs="100">
        <sirio-person-query [purpose]="'interviniente'" title="Consultar Persona" (push)="pullPerson($event)" ></sirio-person-query>
      </div>

    </div>

  </div>
  <ng-container *ngIf="itemForm">

    <div fxLayout="column" [formGroup]="itemForm"  class="padding-h-md">

      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
  
        <mat-form-field fxFlex="100" fxFlex.gt-xs="15">
          <mat-label>{{'global.documentType' | translate }} </mat-label>
          <input matInput autocomplete="off" name="tipoDocumento" [(ngModel)]="persona.tipoDocumento" disabled="true" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
  
        <mat-form-field fxFlex="100" fxFlex.gt-xs="30">
          <mat-label>{{'global.identification' | translate }} </mat-label>
          <input matInput autocomplete="off" class="text-center" name="identificacion" disabled="true"  [(ngModel)]="persona.identificacion"  [ngModelOptions]="{standalone: true}"> 
        </mat-form-field>
  
        <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
          <mat-label>{{'global.fullName' | translate }} </mat-label>
          <input matInput autocomplete="off" class="text-left" name="nombre" disabled="true" [(ngModel)]="persona.nombre" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
  
      </div>
  
  
        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
          <mat-panel-title>
  
            <button type="button" mat-icon-button type="button" color="primary">
              <mat-icon>person</mat-icon>
            </button>
  
  
            <span class="margin-top-sm margin-bottom-lg semi-bold">
              Interviniente(s) / Condición de Firma
              <!-- Condición de Firmas del(los) Participante(s) -->
            </span>
  
            <mat-panel-description>
  
            </mat-panel-description>
  
          </mat-panel-title>
  
        </div>
  
        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
  
          <sirio-select-search fxFlex="100" fxFlex.gt-xs="33" [label]="'Tipo Participación'"   [formControl]="itemForm.controls['tipoParticipacion']" [required]="true"
            [elements]="tipoParticipaciones.asObservable()" [attributeName]="'nombre'" >
          </sirio-select-search>
  
          <sirio-select-search fxFlex="100" fxFlex.gt-xs="33" [label]="'Tipo Firma'"   [formControl]="itemForm.controls['tipoFirma']" [required]="true"
            [elements]="tipoFirmas.asObservable()" [attributeName]="'nombre'" >
          </sirio-select-search>
  
          <sirio-select-search fxFlex="100" fxFlex.gt-xs="33" [label]="'Tipo Firmante'" 
           [formControl]="itemForm.controls['tipoFirmante']" [required]="true"
            [elements]="tipoFirmantes.asObservable()" [attributeName]="'nombre'" >
          </sirio-select-search>
  
        </div>

        <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
          <!-- condicion -->

          <sirio-select-search fxFlex="100" fxFlex.gt-xs="50" [label]="'Cargo'"   [formControl]="itemForm.controls['condicion']" 
            [elements]="condiciones.asObservable()" [attributeName]="'nombre'">
          </sirio-select-search>
  
          <!-- cargo -->
          <sirio-select-search fxFlex="100" fxFlex.gt-xs="50" [label]="'Condición'"   [formControl]="itemForm.controls['cargo']" 
            [elements]="cargos.asObservable()" [attributeName]="'nombre'" >
          </sirio-select-search>
        </div>
      
    
    </div>

  </ng-container>
  
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm?.invalid || (loading$ | async)">{{'button.save'|translate}}</button>
</mat-dialog-actions>