<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['state.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'state.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit')| translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid "
                            (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div  fxLayout="column">
                        <form [formGroup]="itemForm" *ngIf="itemForm"  >

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                            <mat-form-field fxFlex="10">
                                <mat-label>{{'state.code' | translate: {default: 'global.code'} | translate }}
                                </mat-label>
                                <input matInput autocomplete="off" minlength="1" maxlength="6" name="id" formControlName="id" uppercase required
                                    class="text-center">
                                    <mat-error *ngIf="f.id.errors?.required">{{'error.required' | translate}}</mat-error>
                                    <mat-error *ngIf="f.id.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                    <mat-error *ngIf="f.id.errors?.exists">{{'error.codeExists' | translate}}</mat-error>
                            </mat-form-field>

                            <sirio-select-search
                            fxFlex="90"
                                [label]="'state.country' | translate: {default: 'global.country'} | translate"
                                formControlName="pais" [required]="true" [elements]="paises.asObservable()"
                                [attributeName]="'nombre'" [errors]="f.pais?.errors">
                            </sirio-select-search>
                        </div>
                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                            <mat-form-field fxFlex.gt-xs="90">
                                <mat-label>{{'state.name' | translate: {default: 'global.name'} | translate }}
                                </mat-label>
                                <input matInput autocomplete="off" minlength="1" maxlength="60" name="nombre" formControlName="nombre" uppercase
                                    required>
                                    <mat-error *ngIf="f.id.errors?.required">{{'error.required' | translate}}</mat-error>
                                    <mat-error *ngIf="f.id.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex.gt-sm="10">
                                <mat-label>{{'country.localCode' | translate: {default: 'global.localCode'} |
                                    translate }}</mat-label>
                                <input matInput minlength="1" maxlength="6" autocomplete="off" name="codigoLocal" formControlName="codigoLocal"
                                    uppercase class="text-center">
                                    <mat-error *ngIf="f.codigoLocal.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                </mat-form-field>
                        </div>

                        </form>
                    </div>
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>