<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['profile.form']" current="action.add"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'user.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{'action.add' | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.clear' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>
                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div fxLayout="row" fxFlex="100%">
                        <div [formGroup]="itemForm" *ngIf="itemForm" fxLayout="column" fxFlex class="padding-h-2xl">

                            <div fxLayout="row wrap" fxLayoutAlign="center center">
                                <div fxFlex="100" fxFlex.gt-xs="20" class="pr-10">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Código</mat-label>
                                        <input matInput name="id" formControlName="id" uppercase required autocomplete="off">
                                        <mat-error *ngIf="f.id.hasError('exists')">
                                            {{f.id.errors?.exists}}
                                        </mat-error>
                                        <mat-error *ngIf="f.id?.errors?.maxlength">Longitud superior a 6 caracteres</mat-error>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="100" fxFlex.gt-xs="80">
                                    <mat-form-field appearance="outline" class="full-width">
                                        <mat-label>Nombre</mat-label>
                                        <input matInput name="nombre" uppercase formControlName="nombre" required autocomplete="off">
                                        <mat-error *ngIf="f.nombre.hasError('existsName')">
                                            {{f.nombre.errors?.existsName}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.gt-xs="100">
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-label>Descripción</mat-label>
                                        <input matInput type="text" autocomplete="off" uppercase name="descripcion" required formControlName="descripcion"
                                            maxlength="100">
                                        <mat-error *ngIf="f.descripcion.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="f.descripcion.errors?.pattern">Caracteres inválidos</mat-error>
                                    </mat-form-field>
                                </div>


                            </div>


                            <mat-accordion class="expansion-headers-align" *ngIf="modulos">

                                <mat-expansion-panel #mep="matExpansionPanel" *ngFor="let item of modulos.value; index as i" (expanded)="false"
                                    (opened)="setStep(i)">

                                    <mat-expansion-panel-header>
                                        <mat-panel-title style="font-weight: bold !important;">
                                            <mat-checkbox [color]="'primary'" [checked]="checklistSelection.isSelected(item) || item.checked" class="pr-10"
                                                (click)="$event.stopPropagation();" (change)="checkAll(i,$event)"></mat-checkbox>
                                            {{ item.label }}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{ item.descripcion }}
                                            <fa-icon [icon]="['fas', item.icon]" size="lg" style="margin-right: 0.5em;"></fa-icon>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                    <mat-tree [dataSource]="dataSource[i]" [treeControl]="treeControl[i]">
                                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                                            <button mat-icon-button disabled></button>
                                            <mat-checkbox [color]="'primary'" class="checklist-leaf-node"
                                                [checked]="checklistSelection.isSelected(node) || descendantsPartiallySelected(node)"
                                                (change)="leafItemSelectionToggle(node)"><span>{{getLabel(node)}}</span></mat-checkbox>
                                        </mat-tree-node>


                                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                                            <button mat-icon-button matTreeNodeToggle type="button" [attr.aria-label]="'toggle ' + node.filename">
                                                <mat-icon class="mat-icon-rtl-mirror">
                                                    {{treeControl[i].isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                                </mat-icon>
                                            </button>
                                            <mat-checkbox [color]="'primary'"
                                                [checked]="descendantsAllSelected(node)||checklistSelection.isSelected(node) || descendantsPartiallySelected(node)"
                                                (change)="itemSelectionToggle(node)"><span>{{getLabel(node)}}</span></mat-checkbox>

                                        </mat-tree-node>
                                    </mat-tree>

                                </mat-expansion-panel>
                            </mat-accordion>

                        </div>
                    </div>
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar>
            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>