@use '@angular/material' as mat;

#itemForm {
  form {
    min-height: 500px;
  }

  .mat-toolbar {
    background: inherit;
    color: inherit;
  }

  
}

.mat-icon-primary{
  color: darken($theme-color-primary, 3%);
}

@media only screen and (max-width: 480px) {
  .padding-h-2xl{
      padding-left: 2px;
      padding-right: 2px;
  }
  
}