<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
     <!-- TODO: PENDIENTE IN18 -->
    <h1>Teléfono</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">

      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>

</sirio-dialog-header>


<form [formGroup]="itemForm" *ngIf="itemForm">
  <mat-dialog-content>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <sirio-select-search fxFlex.gt-xs="33" [label]="'Tipo Telefono'" [readonly]="!isNew"
          formControlName="tipoTelefono" [required]="true" [elements]="tipoTelefonoList.asObservable()" [attributeName]="'nombre'"
          [errors]="f.tipoTelefono?.errors">
      </sirio-select-search>

      <sirio-select-search fxFlex.gt-xs="33" [label]="'Clase Telefono'" [readonly]="!isNew"
          formControlName="claseTelefono" [required]="true" [elements]="claseTelefonoList.asObservable()" [attributeName]="'nombre'"
          [errors]="f.claseTelefono?.errors">
      </sirio-select-search>
      
      <sirio-select-search fxFlex.gt-xs="33" [label]="'Clase Telefono'" [readonly]="!isNew"
          formControlName="prefijo" [required]="true" [elements]="prefijoList.asObservable()" [attributeName]="'nombre'"
          [errors]="f.prefijo?.errors">
      </sirio-select-search>

      <mat-form-field fxFlex="20">
          <mat-label>{{'Numero' | translate: {default:
              'Numero'} | translate }} </mat-label>
          <input matInput maxlength="200" minlength="1" autocomplete="off" name="numero" formControlName="numero"
              uppercase required>
          <mat-error *ngIf="f.numero.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.numero.errors?.pattern">{{'error.invalidCharacter' |
              translate}}
          </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20">
        <mat-label>{{'Principal' | translate: {default:
            'Principal'} | translate }} </mat-label>
        <input matInput maxlength="200" minlength="1" autocomplete="off" name="principal" formControlName="principal"
            uppercase required>
        <mat-error *ngIf="f.principal.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.principal.errors?.pattern">{{'error.invalidCharacter' |
            translate}}
        </mat-error>
      </mat-form-field>

    </div>


  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm.invalid">{{'button.save'|translate}}</button>
  </mat-dialog-actions>
</form>