<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
    <!-- TODO: PENDIENTE IN18 -->
    <h1>Teléfono</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="accent">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>

</sirio-dialog-header>



<mat-dialog-content>
  <form [formGroup]="itemForm" *ngIf="itemForm">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <sirio-select-search fxFlex.gt-xs="auto" [label]="'Tipo Teléfono'" formControlName="tipoTelefono" [required]="true"
        [elements]="tipoTelefonoList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>


      <sirio-select-search fxFlex.gt-xs="auto" [label]="'Clase Teléfono'" formControlName="claseTelefono" [required]="true"
        [elements]="claseTelefonoList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <mat-form-field fxFlex="auto">
        <mat-label>{{'Número' | translate }} </mat-label>

        <input matInput maxlength="20" minlength="11" autocomplete="off" phoneValidate [telefonicas]="telefonicaList.asObservable()" name="numero"
          [imask]="{mask: '(0000) 000.00.00'}" [unmask]="true" class="text-center" formControlName="numero" required>
        <mat-error *ngIf="f.numero.errors?.required">{{'error.required' | translate}} </mat-error>
        <mat-error *ngIf="f.numero.errors?.pattern">{{'error.invalidCharacter' | translate}} </mat-error>
        <mat-error *ngIf="f.numero.errors?.exists">Número Existe</mat-error>
        <mat-error *ngIf="f.numero.errors?.phone">{{f.numero.errors?.phone}} </mat-error>
        <!-- {{f.numero.errors | json}} -->

      </mat-form-field>

      <div fxFlex.gt-sm="30" class="text-right margin-top-md" *ngIf="mostrarToggle">
        <mat-slide-toggle [color]="'primary'" formControlName="principal" name="principal">
          {{'¿Es Principal?'}}
        </mat-slide-toggle>
      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="itemForm">
  <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm.invalid || (loading$ | async)">{{'button.save'|translate}}</button>
</mat-dialog-actions>