<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
     <!-- TODO: PENDIENTE IN18 -->
     
    <h1>Clientes y Proveedores</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">

      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>

</sirio-dialog-header>

<mat-dialog-content>
    
    <form [formGroup]="itemForm" *ngIf="itemForm">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <sirio-select-search
        fxFlex="30"
        [label]="'Relación Empresa'"
        formControlName="relacionEmpresa" [required]="true" [elements]="tipoRelacionList.asObservable()"
        [attributeName]="'nombre'" [errors]="f.relacionEmpresa?.errors">
      </sirio-select-search>

      <sirio-select-search fxFlex.gt-xs="30" [label]="'Tipo Documento'" formControlName="tipoDocumento" [required]="true"
        [elements]="tipodocumentoList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>  
      
      <mat-form-field fxFlex="auto">
        <mat-label>{{'Número de Documento'}}</mat-label>
        <input autocomplete="off" class="text-center" matInput valid-rif-number doc-number-validate [tipo_documento]="f.tipoDocumento?.value" [imask]="{mask: '00000000-0'}"  [unmask]="true" name="identificacion" maxlength="15" formControlName="identificacion">
          <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}}!</mat-error>
          <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
          <mat-error *ngIf="f.identificacion.errors?.rif">{{f.identificacion.errors?.rif}}</mat-error>
      </mat-form-field>
      
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <mat-form-field fxFlex="100">
        <mat-label>{{'Nombre Empresa' | translate: {default:
            'Nombre Empresa'} | translate }} </mat-label>
        <input matInput maxlength="80" minlength="1" autocomplete="off" name="empresa" formControlName="empresa"
            uppercase required>
        <mat-error *ngIf="f.empresa.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.empresa.errors?.pattern">{{'error.invalidCharacter' |
            translate}}
        </mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

      <mat-form-field fxFlex="100">
        <mat-label>{{'Dirección' | translate: {default:
              'Dirección'} | translate }} </mat-label>
          <input matInput maxlength="100" minlength="1" autocomplete="off" name="direccion" formControlName="direccion"
              uppercase required>
          <mat-error *ngIf="f.direccion.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.direccion.errors?.pattern">{{'error.invalidCharacter' |
              translate}}
          </mat-error>
      </mat-form-field>
    </div>

    <!-- {{printErrors() | json}}  -->
    
  </form>

  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="itemForm">
    <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm?.invalid || (loading$ | async)">{{'button.save'|translate}}</button>
  </mat-dialog-actions>


      