<div (sirioClickOutside)="onClickOutside()" class="toolbar-lang" fxFlex="grow" fxLayout="row"
  fxLayoutAlign="start center">
  <!-- Language Switcher -->
  <button mat-button [matMenuTriggerFor]="lang">
    <span class="flag-icon {{currentLang.icono}} mr-8"></span>
    <span>&nbsp;{{currentLang?.nombre?.substring(0,2)}}</span>
  </button>
  <mat-menu #lang="matMenu">
    <button mat-menu-item *ngFor="let lang of availableLangs" (click)="setLang(lang)">
      <span class="flag-icon mr-8 {{lang.icono}}"></span>
      <span>&nbsp;{{lang.nombre.substring(0,2)}}</span>
    </button>
  </mat-menu>
</div>