<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['agency.table']" current="global.list"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [@fadeInUp]>
        <sirio-list [name]="'agency.table' | translate: {default: 'global.notfound'}" placeholder="agency.search"
            (filterChange)="onFilterChange($event)">
            <mat-table #table id="tableContainer" [dataSource]="dataSource"  matSort
                matSortActive="agencia_id" matSortDirection="asc">

                <ng-container matColumnDef="agencia_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tw-15'">{{'agency.code' | translate:
                        {default: 'global.code'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-15'">
                        <p >{{element.id}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-40'" mat-sort-header>{{'agency.name' | translate:
                        {default: 'global.name'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-40'">
                        <p class="text-truncate">{{element.nombre}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="horarioExt">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-30'" mat-sort-header>{{'agency.extendedSchedule' | translate:
                        {default: 'global.extendedSchedule'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-30'">
                        <mat-chip mat-sm-chip [color]="element.horarioExt ? 'accent' : 'warn'" [selected]="element.horarioExt">
                            {{element.horarioExt ? 'SI' : 'NO'}}
                        </mat-chip>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="activo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tw-5'">{{'agency.status' | translate:
                        {default: 'global.status'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'tw-5'">
                        <mat-chip mat-sm-chip [color]="element.activo ? 'accent' : 'warn'" [selected]="element.activo">
                            {{element.activo ? 'Activo' : 'Inactivo'}}
                        </mat-chip>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-5'"></mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'tw-5'">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <sirio-actions-nav [element]="element" [items]="actions.asObservable()" 
                            [method]="actionAPI()"></sirio-actions-nav>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns;" class="element"
                    >
                </mat-row>
            </mat-table>
            <mat-paginator [length]="dataSource?.totalElements" [pageSize]="15" [pageSizeOptions]="[15, 30, 50]"
                showFirstLastButtons></mat-paginator>

        </sirio-list>
        <sirio-button-add tooltips="action.add" (eventClicked)="add($event)"></sirio-button-add>
    </sirio-page-layout-content>
</sirio-page-layout>