<sirio-page-layout mode="simple">
  <sirio-page-layout-header>
    <sirio-breadcrumbs [@fadeInRight] current="Components"></sirio-breadcrumbs>
  </sirio-page-layout-header>

  <sirio-page-layout-content fxLayout="column">
    <div fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">
      <div fxFlex="grow">


        <div [@fadeInUp] class="content" fxLayout="column" fxLayoutGap="5px">

          <mat-accordion class="expansion-headers-align">

            <mat-expansion-panel expanded="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="mt-10">
                    Datos Basicos
                  </span>
                </mat-panel-title>
                <mat-panel-description>
                  <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                    <mat-icon>person</mat-icon>
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div fxLayout="column" [formGroup]="formData">


                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                  <mat-form-field fxFlex="auto">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input class="text-center" autocomplete="off" minor-age today="{{todayValue}}" matInput
                      placeholder="DD/MM/YYYY" name="fecha" formControlName="fecha" [matDatepicker]="fechaPicker"
                      required>
                    <mat-datepicker-toggle matSuffix [for]="fechaPicker">
                    </mat-datepicker-toggle>
                    <mat-error *ngIf="form.fecha.errors?.matDatepickerParse">
                      Fecha Invalidad
                    </mat-error>
                    <mat-error *ngIf="form.fecha.errors?.minAge">
                      {{form.fecha.errors?.minAge}}
                    </mat-error>
                    <!-- {{form.fecha.errors|json}} -->
                  </mat-form-field>
                  <mat-datepicker #fechaPicker></mat-datepicker>

                  <mat-form-field fxFlex.gt-sm="25">
                    <mat-label>{{'form.phone' | translate: {default: 'global.phone'} | translate }}
                    </mat-label>
                    <input matInput name="telefono" autocomplete="off" formControlName="telefono" prefix="04"
                      mask="00 000 00 00" required placeholder="">
                    <mat-hint>Ingrese telefono movil</mat-hint>
                    <mat-error *ngIf="form.telefono.errors?.required">Es requerido</mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex.gt-sm="25">
                    <mat-label>{{'form.alternativePhone' | translate: {default: 'global.phone'} | translate }}
                    </mat-label>
                    <input matInput name="telefonoAlt" autocomplete="off" placeholder="" formControlName="telefonoAlt"
                      prefix="02" mask="00 000 00 00" required>
                    <mat-hint>Ingrese telefono local</mat-hint>
                    <mat-error *ngIf="form.telefonoAlt.errors?.required">Es requerido</mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex="auto">
                    <mat-label>{{'form.mount' | translate: {default: 'global.amount'} | translate }}
                    </mat-label>
                    <input matInput max="999999999999999.99" min="1.00" autocomplete="off" name="monto"
                      formControlName="monto" currencyMask [options]="{precision:2}" required>
                    <mat-error *ngIf="form.monto.errors?.required && !form.monto.errors?.min">Es requerido</mat-error>
                    <mat-error *ngIf="form.monto.errors?.max">No puede superior a 999.999.999.999.999,99</mat-error>
                    <mat-error *ngIf="form.monto.errors?.min">Debe ser superior a 0,00</mat-error>
                  </mat-form-field>

                </div>

                <mat-form-field fxFlex="auto">
                  <mat-label>{{'form.email' | translate: {default: 'global.email'} | translate }}
                  </mat-label>
                  <input matInput type="text" autocomplete="off" email-validate name="email" formControlName="email"
                    required>
                  <mat-error *ngIf="form.email.errors?.required ">Es requerido</mat-error>
                  <mat-error *ngIf="form.email.errors?.email">Email es invalido</mat-error>
                </mat-form-field>

                <!-- {{form.email.errors|json}} -->

              </div>

              <div fxLayout="row" fxLayout="column">
                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                  <button color="primary" (click)="save()" mat-raised-button [disabled]="formData?.invalid  ">
                    <mat-icon class="margin-bottom-xxs">save</mat-icon> {{'button.save' | translate: {default:
                    'global.notfound'} | translate }}
                  </button>
                </div>
              </div>

            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="hasBasicData">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Peps
                </mat-panel-title>
                <mat-panel-description>
                  <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                    <mat-icon>peoples</mat-icon>
                    <!-- <span class="notification-number mat-bg-warn "></span> -->
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>


              <div fxLayout="row" fxLayout="column">
                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                  <button color="default" (click)="addElement()" mat-button>
                    <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                    'global.notfound'} | translate }}
                  </button>
                </div>
              </div>

              <div fxLayout="column" [formGroup]="formData2">


                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="15px">


                  <mat-form-field fxFlex.gt-sm="30">
                    <mat-label>Frutas</mat-label>
                    <mat-select formControlName="fruta">
                      <!-- <mat-select-trigger>
                      {{toppings.value?.[0] || ''}}
                      <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
                        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                      </span>
                    </mat-select-trigger> -->
                      <mat-option *ngFor="let fruta of frutasList" [value]="fruta.id">{{fruta.nombre}}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div fxFlex="auto">
                    <mat-slide-toggle class="margin-top-md" [color]="'primary'" formControlName="mostrar"
                      name="mostrar">
                      {{'agency.extendedSchedule' | translate: {default: 'global.extendedSchedule'} | translate }}
                    </mat-slide-toggle>

                  </div>

                </div>



                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px"
                  *ngIf="form2.mostrar.value || form2.fruta.value === 'M'">

                  <mat-form-field fxFlex.gt-sm="30">
                    <mat-label>{{'form.account' | translate: {default: 'global.account'} | translate }}
                    </mat-label>
                    <input matInput name="cuenta" autocomplete="off" num-account-validate formControlName="cuenta"
                      mask="0000 0000 0000 0000 0000" required placeholder="">
                    <mat-hint>Ingrese el numero de cuenta</mat-hint>
                    <mat-error *ngIf="form2.cuenta.errors?.required">Es requerido</mat-error>
                    <mat-error *ngIf="form2.cuenta.errors?.account">El num. de cuenta es invalido</mat-error>
                  </mat-form-field>


                  <mat-form-field fxFlex="auto">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fecha"
                      formControlName="fecha" [matDatepicker]="fechaPicker" required>
                    <mat-datepicker-toggle matSuffix [for]="fechaPicker">
                    </mat-datepicker-toggle>
                    <mat-error *ngIf="form2.fecha.errors?.matDatepickerParse">
                      Fecha Invalidad
                    </mat-error>
                    <!-- {{form.fecha.errors|json}} -->
                  </mat-form-field>
                  <mat-datepicker #fechaPicker></mat-datepicker>



                  <mat-form-field fxFlex.gt-sm="30">
                    <mat-label>{{'form.phone' | translate: {default: 'global.phone'} | translate }}
                    </mat-label>
                    <input matInput name="telefono" autocomplete="off" formControlName="telefono" prefix="04"
                      mask="00 000 00 00" required placeholder="">
                    <mat-hint>Ingrese telefono movil</mat-hint>
                    <mat-error *ngIf="form2.telefono.errors?.required">Es requerido</mat-error>
                  </mat-form-field>


                  <mat-form-field fxFlex="auto">
                    <mat-label>{{'form.mount' | translate: {default: 'global.amount'} | translate }}
                    </mat-label>
                    <input matInput max="999999999999999.99" min="1.00" autocomplete="off" name="monto"
                      formControlName="monto" currencyMask [options]="{precision:2}" required>
                    <mat-error *ngIf="form2.monto.errors?.required">Es requerido</mat-error>
                    <mat-error *ngIf="form2.monto.errors?.max">No puede superior a 999.999.999.999.999,99</mat-error>
                    <mat-error *ngIf="form2.monto.errors?.min">Debe ser superior a 0,00</mat-error>
                  </mat-form-field>

                </div>


              </div>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="hasBasicData">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Direcciones
                </mat-panel-title>
                <mat-panel-description>
                  <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                    <mat-icon>location_on</mat-icon>
                    <span class="notification-number mat-bg-warn ">2</span>
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div fxLayout="row" fxLayout="column">


                <div fxLayout="row" fxLayout="column">
                  <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                    <button color="default" (click)="addElement()" mat-button>
                      <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                      'global.notfound'} | translate }}
                    </button>
                  </div>
                </div>


              </div>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="hasBasicData">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Telefonos
                </mat-panel-title>
                <mat-panel-description>
                  <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                    <mat-icon>phone</mat-icon>
                    <span class="notification-number mat-bg-warn ">2</span>
                  </button>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div fxLayout="row wrap" fxLayoutAlign="center center">

                <div fxLayout="row" fxLayout="column">
                  <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                    <button color="default" (click)="addElement()" mat-button>
                      <mat-icon class="margin-bottom-xxs">money</mat-icon> {{'button.add' | translate: {default:
                      'global.notfound'} | translate }}
                    </button>
                  </div>
                </div>

              </div>
            </mat-expansion-panel>

          </mat-accordion>


        </div>

      </div>

    </div>

  </sirio-page-layout-content>
</sirio-page-layout>