@import "var";

.taskPanel {
  width: 30%;
}

.sirio-container {
  height: 100%;
  position: relative;

}

.content-container {
  overflow: hidden;
}

.text-menu {
  color: #586289;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;

  &.scroll-disabled {
    overflow: hidden;

    .content-inner {
      min-height: 0;
    }
  }
}


@media (min-width: 1400px) {
  .sirio-container {
    max-width: 100%;
  }
}



// .notifier__notification{
//   top: 20px !important;
// }