@import "var";

.taskPanel{
  width: 30%;
}

.container {
  height: 100%;
  position: relative;
}

.content-container {
  overflow: hidden;
}

.text-menu{
  color:#586289;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;

  &.scroll-disabled {
    overflow: hidden;

    .content-inner {
      min-height: 0;
    }
  }
}
// .notifier__notification{
//   top: 20px !important;
// }
