<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['recountAtm.form']" current="action.add"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">

            <sirio-card-header>
                <sirio-card-header-heading>{{'recountAtm.form'|translate}}</sirio-card-header-heading>
                <sirio-card-header-subheading>{{('action.add') | translate}}</sirio-card-header-subheading>
                <sirio-card-header-actions>
                    <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                    {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="save()">
                        <mat-icon>save</mat-icon>
                    </button>

                    <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                    {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                        <mat-icon>close</mat-icon>
                    </button>
                </sirio-card-header-actions>
            </sirio-card-header>

            <sirio-card-content fxLayout="column">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                    <mat-form-field fxFlex="60">
                        <mat-label>{{'recountAtm.atm' | translate: {default: 'global.atm'} | translate }}</mat-label>
                        <input matInput [value]="atmId+' - '+atm" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="40">
                        <mat-label>{{'recountAtm.coin' | translate: {default: 'global.coin'} | translate }}</mat-label>
                        <input matInput [value]="moneda.nombre" readonly>
                    </mat-form-field>

                </div>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                    <mat-form-field fxFlex="20">
                        <mat-label>{{'recountAtm.sequence' | translate: {default: 'global.sequence'} | translate }}</mat-label>
                        <input matInput [(ngModel)]="arqueoAtm.secuencia">
                    </mat-form-field>
    
                    <div fxFlex="15" class="text-center margin-top-md">
                        <mat-slide-toggle [color]="'primary'" [(ngModel)]="arqueoAtm.esRetiroAtm" (change)="esRetiroEvent($event)">
                            {{'recountAtm.makeWithdrawal' | translate: {default: 'global.makeWithdrawal'} | translate }}
                        </mat-slide-toggle>
                    </div>

                    <div fxFlex="20" class="text-center margin-top-md">
                        <mat-slide-toggle [color]="'primary'" [(ngModel)]="arqueoAtm.esIncrementoAtm" (change)="esIncrementoEvent($event)">
                            {{'recountAtm.makeIncrement' | translate: {default: 'global.makeIncrement'} | translate }}
                        </mat-slide-toggle>
                    </div>

                    <mat-form-field fxFlex="25" appearance="standart">
                        <mat-label>{{'recountAtm.lastCounting' | translate: {default: 'global.lastCounting'} | translate }}</mat-label>
                        <input matInput [value]="arqueoAtm.fecha" readonly>
                    </mat-form-field>

                    <mat-form-field fxFlex="20" appearance="standart">
                        <mat-label>{{'recountAtm.totalAmount' | translate: {default: 'global.totalAmount'} | translate }}</mat-label>
                        <input matInput [value]="arqueoAtm.monto | number:'1.2'" readonly class="text-right">
                    </mat-form-field>

                </div>       

                <div fxLayout="column" class="margin-h padding-v">
                    <ngx-datatable [scrollbarV]="false" class="material bg-white" [columnMode]="'flex'"
                        [messages]="{emptyMessage: 'No hay registros...',totalMessage: 'Total'}" [sorts]="[{prop: 'id', dir: 'asc'}]" [headerHeight]="50"
                        [footerHeight]="50" [rowHeight]="55" [limit]="10" [rows]="cajetines | async">

                        <ngx-datatable-column [flexGrow]="1.5" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.name' | translate: {default: 'global.name'} |
                                    translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <span style="white-space: break-spaces; font-size: 12px;">
                                    {{ row?.descripcion }}
                                </span>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.denomination' | translate: {default: 'global.denomination'} |
                                    translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <div class="fullwidth input-content">
                                    <p class="fullwidth text-right "> {{ row?.denominacion | number:'1.2'}}
                                    </p>
                                </div>
                                <!-- <input class="mat-input" *ngIf="editing[rowIndex+ '-sobrante']" [(ngModel)]="row.sobrante" autofocus matInput type="text"
                                (blur)="editing[rowIndex + '-sobrante'] = false" currencyMask [options]="{precision:0}" /> -->
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.previousCounter' | translate: {default: 'global.previousCounter'} |
                                    translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <div class="fullwidth input-content">
                                    <p class="fullwidth text-right "> {{ row?.anterior | number:'1.0'}}
                                    </p>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.dispensed' | translate: {default: 'global.dispensed'} | translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <input class="mat-input" [(ngModel)]="row.dispensado" autofocus matInput type="text" currencyMask [options]="{precision:0}"
                                    (ngModelChange)="updateValuesErrors(row, rowIndex)" />
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.rejected' | translate: {default: 'global.rejected'} | translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <input class="mat-input" [(ngModel)]="row.rechazado" autofocus matInput type="text" currencyMask [options]="{precision:0}"
                                    (ngModelChange)="updateValuesErrors(row, rowIndex)" />
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.physical' | translate: {default: 'global.physical'} |
                                    translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <input class="mat-input" [(ngModel)]="row.fisico" autofocus matInput type="text" currencyMask [options]="{precision:0}"
                                    (ngModelChange)="updateValuesErrors(row, rowIndex)" />
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.spare' | translate: {default: 'global.spare'} |
                                    translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <div class="fullwidth input-content">
                                    <p class="fullwidth text-right "> {{ row?.sobrante | number:'1.0'}}
                                    </p>
                                </div>
                                <!-- <input class="mat-input" *ngIf="editing[rowIndex+ '-sobrante']" [(ngModel)]="row.sobrante" autofocus matInput type="text"
                                (blur)="editing[rowIndex + '-sobrante'] = false" currencyMask [options]="{precision:0}" /> -->
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.missing' | translate: {default: 'global.missing'} |
                                    translate}} </span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <div class="fullwidth input-content">
                                    <p class="fullwidth text-right "> {{ row?.faltante| number:'1.0'}} </p>
                                </div>
                                <!-- <input class="mat-input" *ngIf="editing[rowIndex+ '-faltante']" [(ngModel)]="row.faltante" autofocus matInput type="text"
                                (blur)="editing[rowIndex + '-faltante'] = false" currencyMask [options]="{precision:0}" /> -->
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true" *ngIf="arqueoAtm.esIncrementoAtm">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.increment' | translate: {default: 'global.increment'} |
                                    translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <input class="mat-input" [(ngModel)]="row.incremento" autofocus matInput type="text" currencyMask [options]="{precision:0}"
                                    (ngModelChange)="updateValuesErrors(row, rowIndex)" />
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true" *ngIf="arqueoAtm.esRetiroAtm">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.withdrawal' | translate: {default: 'global.withdrawal'} | translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <input class="mat-input" [(ngModel)]="row.retiro" autofocus matInput type="text" currencyMask [options]="{precision:0}"
                                    (ngModelChange)="updateValuesErrors(row, rowIndex)" />
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.currentCounter' | translate: {default: 'global.currentCounter'} |
                                    translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <div class="fullwidth input-content">
                                    <p class="fullwidth text-right "> {{ row?.actual | number:'1.0'}}
                                    </p>
                                </div>
                                <!-- <input class="mat-input" *ngIf="editing[rowIndex+ '-actual']" [(ngModel)]="row.actual" autofocus matInput type="text"
                                (blur)="editing[rowIndex + '-actual'] = false" currencyMask [options]="{precision:0}" readonly/>  -->
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [flexGrow]="2" [sortable]="true">
                            <ng-template ngx-datatable-header-template>
                                <span>{{'recountAtm.amount' | translate: {default: 'global.amount'} |
                                    translate}}</span>
                            </ng-template>
                            <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                <div class="fullwidth input-content">
                                    <p class="fullwidth text-right "> {{ row?.monto | number:'1.2'}}
                                    </p>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>

                    <mat-error *ngFor="let error of errorList">{{error}}</mat-error>

                </div>
            </sirio-card-content>
            <mat-toolbar>
                <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                    <button type="button" mat-button (click)="back()">
                        {{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}
                    </button>
                    <button color="primary" (click)="save()" mat-raised-button [disabled]="existsError || arqueoAtm.secuencia == null">
                        <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                        'global.notfound'} | translate }}
                    </button>
                </div>
            </mat-toolbar>
        </sirio-card>
    </sirio-page-layout-content>
</sirio-page-layout>