<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['institution.form']" current="action.edit"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'institution.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{'action.edit' | translate}}</sirio-card-header-subheading>                   
                    <sirio-card-header-subheading></sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid "
                            (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>


                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>clear_all</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">               

                        <form [formGroup]="itemForm" *ngIf="itemForm">

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <mat-form-field fxFlex="10">
                                    <mat-label>{{'institution.code' | translate: {default: 'global.code'} | translate }}
                                    </mat-label>
                                    <input matInput minlength="1" maxlength="10" autocomplete="off" name="id" formControlName="id"
                                        required>
                                        <mat-error *ngIf="f.id.errors?.required">Requerido</mat-error>
                                        <mat-error *ngIf="f.id.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>
                                
                                <mat-form-field fxFlex="15">
                                    <mat-label>{{'institution.identificacion' | translate: {default: 'global.identification'} | translate }}
                                    </mat-label>
                                    <input matInput maxlength="15" minlength="1" autocomplete="off" name="identificacion" formControlName="identificacion"
                                        required>
                                    <mat-error *ngIf="f.identificacion.errors?.required">Requerido</mat-error>
                                    <mat-error *ngIf="f.identificacion.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>      
                                <mat-form-field fxFlex="10">
                                    <mat-label>{{'institution.acronym' | translate: {default: 'global.acronym'} | translate }}
                                    </mat-label>
                                    <input matInput minlength="4" maxlength="4" autocomplete="off" name="siglas" formControlName="siglas">                                  
                                    <mat-error *ngIf="f.siglas.errors?.pattern">Caracter inválido</mat-error>
                                 </mat-form-field>
                                 <mat-form-field fxFlex="auto">
                                    <mat-label>{{'institution.name' | translate: {default: 'global.name'} | translate }}
                                    </mat-label>
                                    <input matInput maxlength="200" minlength="1" autocomplete="off" name="nombre" formControlName="nombre"
                                        required>
                                    <mat-error *ngIf="f.nombre.errors?.required">Requerido</mat-error>
                                    <mat-error *ngIf="f.nombre.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>    
                                
                            </div>



                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <sirio-select-search 
                                fxFlex="40"
                                [label]="'institution.state' | translate: {default: 'global.state'} | translate"
                                formControlName="estado" [required]="true" [elements]="estados.asObservable()"
                                [attributeName]="'nombre'" [errors]="f.estado?.errors">
                                </sirio-select-search>

                                <sirio-select-search 
                                fxFlex="30"
                                [label]="'institution.municipality' | translate: {default: 'global.municipality'} | translate"
                                formControlName="municipio" [required]="true" [elements]="municipios.asObservable()"
                                [attributeName]="'nombre'" [errors]="f.municipio?.errors">
                                </sirio-select-search>

                                <sirio-select-search 
                                fxFlex="30"
                                [label]="'institution.parish' | translate: {default: 'global.parish'} | translate"
                                formControlName="parroquia" [required]="true" [elements]="parroquias.asObservable()"
                                [attributeName]="'nombre'" [errors]="f.parroquia?.errors">
                                </sirio-select-search>

                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                              
                                    <sirio-select-search 
                                fxFlex="40"
                                [label]="'institution.postalZone' | translate: {default: 'global.postalZone'} | translate"
                                formControlName="zonaPostal" [required]="true" [elements]="zonasPostales.asObservable()"
                                [attributeName]="'nombre'" [errors]="f.zonaPostal?.errors">
                                </sirio-select-search>

                                

                                <mat-form-field fxFlex="80">
                                    <mat-label>{{'institution.direction' | translate: {default: 'global.direction'} | translate }}
                                    </mat-label>
                                    <input  matInput minlength="1" maxlength="200" autocomplete="off" name="direccion" formControlName="direccion" uppercase
                                        required>
                                    <mat-error *ngIf="f.direccion.errors?.required">Requerido</mat-error>
                                    <mat-error *ngIf="f.direccion.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>                              
                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" > 
                                <mat-form-field fxFlex="50">
                                    <mat-label>{{'institution.email' | translate: {default: 'global.email'} | translate }}
                                    </mat-label>
                                    <input type="email" matInput minlength="1" maxlength="60" autocomplete="off" name="email" formControlName="email" uppercase>                      
                                    <mat-error *ngIf="f.email.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="50">
                                    <mat-label>{{'institution.web' | translate: {default: 'global.web'} | translate }}
                                    </mat-label>
                                    <input type="web" matInput minlength="1" maxlength="60" autocomplete="off" name="web" formControlName="web" uppercase>                                  
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" >  
                                <mat-form-field fxFlex="50">
                                    <mat-label>{{'institution.phone' | translate: {default: 'global.phone'} | translate }}
                                    </mat-label>
                                    <input  matInput minlength="1" maxlength="60" autocomplete="off" name="telefono" formControlName="telefono" uppercase
                                        required>
                                    <mat-error *ngIf="f.telefono.errors?.required">Requerido</mat-error>
                                    <mat-error *ngIf="f.telefono.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>

                                <mat-form-field fxFlex="50">
                                    <mat-label>{{'institution.alternativePhone' | translate: {default: 'global.alternativePhone'} | translate }}
                                    </mat-label>
                                    <input  matInput minlength="1" maxlength="60" autocomplete="off" name="telefono_alt" formControlName="telefono_alt" uppercase
                                        >                                
                                    </mat-form-field>
                            </div>


                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <mat-form-field fxFlex="50">
                                    <mat-label>{{'institution.latitude' | translate: {default: 'global.latitude'} | translate }}
                                    </mat-label>
                                    <input  matInput minlength="1" maxlength="13" autocomplete="off" name="latitud" formControlName="latitud" uppercase
                                        required>
                                    <mat-error *ngIf="f.latitud.errors?.required">Requerido</mat-error>
                                    <mat-error *ngIf="f.latitud.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>  

                                <mat-form-field fxFlex="50">
                                    <mat-label>{{'institution.longitude' | translate: {default: 'global.longitude'} | translate }}
                                    </mat-label>
                                    <input  matInput minlength="1" maxlength="13" autocomplete="off" name="longitud" formControlName="longitud" uppercase
                                        required>
                                    <mat-error *ngIf="f.longitud.errors?.required">Requerido</mat-error>
                                    <mat-error *ngIf="f.longitud.errors?.pattern">Caracter inválido</mat-error>
                                </mat-form-field>                              
                            </div>


                        </form>
                  


                </sirio-card-content>

                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            <!-- <mat-icon class="margin-bottom-xxs">close</mat-icon>  -->
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>  
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                            <mat-icon class="margin-bottom-xxs">save</mat-icon> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                        
                    </div>
                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>