<sirio-card>
  <sirio-card-header class="header">
    <sirio-card-header-heading>Movimiento de Efectivo</sirio-card-header-heading>
    <sirio-card-header-actions>
      <button mat-button [matMenuTriggerFor]="coin">
        <span ></span>
        <span>&nbsp;{{currentMoneda?.siglas}}</span>
        <mat-icon class="icon" fxHide fxShow.gt-sm>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #coin="matMenu">
        <button mat-menu-item *ngFor="let coin of availableCoins" (click)="changeMoneda(coin)">
          <span ></span>
          <span>&nbsp;{{coin.siglas}} - {{coin.nombre}}</span>
        </button>
      </mat-menu>
      <button (click)="refreshData()" mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
    </sirio-card-header-actions>
  </sirio-card-header>

  <sirio-card-content class="card-content container">
    <ng-container *ngIf="barChart">
      <highcharts-chart  [Highcharts]="highcharts" [options]="barChart">
      </highcharts-chart>

    </ng-container>

  </sirio-card-content>

  <sirio-loading-overlay [isLoading]="isLoading"></sirio-loading-overlay>
</sirio-card>