<!-- Apoderado -->
<div fxLayout="row" fxLayout="column">
    <div fxLayoutAlign="end center" fxFlex="1 1 0%">
        <button color="default" (click)="popup()" mat-button class="margin-bottom-sm">
            <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
            'global.notfound'} | translate }}
        </button>
    </div>
</div>


<ngx-datatable [scrollbarV]="false" class="material bg-white" [columnMode]="'flex'" [messages]="{emptyMessage: 'No hay registros...',totalMessage: 'Total'}"
    [sorts]="[{prop: 'id', dir: 'asc'}]" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="apoderadoList| async">

    <ngx-datatable-column [flexGrow]="0.5" [sortable]="true">
        <ng-template ngx-datatable-header-template>
            <span>#</span>
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            {{ rowIndex+1 }}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" [sortable]="true">
        <ng-template ngx-datatable-header-template>
            <span>Identificación</span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            <div class="text-center" [innerHTML]="row.identificacion"></div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="3" [sortable]="true">
        <ng-template ngx-datatable-header-template>
            <span>Nombre y Apellido </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            {{row.nombre}}
        </ng-template>
    </ngx-datatable-column> 

    <ngx-datatable-column [flexGrow]="0.50" [sortable]="true">
        <ng-template ngx-datatable-header-template>
            <span>¿Es Apoderado? </span>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            {{row.esApoderado ? 'SI' : 'NO'}}
        </ng-template>
    </ngx-datatable-column> 


    <!-- Update -->
    <ngx-datatable-column name="" [flexGrow]="0.5">

        <ng-template ngx-datatable-header-template>
            <div class="text-center">{{'Modificar'| translate}}</div>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;" (click)="popup(row,$event)" matTooltip="Modificar">
                <mat-icon>edit</mat-icon>
            </button> 
        </ng-template>
    </ngx-datatable-column>

    <!-- Delette -->
    <ngx-datatable-column name="" [flexGrow]="0.5">
        <ng-template ngx-datatable-header-template>
            <div class="text-center">{{'action.delete'| translate}}</div>
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;"
                (click)="delete(row)" matTooltip="Eliminar">
                <mat-icon>delete</mat-icon>
            </button>
        </ng-template>
    </ngx-datatable-column>



</ngx-datatable>
<!-- /Apoderado -->