@import "var";

.page {
  display: block;
  height: 100%;
  width: 100%;
}

.card {
  width: 380px;

  @include media-xs {
    width: 300px;
  }

  .header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
}

.logo {
  width: 255px;
  height: 85px;
  img{
    width: 255px;
    height: auto;
  }
}

p.other{
  margin-top: 0.4em !important;
}


.lockscreen-user {
  text-align: center;
  display: flow-root;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}


