<div class="background-pattern page" fxLayout="column" fxLayoutAlign="center center">
  <div [@fadeInUp] class="card border-radius elevation">
    <div class="header padding background-primary" fxLayout="column" fxLayoutAlign="center center">
      <div class="logo fill-primary-contrast">
        <img src="assets/img/sirio-logo-large.png" alt="">
      </div>
    </div>
    <div class="padding" fxLayout="column" fxLayoutGap="5px" [formGroup]="form">
      <div fxFlexWrap="wrap" class="lockscreen-user">
        <mat-icon style="font-size: 60px;width: auto;" color="primary">account_circle</mat-icon> <!--TODO: Revisar-->
        <h5 class="m-0 font-normal">{{fullName | titlecase}}</h5>
      </div>
      <div fxFlex="auto" fxLayout="column">
        <mat-form-field fxFlex="grow">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="inputType" autocomplete="off"  formControlName="password" required
            placeholder="{{'Ingresa la contraseña de '+username }}">
          <button type="button" mat-icon-button matSuffix (click)="toggleVisibility()" matTooltip="Toggle Visibility">
            <mat-icon *ngIf="visible">visibility</mat-icon>
            <mat-icon *ngIf="!visible">visibility_off</mat-icon>
          </button>
          <mat-hint>Ingresa tu contraseña para recuperar tu acceso</mat-hint>
          <mat-error *ngIf="form.get('password').hasError('required')">
            Es Requerida
          </mat-error>
        </mat-form-field>
      </div>

      <button type="button" color="primary" mat-raised-button (click)="send()" [disabled]="form.invalid">
        INGRESAR
      </button>
      <p  class="secondary-text text-center other" >
        ¿Quieres Ingresar con otro Usuario?<br/>
        <a [routerLink]="['/user/login']">Ingresa Aquí</a>
      </p>
    </div>
  </div>
</div>