<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['boxOfficeClosing.form']"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">
        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'Cierre de Taquilla'|translate}} </sirio-card-header-heading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid ">
                            <mat-icon>outbox</mat-icon>

                        </button>
                        <!-- <button class="icon" mat-icon-button matTooltip="{{'button.clear' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>
                        </button> -->
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <ng-container>

                        <mat-accordion class="expansion-headers-align" >

                            <mat-expansion-panel *ngFor="let item of saldos | async" [expanded]="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <!-- TODO: INTERNACIONALIZACION -->
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>peoples</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">{{item.siglasMoneda + ' - '+ item.nombreMoneda}}</span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="margin-top-sm semi-bold margin-right-sm"> EFECTIVO EN CAJA: {{item.saldo | number: '1.2'}}</span>
                                        <span class="margin-top-sm semi-bold">&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <span class="margin-top-sm semi-bold margin-right-sm"> <b> DECLARADO: {{item.declarado  | number: '1.2'}} </b>
                                        </span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <mat-form-field fxFlex="15">
                                        <mat-label>{{'Entradas de Efectivo' | translate: {default: 'Entradas de Efectivo'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.ingreso  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="15">
                                        <mat-label>{{'Salidas de Efectivo' | translate: {default: 'Salidas de Efectivo'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.egreso  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="20">
                                        <mat-label>{{'En Tránsito' | translate: {default: 'En Tránsito'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.transito  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="15">
                                        <mat-label>{{'Depósitos' | translate: {default: 'Depósitos'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.deposito  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="15">
                                        <mat-label>{{'Retiros' | translate: {default: 'Retiros'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.retiro  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="10" *ngIf="item.moneda === this.preferencias.monedaConoActual">
                                        <mat-label>{{'Ajuste' | translate: {default: 'Ajuste'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.ajuste  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="auto">
                                        <mat-label>{{'Diferencia' | translate: {default: 'Diferencia'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.diferencia | number: '1.2'" readonly>
                                    </mat-form-field>
                                </div>

                                <mat-divider class="margin-bottom-md"></mat-divider>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <div fxLayout="column" fxFlex="10">
                                        <h3>{{'Declaración de Efectivo' | translate: {default: 'Declaración de Efectivo'} | translate }}</h3>
                                    </div>
                                    <div fxLayout="column" fxFlex="auto">
                                        <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px">
                                            <mat-form-field fxLayout="column" *ngFor="let det of item.detalleEfectivo" fxFlex="32">
                                                <mat-label>{{det.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{
                                                    (det.esBillete?'global.bill':
                                                    'global.coin') | translate }} ({{'Cantidad en Caja' | translate }} {{det.disponible | number: '1.0'}})
                                                </mat-label>
                                                <input matInput class="text-right" [(ngModel)]="det.declarado" min="0" autocomplete="off" matInput type="number"
                                                    (ngModelChange)="updateValuesErrors(item)" />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="isOpen" fxLayout="row" fxLayout="column">
                                    <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                        <button color="primary" (click)="declare(item)" mat-raised-button>
                                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i>
                                            {{'button.declare' | translate: {default:'global.notfound'} | translate }}
                                        </button>
                                    </div>
                                </div>

         <!-- {{printErrors() | json}}  -->
                            </mat-expansion-panel>
                        </mat-accordion>

                        
                    </ng-container>
                </sirio-card-content>

                <mat-toolbar *ngIf="isOpen">
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button color="primary" (click)="closeDay()" mat-raised-button >
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.closeBoxOffice' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar>
                
            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>