<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['enterPurchaseBcv.form']" current="{{'action.add'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'enterPurchaseBcv.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{('action.add') | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div fxLayout="column">
                        <form [formGroup]="itemForm" *ngIf="itemForm">

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <mat-form-field fxFlex.gt-xs="40">
                                    <mat-label>{{'enterPurchaseBcv.incomeType' | translate: {default: 'global.incomeType'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="'INGRESO A BOVEDA POR COMPRA AL BANCO CENTRAL DE VENEZUELA'" readonly>
                                </mat-form-field>

                                <sirio-select-search fxFlex="30" [label]="'enterPurchaseBcv.coin' | translate: {default: 'global.coin'} | translate"
                                    formControlName="moneda" [required]="true" [elements]="monedas.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.moneda?.errors">
                                </sirio-select-search>

                                <mat-form-field fxFlex="30">
                                    <mat-label>{{'enterPurchaseBcv.amount' | translate: {default: 'global.amount'} | translate }} </mat-label>
                                    <input matInput max="9999999999999.99" min="0,01" autocomplete="off" currencyMask name="monto" formControlName="monto"
                                        [options]="{precision:2}" required readonly>
                                    <mat-error *ngIf="f.monto.errors?.required">{{'error.required' | translate}}</mat-error>
                                    <mat-error *ngIf="f.monto.errors?.balance">{{'error.insufficientBalance' | translate}}</mat-error>
                                    <mat-error *ngIf=" f.monto.errors?.min">{{'error.beGreaterThan' | translate}} 0,01</mat-error>
                                    <mat-error *ngIf="f.monto.errors?.max">{{'error.beLessThan' | translate}} 9.999.999.999.999,99</mat-error>
                                </mat-form-field>
                            </div>
                        </form>

                        <mat-divider class="margin-bottom-md"></mat-divider> 

                        <div fxLayout="column" *ngIf="f.moneda.value">
                            <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" fxFlex="100">
                                <div fxLayout="column" fxFlex="10">
                                    <h3>{{'Desglose de Efectivo' | translate: {default: 'Desglose de Efectivo'} | translate }}</h3>
                                </div>
                                <div fxLayout="column" fxFlex="auto">
                                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px">
                                        <mat-form-field fxLayout="column" *ngFor="let item of conos | async" fxFlex="32">
                                            <mat-label>{{item.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{ (item.esBillete?'global.bill':
                                                'global.coin') | translate }} ({{'global.quantityAvailable' | translate }} {{item.disponible}})
                                            </mat-label>
                                            <input matInput class="text-right" #cantidad="ngModel" [(ngModel)]="item.cantidad" min="0" [max]="item.disponible"
                                                autocomplete="off" matInput type="number" (ngModelChange)="updateValuesErrors(item)" [disabled]="item.disponible==0"/>
                                            <mat-error *ngIf="cantidad.invalid">Cantidad Máxima {{item.disponible | number:'1.0'}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid || f.monto.value <= 0 ">
                            <!-- <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i>  -->
                            {{'button.process' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>