<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['naturalPerson.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">
        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'naturalPerson.form'|translate}} </sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit')| translate}} &nbsp;&nbsp;<b>{{nombreCompletoPersona}}</b>
                    </sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="send()">
                            <mat-icon>outbox</mat-icon>

                        </button>
                        <!-- <button class="icon" mat-icon-button matTooltip="{{'button.clear' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>clear_all</mat-icon>

                        </button> -->
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <mat-accordion class="expansion-headers-align">

                        <mat-expansion-panel expanded="true">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span class="mt-10">
                                        Datos Basicos
                                    </span>
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                                        <mat-icon>person</mat-icon>
                                    </button>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div fxLayout="column" [formGroup]="itemForm">



                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <sirio-select-simple fxFlex="20"
                                        [label]="'naturalPerson.documentType' | translate: {default: 'global.documentType'} | translate"
                                        formControlName="tipoDocumento" [required]="true" [elements]="tipoDocumentos.asObservable()" [attributeName]="'nombre'"
                                        [errors]="f.tipoDocumento?.errors">
                                    </sirio-select-simple>

                                    <mat-form-field fxFlex="25">
                                        <mat-label>{{'naturalPerson.identification' | translate: {default:
                                            'global.identification'} | translate }} </mat-label>
                                        <input matInput maxlength="15" minlength="1" autocomplete="off" name="identificacion" formControlName="identificacion"
                                            uppercase required>
                                        <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}}
                                        </mat-error>
                                        <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' |
                                            translate}}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="20">
                                        <mat-label>{{'naturalPerson.birthDate' | translate: {default: 'global.birthDate'} |
                                            translate }}</mat-label>
                                        <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fechaNacimiento"
                                            formControlName="fechaNacimiento" [matDatepicker]="fechaNacimientoPicker" required>
                                        <mat-datepicker-toggle matSuffix [for]="fechaNacimientoPicker">
                                        </mat-datepicker-toggle>
                                        <mat-error *ngIf="f.fechaNacimiento.errors?.matDatepickerParse">
                                            Fecha Invalidad
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-datepicker #fechaNacimientoPicker></mat-datepicker>

                                    <sirio-select-search fxFlex="35"
                                        [label]="'naturalPerson.birthCountry' | translate: {default: 'global.birthCountry'} | translate" formControlName="pais"
                                        [required]="true" [elements]="paises.asObservable()" [attributeName]="'nombre'" [errors]="f.pais?.errors">
                                    </sirio-select-search>
                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                    <mat-form-field fxFlex="25">
                                        <mat-label>{{'naturalPerson.firstName' | translate: {default:
                                            'global.firstName'} | translate }} </mat-label>
                                        <input matInput maxlength="25" minlength="1" autocomplete="off" name="primerNombre" formControlName="primerNombre"
                                            uppercase required>
                                        <mat-error *ngIf="f.primerNombre.errors?.required">{{'error.required' | translate}}
                                        </mat-error>
                                        <mat-error *ngIf="f.primerNombre.errors?.pattern">{{'error.invalidCharacter' |
                                            translate}}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="25">
                                        <mat-label>{{'naturalPerson.secondName' | translate: {default:
                                            'global.secondName'} | translate }} </mat-label>
                                        <input matInput maxlength="25" minlength="1" autocomplete="off" name="segundoNombre" formControlName="segundoNombre"
                                            uppercase>

                                        <mat-error *ngIf="f.segundoNombre.errors?.pattern">{{'error.invalidCharacter' |
                                            translate}}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="25">
                                        <mat-label>{{'naturalPerson.surname' | translate: {default:
                                            'global.surname'} | translate }} </mat-label>
                                        <input matInput maxlength="25" minlength="1" autocomplete="off" name="primerApellido" formControlName="primerApellido"
                                            uppercase required>
                                        <mat-error *ngIf="f.primerApellido.errors?.required">{{'error.required' | translate}}
                                        </mat-error>
                                        <mat-error *ngIf="f.primerApellido.errors?.pattern">{{'error.invalidCharacter' |
                                            translate}}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="25">
                                        <mat-label>{{'naturalPerson.secondSurname' | translate: {default:
                                            'global.secondSurname'} | translate }} </mat-label>
                                        <input matInput maxlength="25" minlength="1" autocomplete="off" name="segundoApellido" formControlName="segundoApellido"
                                            uppercase>

                                        <mat-error *ngIf="f.segundoApellido.errors?.pattern">{{'error.invalidCharacter' |
                                            translate}}
                                        </mat-error>
                                    </mat-form-field>

                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                    <sirio-select-search fxFlex="35"
                                        [label]="'naturalPerson.nationality' | translate: {default: 'global.nationality'} | translate"
                                        formControlName="nacionalidad" [required]="true" [elements]="paises.asObservable()" [attributeName]="'nombre'"
                                        [errors]="f.pais?.errors">
                                    </sirio-select-search>

                                    <sirio-select-search fxFlex="30"
                                        [label]="'naturalPerson.anotherNationality' | translate: {default: 'global.anotherNationality'} | translate"
                                        formControlName="otraNacionalidad" [required]="false" [elements]="paises.asObservable()" [attributeName]="'nombre'"
                                        [errors]="f.pais?.errors">
                                    </sirio-select-search>

                                    <sirio-select-simple fxFlex="25" [label]="'naturalPerson.gender' | translate: {default: 'global.gender'} | translate"
                                        formControlName="genero" [required]="true" [elements]="generos.asObservable()" [attributeName]="'nombre'"
                                        [errors]="f.genero?.errors">
                                    </sirio-select-simple>

                                    <mat-form-field fxFlex="10">
                                        <mat-label>{{'naturalPerson.familyBurden' | translate: {default:
                                            'global.familyBurden'} | translate }}
                                        </mat-label>
                                        <input matInput max="10" autocomplete="off" name="cargaFamiliar" formControlName="cargaFamiliar" currencyMask
                                            [options]="{precision:0}" required>
                                        <mat-error *ngIf="f.cargaFamiliar.errors?.required">Es requerido</mat-error>
                                        <mat-error *ngIf="f.cargaFamiliar.errors?.max">No puede superior a 10</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <mat-form-field fxFlex="30">
                                        <mat-label>{{'naturalPerson.email' | translate: {default:
                                            'global.email'} | translate }} </mat-label>
                                        <input matInput maxlength="60" autocomplete="off" name="email" formControlName="email" uppercase required
                                            email-validate>
                                        <mat-error *ngIf="f.email.errors?.required">{{'error.required' | translate}}
                                        </mat-error>
                                        <mat-error *ngIf="f.email.errors?.email">Email es invalido</mat-error>
                                    </mat-form-field>

                                    <sirio-select-search fxFlex="30"
                                        [label]="'naturalPerson.profession' | translate: {default: 'global.profession'} | translate" formControlName="profesion"
                                        [required]="true" [elements]="profesiones.asObservable()" [attributeName]="'nombre'" [errors]="f.profesion?.errors">
                                    </sirio-select-search>

                                    <sirio-select-simple fxFlex="20" [label]="'naturalPerson.tenure' | translate: {default: 'global.tenure'} | translate"
                                        formControlName="tenencia" [required]="true" [elements]="tenencias.asObservable()" [attributeName]="'nombre'"
                                        [errors]="f.tenencia?.errors">
                                    </sirio-select-simple>

                                    <sirio-select-simple fxFlex="20"
                                        [label]="'naturalPerson.maritalStatus' | translate: {default: 'global.maritalStatus'} | translate"
                                        formControlName="estadoCivil" [required]="true" [elements]="estadosCiviles.asObservable()" [attributeName]="'nombre'"
                                        [errors]="f.estadoCivil?.errors">
                                    </sirio-select-simple>
                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <sirio-select-simple fxFlex="20"
                                        [label]="'naturalPerson.spouseDocumentType' | translate: {default: 'global.spouseDocumentType'} | translate"
                                        formControlName="tipoDocumentoConyuge" [required]="false" [elements]="tipoDocumentos.asObservable()"
                                        [attributeName]="'nombre'" [errors]="f.tipoDocumentoConyuge?.errors">
                                    </sirio-select-simple>

                                    <mat-form-field fxFlex="15">
                                        <mat-label>{{'naturalPerson.spouseIdentification' | translate: {default:
                                            'global.spouseIdentification'} | translate }} </mat-label>
                                        <input matInput maxlength="15" autocomplete="off" name="identificacionConyuge" formControlName="identificacionConyuge"
                                            uppercase>
                                        <mat-error *ngIf="f.identificacionConyuge.errors?.pattern">{{'error.invalidCharacter' |
                                            translate}}
                                        </mat-error>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="30">
                                        <mat-label>{{'naturalPerson.spouseName' | translate: {default:
                                            'global.spouseName'} | translate }} </mat-label>
                                        <input matInput maxlength="60" autocomplete="off" name="conyuge" formControlName="conyuge" uppercase>
                                        <mat-error *ngIf="f.conyuge.errors?.pattern">{{'error.invalidCharacter' |
                                            translate}}
                                        </mat-error>
                                    </mat-form-field>

                                    <sirio-select-search fxFlex="35"
                                        [label]="'naturalPerson.sourceIncomeSpouse' | translate: {default: 'global.sourceIncomeSpouse'} | translate"
                                        formControlName="fuenteIngreso" [required]="false" [elements]="actividadesEconomicas.asObservable()"
                                        [attributeName]="'nombre'" [errors]="f.fuenteIngreso?.errors">
                                    </sirio-select-search>

                                    <!-- <mat-form-field fxFlex="25">
                                    <mat-label>{{'naturalPerson.spouseName' | translate: {default:
                                        'Conyugue'} | translate }} </mat-label>
                                    <input matInput maxlength="35" minlength="1" autocomplete="off" name="conyuge"
                                        formControlName="conyuge" uppercase required>
                                    <mat-error *ngIf="f.conyuge.errors?.required">{{'error.required' | translate}}
                                    </mat-error>
                                    <mat-error *ngIf="f.conyuge.errors?.pattern">{{'error.invalidCharacter' |
                                        translate}}
                                    </mat-error>
                                </mat-form-field>
    
                                <sirio-select-simple fxFlex="45"
                                    [label]="'naturalPerson.spouseSourceIncome' | translate: {default: 'global.spouseSourceIncome'} | translate"
                                    formControlName="fuenteIngreso" [required]="true"
                                    [elements]="actividadesEconomicas.asObservable()" [attributeName]="'fuenteIngreso'"
                                    [errors]="f.actividadesEconomicas?.errors">
                                </sirio-select-simple> -->

                                </div>



                            </div>


                            <div fxLayout="row" fxLayout="column">
                                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                    <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                                        <mat-icon class="margin-bottom-xxs">save</mat-icon> {{'button.save' | translate: {default:
                                        'global.notfound'} | translate }}
                                    </button>
                                </div>
                            </div>

                            <!-- <div fxLayout="row" fxLayout="column">
                            <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                              <button color="primary" (click)="save()" mat-raised-button [disabled]="formData?.invalid  ">
                                <mat-icon class="margin-bottom-xxs">save</mat-icon> {{'button.save' | translate: {default:
                                'global.notfound'} | translate }}
                              </button>
                            </div>
                          </div> -->

                        </mat-expansion-panel>

                        <mat-expansion-panel *ngIf="hasBasicData">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{'personAddress.table' | translate}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                                        <mat-icon>location_on</mat-icon>
                                    </button>
                                    <span class="notification-number "  [matBadge]="'2'"></span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div fxLayout="row" fxLayout="column">


                                <div fxLayout="row" fxLayout="column">
                                    <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                        <button color="default" (click)="addElement()" mat-button>
                                            <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                                            'global.notfound'} | translate }}
                                        </button>
                                    </div>
                                </div>

                                <ngx-datatable [scrollbarV]="false" class="material bg-white" [columnMode]="'flex'"
                                [messages]="{emptyMessage: 'No hay registros...',totalMessage: 'Total'}" [sorts]="[{prop: 'id', dir: 'asc'}]" [headerHeight]="50"
                                [footerHeight]="50" [rowHeight]="50" [limit]="10" [rows]="avaluos | async">
            
                                <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                                    <ng-template ngx-datatable-header-template>
                                        <span>{{'appraisalCosts.code' | translate: {default: 'global.code'} |
                                            translate}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{ row?.avaluo }}
                                    </ng-template>
                                </ngx-datatable-column>
            
                                <ngx-datatable-column [flexGrow]="3" [sortable]="true">
                                    <ng-template ngx-datatable-header-template>
                                        <span>{{'appraisalCosts.name' | translate: {default: 'global.name'} |
                                            translate}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span style="white-space: break-spaces;">{{ row?.nombre }}</span>
                                    </ng-template>
                                </ngx-datatable-column>
            
                                <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                                    <ng-template ngx-datatable-header-template>
                                        <span>{{'appraisalCosts.costNationalCurrency' | translate: {default: 'global.costNationalCurrency'} |
                                            translate}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                        <div  class="fullwidth input-content"  (click)="editing[rowIndex + '-costo'] = true" *ngIf="!editing[rowIndex + '-costo']">
                                            <p class="fullwidth text-right " > {{ row?.costo | number:'1.2-2'}} <mat-icon  matTooltip="Clic Editar">edit</mat-icon></p>
                                        </div>
                                        <input class="mat-input" *ngIf="editing[rowIndex+ '-costo']"  [(ngModel)]="row.costo" autofocus 
                                             matInput type="text" (blur)="editing[rowIndex + '-costo'] = false"  currencyMask [options]="{precision:2}" />
                                    </ng-template>
                                </ngx-datatable-column>
            
                                <ngx-datatable-column [flexGrow]="1" [sortable]="true" [headerClass]="">
                                    <ng-template ngx-datatable-header-template>
                                        <span>{{'appraisalCosts.costForeignCurrency' | translate: {default: 'global.costForeignCurrency'} |
                                            translate}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                        <span title="Click to edit" (click)="editing[rowIndex + '-costoDivisa'] = true"
                                            *ngIf="!editing[rowIndex + '-costoDivisa']">
                                            <span class="text-right">{{ row?.costoDivisa | number:'1.2-2'}}</span>
                                        </span>
                                        <input class="mat-input" [(ngModel)]="row.costoDivisa" autofocus maxlength="19" matInput type="text" *ngIf="editing[rowIndex + '-costoDivisa']"
                                            (blur)="editing[rowIndex + '-costoDivisa'] = false" currencyMask [options]="{precision:2}" />
                                    </ng-template>
                                </ngx-datatable-column>
            
                                <ngx-datatable-column name="" [flexGrow]="1">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;"
                                            [disabled]="" (click)="update(row,$event)" matTooltip="Actualizar">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>


                            </div>
                        </mat-expansion-panel>

                        <mat-expansion-panel *ngIf="hasBasicData">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Telefonos
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                                        <mat-icon>phone</mat-icon>
                                    </button>
                                    <span class="notification-number "  [matBadge]="'2'"></span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>


                            <div fxLayout="row" fxLayout="column">
                                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                    <button color="default" (click)="detailCash()" mat-button>
                                        <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                                        'global.notfound'} | translate }}
                                    </button>
                                </div>
                            </div>

                        </mat-expansion-panel>


                        <mat-expansion-panel *ngIf="hasBasicData">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Información Laboral
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                                        <mat-icon>factory</mat-icon>
                                        <!-- <span class="notification-number mat-bg-warn "></span> -->
                                    </button>
                                </mat-panel-description>
                            </mat-expansion-panel-header>


                            <div fxLayout="row" fxLayout="column">
                                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                    <button color="default" (click)="addElement()" mat-button>
                                        <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                                        'global.notfound'} | translate }}
                                    </button>
                                </div>
                            </div>


                        </mat-expansion-panel>

                        <mat-expansion-panel *ngIf="hasBasicData">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Referencias Bancarias
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                                        <mat-icon>account_balance</mat-icon>
                                    </button>
                                    <span class="notification-number "  [matBadge]="'3'"></span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>


                            <div fxLayout="row" fxLayout="column">
                                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                    <button color="default" (click)="addElement()" mat-button>
                                        <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                                        'global.notfound'} | translate }}
                                    </button>
                                </div>
                            </div>


                        </mat-expansion-panel>

                        <mat-expansion-panel *ngIf="hasBasicData">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Referencias Personales
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                                        <mat-icon>contacts</mat-icon>
                                    </button>
                                    <span class="notification-number "  [matBadge]="'2'"></span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>


                            <div fxLayout="row" fxLayout="column">
                                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                    <button color="default" (click)="addElement()" mat-button>
                                        <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                                        'global.notfound'} | translate }}
                                    </button>
                                </div>
                            </div>


                        </mat-expansion-panel>

                        <mat-expansion-panel *ngIf="hasBasicData">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Peps
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                                        <mat-icon>peoples</mat-icon>
                                    </button>
                                    <span class="notification-number "  [matBadge]="'1'"></span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>


                            <div fxLayout="row" fxLayout="column">
                                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                    <button color="default" (click)="addElement()" mat-button>
                                        <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                                        'global.notfound'} | translate }}
                                    </button>
                                </div>
                            </div>


                        </mat-expansion-panel>

                        <mat-expansion-panel *ngIf="hasBasicData">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <!-- TODO: INTERNACIONALIZACION -->
                                    Representante Legal
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                                        <mat-icon>peoples</mat-icon>
                                    </button>
                                    <span class="notification-number "  [matBadge]="'1'"></span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>


                            <div fxLayout="row" fxLayout="column">
                                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                    <button color="default" (click)="addElement()" mat-button>
                                        <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                                        'global.notfound'} | translate }}
                                    </button>
                                </div>
                            </div>


                        </mat-expansion-panel>


                        <mat-expansion-panel *ngIf="hasBasicData">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <!-- TODO: INTERNACIONALIZACION -->
                                    Apoderados
                                </mat-panel-title>
                                <mat-panel-description>
                                    <button mat-icon-button type="button" color="primary" class="topbar-button-right">
                                        <mat-icon>peoples</mat-icon>
                                    </button>
                                    <span class="notification-number "  [matBadge]="'1'"></span>
                                </mat-panel-description>
                            </mat-expansion-panel-header>


                            <div fxLayout="row" fxLayout="column">
                                <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                    <button color="default" (click)="addElement()" mat-button>
                                        <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
                                        'global.notfound'} | translate }}
                                    </button>
                                </div>
                            </div>


                        </mat-expansion-panel>
                        <!-- <form [formGroup]="itemForm" *ngIf="itemForm">

                       


                    </form> -->
                    </mat-accordion>
                </sirio-card-content>
                <!-- <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                            <mat-icon class="margin-bottom-xxs">save</mat-icon> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar> -->
            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>