<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['cashPass.form']"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{this.rol.nombre}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{'action.edit' | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <mat-card-title class="mat-bg-grey">
                            <!-- <div class="card-title-text">
                                <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
                                    <mat-icon class="">more_vert</mat-icon>
                                </button>

                                <mat-menu #userMenu="matMenu">
                                    <button mat-menu-item class="mr-1" (click)="resendTask()">
                                        <mat-icon color="primary">check_circle</mat-icon>
                                        {{'action.resend' | translate }}
                                    </button>
                                    <button mat-menu-item class="mr-1" (click)="overrideTask()">
                                        <mat-icon color="accent">cancel</mat-icon>
                                        {{'action.override' | translate }}
                                    </button>
                                </mat-menu>

                            </div> -->
                        </mat-card-title>

                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <div fxLayout="column">
                        <form [formGroup]="itemForm" *ngIf="itemForm" tabNavigation>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>{{'Unidad Emisora' | translate: {default: 'Unidad Emisora'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.emisor + ' - ' + remesa.nombreEmisor" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>{{'Moneda' | translate: {default: 'Moneda'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.nombreMoneda" readonly>
                                </mat-form-field>

                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="!esTransportista">
                                <mat-form-field fxFlex="100" fxFlex.gt-xs="30">
                                    <mat-label>{{'Cajas o Bolsas Utilizadas' | translate: {default: 'Cajas o Bolsas Utilizadass'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.cajasBolsas" readonly>
                                </mat-form-field>

                                <sirio-select-search fxFlex="100" fxFlex.gt-xs="70" [label]="'Transportista' | translate: {default: 'Transportista'} | translate"
                                    formControlName="transportista" [required]="!esTransportista" [elements]="transportistas.asObservable()" [attributeName]="'nombre'"
                                    [errors]="f.transportista?.errors">
                                </sirio-select-search>
                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <sirio-select-search fxFlex="100" fxFlex.gt-xs="25" [label]="'Tipo de Viaje' | translate: {default: 'Tipo de Viaje'} | translate"
                                    formControlName="viaje" [required]="true" [elements]="viajes.asObservable()" [attributeName]="'nombre'">
                                </sirio-select-search>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                                    <mat-label>{{'Plomos Utilizados' | translate: {default: 'Plomos Utilizados'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.plomos" readonly>
                                </mat-form-field>

                                <mat-form-field fxFlex="100" fxFlex.gt-xs="25">
                                    <mat-label>{{'Monto A Enviar' | translate: {default: 'Monto A Enviar'} | translate }}
                                    </mat-label>
                                    <input matInput [value]="remesa.montoEnviado" currencyMask [options]="{precision:2}" readonly>
                                </mat-form-field>
                            </div>

                            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                <sirio-select-search fxFlex="100" fxFlex.gt-xs="100"
                                    [label]="'Responsables del Transporte' | translate: {default: 'Responsables del Transporte'} | translate"
                                    formControlName="responsables" [required]="true" [elements]="empleados.asObservable()" [attributeName]="'nombre'"
                                    [multiple]="true" >
                                </sirio-select-search>
                            </div>
                        </form>
                    </div>

                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid || (loading$ | async)">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>

                </mat-toolbar>

            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>