<mat-toolbar>
    <button mat-icon-button matTooltip="{{'button.back' | translate: {default: 'global.notfound'} | translate}}" routerLink="/configuracion/pais">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class=" h1 mt-10" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        {{'country.form' | translate: {default: "global.notfound"} }}
  </span>
    <!-- <span fxFlex></span> -->
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
        
        <button mat-icon-button matTooltip="{{'button.ai' | translate: {default: 'global.notfound'} | translate }}" 
        *ngIf="pais.id" (click)="activateOrInactivate()">
            <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-icon-button matTooltip="{{'button.save' | translate: {default: 'global.notfound'} | translate}}" (click)="save()" [disabled]="itemForm?.invalid">
            <mat-icon>trash</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div  id="itemForm" class="form-container">
    <form [formGroup]="itemForm" *ngIf="itemForm" class="form-content" (ngSubmit)="save()">

        <div fxLayout="row wrap" fxLayoutAlign="center center"> 

            <div fxFlex="100" fxFlex.gt-xs="10" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'country.code' | translate: {default: 'global.code'} | translate }}</mat-label>
                    <input matInput maxlength="5" name="id" formControlName="id" uppercase required class="text-center">
                    <mat-error *ngIf="f.id.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.id.errors?.pattern">Caracter inválido</mat-error>
                    <mat-error *ngIf="f.id.errors?.exists">
                        {{f.id.errors?.exists}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="50" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'country.name' | translate: {default: 'global.name'} | translate }}</mat-label>
                    <input matInput maxlength="50" name="nombre" formControlName="nombre" uppercase required>
                    <mat-error *ngIf="f.nombre.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.nombre.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="30" class="pr-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'country.demonym' | translate: {default: 'global.demonym'} | translate }}</mat-label>
                    <input matInput maxlength="30" name="gentilicio" formControlName="gentilicio" uppercase required>
                    <mat-error *ngIf="f.gentilicio.errors?.required">Requerido</mat-error>
                    <mat-error *ngIf="f.gentilicio.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

            <div fxFlex="100" fxFlex.gt-xs="10">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>{{'country.localCode' | translate: {default: 'global.localCode'} | translate }}</mat-label>
                    <input matInput maxlength="5" name="codigoLocal" formControlName="codigoLocal" uppercase class="text-center">
                    <mat-error *ngIf="f.nombre.errors?.pattern">Caracter inválido</mat-error>
                </mat-form-field>
            </div>

        </div>

    </form>
    <mat-toolbar>
        <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
            <button type="button" mat-button routerLink="/configuracion/pais">{{'button.cancel' | translate: {default: 'global.notfound'} | translate }}</button>
            <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid ||  (!isNew && !pais.activo)">{{'button.save' | translate: {default: 'global.notfound'} | translate }}</button>
        </div>

    </mat-toolbar>
</div>
