#itemForm {

  form {
    min-height: 500px;
  }

  .mat-toolbar {
    background: inherit;
    color: inherit;

  }


}


.datatable-header-cell
{
   display: flex !important;
   align-items: center !important;
}
