<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <!-- Asignar etiqueta de internacionalizacion -->
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['Persona Juridica']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">
        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <!-- Asignar etiqueta de internacionalizacion -->
                    <sirio-card-header-heading>{{'Persona Juridica'|translate}} </sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit')| translate}} &nbsp;&nbsp;<b>{{personaJuridica.nombre | uppercase}}</b>
                    </sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        
                        {default: 'Persona Juridica'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="send()">
                            <mat-icon>outbox</mat-icon>

                        </button>
                        <!-- <button class="icon" mat-icon-button matTooltip="{{'button.clear' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>
                        </button> -->
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'Persona Juridica'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <sirio-person-query [tipo_persona]="constants.PERSONA_JURIDICA" (result)="queryResult($event)" 
                                    (update)="updatePerson($event)" (create)="addPerson($event)"></sirio-person-query>


                    <ng-container *ngIf="loaded$ | async">

                        <!-- Put the component which needs to be destroyed + rerendered inside -->

                        <mat-accordion class="expansion-headers-align">

                            <mat-expansion-panel expanded="true">
                                <mat-expansion-panel-header class="odd margin-bottom-xs">
                                    <mat-panel-title>
                                        <button type="button" mat-icon-button type="button" color="primary">
                                            <mat-icon>person</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">
                                            Datos de Identificación de la Empresa
                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>

                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div fxLayout="column" [formGroup]="itemForm">

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                       

                                        <mat-form-field fxFlex="20">
                                            <mat-label>{{'juridicoPerson.documentType' | translate: {default:
                                                'global.documentType'} | translate }} </mat-label>
                                            <input matInput maxlength="15" minlength="1" autocomplete="off" name="tipoDocumento"
                                                formControlName="tipoDocumento" uppercase required >
                                            <mat-error *ngIf="f.tipoDocumento.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.tipoDocumento.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>


                                        </mat-form-field>

                                        <mat-form-field fxFlex="30">
                                            <mat-label>{{'juridicoPerson.identification' | translate: {default:
                                                'global.identification'} | translate }} </mat-label>
                                            <input matInput maxlength="15" minlength="1" autocomplete="off" name="identificacion"
                                                formControlName="identificacion" uppercase required>
                                            <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                        <sirio-select-search fxFlex="50"
                                            [label]="'pais' | translate: {default: 'pais'} | translate"
                                            formControlName="pais" [required]="true" [elements]="paises.asObservable()" [attributeName]="'nombre'"
                                            [errors]="f.pais?.errors">
                                        </sirio-select-search>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                        <mat-form-field fxFlex="50">
                                            <mat-label>{{'Razón Social' | translate: {default:
                                                'Razón Social'} | translate }} </mat-label>
                                            <input matInput maxlength="25" minlength="1" autocomplete="off" name="razonSocial" formControlName="razonSocial"
                                                uppercase required>
                                            <mat-error *ngIf="f.razonSocial.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.razonSocial.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>


                                        <mat-form-field fxFlex="50">
                                            <mat-label>{{'Nombre Comercial' | translate: {default:
                                                'Nombre Comercial'} | translate }} </mat-label>
                                            <input matInput maxlength="25" minlength="1" autocomplete="off" name="nombreComercial" formControlName="nombreComercial"
                                                uppercase required>
                                            <mat-error *ngIf="f.nombreComercial.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.nombreComercial.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">


                                        <mat-form-field fxFlex="25">
                                            <mat-label>{{'Sitio Web' | translate: {default:
                                                'Sitio Web'} | translate }} </mat-label>
                                            <input matInput maxlength="25" minlength="1" autocomplete="off" name="web" formControlName="web"
                                                uppercase required>
                                            <mat-error *ngIf="f.web.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.web.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

    
                                        <mat-form-field fxFlex="50">
                                            
                                            <mat-label>{{'Correo Electrónico' | translate: {default:
                                                'Correo Electrónico'} | translate }} </mat-label>
                                            <input matInput maxlength="60" autocomplete="off" name="email" formControlName="email" uppercase required
                                                email-validate>
                                            <mat-error *ngIf="f.email.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.email.errors?.email">Email es Inválido</mat-error>
                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                        <mat-panel-title>

                                            <button type="button" mat-icon-button type="button" color="primary">
                                                <mat-icon>person</mat-icon>
                                            </button>

                                        
                                            <span class="margin-top-sm margin-bottom-lg semi-bold">
                                                Información Económica Financiera.
                                            </span>

                                            <mat-panel-description>

                                            </mat-panel-description>

                                        </mat-panel-title>

                                    </div>
                                  
                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                        <sirio-select-search fxFlex="auto"
                                            [label]="'juridicoPerson.economicActivity' | translate: {default: 'global.economicActivity'} | translate"
                                            formControlName="actividadEconomica" [required]="true" [elements]="actividadesEconomicas.asObservable()"
                                            [attributeName]="'nombre'" [errors]="f.actividadEconomica?.errors">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="auto"
                                            [label]="'juridicoPerson.specificActivity' | translate: {default: 'global.specificActivity'} | translate"
                                            formControlName="actividadEspecifica" [required]="true" [elements]="actividadesEspecificas.asObservable()"
                                            [attributeName]="'nombre'" [errors]="f.actividadEspecifica?.errors">
                                        </sirio-select-search>

                                        <sirio-select-search fxFlex="auto"
                                            [label]="'juridicoPerson.specialCategory' | translate: {default: 'global.specialCategory'} | translate"
                                            formControlName="categoriaEspecial" [required]="false" [elements]="categoriasEspeciales.asObservable()"
                                            [attributeName]="'nombre'" [errors]="f.categoriaEspecial?.errors">
                                        </sirio-select-search>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                        
                                        <mat-form-field fxFlex="33">
                                            <mat-label>{{'Número Subsidiarias / Oficinas' | translate: {default:
                                                'Número Subsidiarias / Oficinas'} | translate }}
                                            </mat-label>
                                            <input matInput class="text-center" max="10" min="0" type="number" autocomplete="off" name="oficinas"
                                                formControlName="oficinas" required>
                                            <mat-error *ngIf="f.oficinas.errors?.required">Es requerido</mat-error>
                                            <mat-error *ngIf="f.oficinas.errors?.max">No puede superior a 100</mat-error>
                                        </mat-form-field>

                                        <sirio-select-search fxFlex="33"
                                            [label]="'País' | translate: {default: 'País'} | translate"
                                            formControlName="pais" [required]="true" [elements]="paises.asObservable()" [attributeName]="'nombre'"
                                            [errors]="f.pais?.errors">
                                        </sirio-select-search>

                                        <mat-form-field fxFlex="33">
                                            <mat-label>{{'Número de empleados' | translate: {default:
                                                'Número de empleados'} | translate }}
                                            </mat-label>
                                            <input matInput class="text-center" max="10" min="0" type="number" autocomplete="off" name="empleados"
                                                formControlName="empleados" required>
                                            <mat-error *ngIf="f.empleados.errors?.required">Es requerido</mat-error>
                                            <mat-error *ngIf="f.empleados.errors?.max">No puede superior a 100</mat-error>
                                        </mat-form-field>


                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                        <mat-form-field fxFlex="33">
                                            <mat-label>{{'Ventas mensuales' | translate: {default:
                                                'Ventas mensuales'} | translate }} </mat-label>
                                            <input maxlength="16" matInput autocomplete="off" name="ventas" currencyMask [options]="{precision:2}" formControlName="ventas" [required]="">
                                           
                                    
                                            <mat-error *ngIf="f.ventas.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.ventas.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="33">
                                            <mat-label>{{'Ingresos mensuales' | translate: {default:
                                                'Ingresos mensuales'} | translate }} </mat-label>
                                            <input maxlength="16" matInput autocomplete="off" name="ingresos" currencyMask [options]="{precision:2}" formControlName="ingresos" [required]="">
                                            
                                            <mat-error *ngIf="f.ingresos.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.ingresos.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="33">
                                            <mat-label>{{'Egresos mensuales' | translate: {default:
                                                'Egresos mensuales'} | translate }} </mat-label>
                                            <input maxlength="16" matInput autocomplete="off" name="egresos" currencyMask [options]="{precision:2}" formControlName="egresos" [required]="">
                                            
                                            <mat-error *ngIf="f.egresos.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.egresos.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                        <mat-panel-title>

                                            <button type="button" mat-icon-button type="button" color="primary">
                                                <mat-icon>person</mat-icon>
                                            </button>

                                            <span class="margin-top-sm margin-bottom-lg semi-bold">
                                                Última declaración ISLR:
                                            </span>

                                            <mat-panel-description>

                                            </mat-panel-description>

                                        </mat-panel-title>

                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                                        <mat-form-field fxFlex="10">
                                            <mat-label>{{'Año' | translate: {default:
                                                'Año'} | translate }} </mat-label>
                                            <input matInput maxlength="100" minlength="1" autocomplete="off" name="anhoDeclaracion" formControlName="anhoDeclaracion"
                                                uppercase required>
                                            <mat-error *ngIf="f.anhoDeclaracion.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.anhoDeclaracion.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="25">
                                            <mat-label>{{'Monto' | translate: {default:
                                                'Monto'} | translate }} </mat-label>
                                            <input maxlength="16" matInput autocomplete="off" name="montoDeclarado" currencyMask [options]="{precision:2}" formControlName="montoDeclarado" [required]="">
                                            
                                    
                                            <mat-error *ngIf="f.montoDeclarado.errors?.required">{{'error.required' | translate}}
                                            </mat-error>
                                            <mat-error *ngIf="f.montoDeclarado.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="evaluarEstadoCivil()">
                                        <sirio-select-simple fxFlex="20"
                                            [label]="'juridicoPerson.spouseDocumentType' | translate: {default: 'global.spouseDocumentType'} | translate"
                                            formControlName="tipoDocumentoConyuge" [required]="evaluarEstadoCivil()" [elements]="tipoDocumentos.asObservable()"
                                            [attributeName]="'nombre'" [errors]="f.tipoDocumentoConyuge?.errors">
                                        </sirio-select-simple>

                                        <mat-form-field fxFlex="15">
                                            <mat-label>{{'juridicoPerson.spouseIdentification' | translate: {default:
                                                'global.spouseIdentification'} | translate }} </mat-label>
                                            <input matInput maxlength="15" autocomplete="off" name="identificacionConyuge"
                                                formControlName="identificacionConyuge" uppercase [required]="evaluarEstadoCivil()">
                                            <mat-error *ngIf="f.identificacionConyuge.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex="30">
                                            <mat-label>{{'juridicoPerson.spouseName' | translate: {default:
                                                'global.spouseName'} | translate }} </mat-label>
                                            <input matInput maxlength="60" [required]="evaluarEstadoCivil()" autocomplete="off" name="nombreConyuge"
                                                formControlName="nombreConyuge" uppercase>
                                            <mat-error *ngIf="f.nombreConyuge.errors?.pattern">{{'error.invalidCharacter' |
                                                translate}}
                                            </mat-error>
                                        </mat-form-field>

                                        <sirio-select-search fxFlex="45"
                                            [label]="'juridicoPerson.sourceIncomeSpouse' | translate: {default: 'global.sourceIncomeSpouse'} | translate"
                                            formControlName="fuenteIngreso" [required]="evaluarEstadoCivil()" [elements]="actividadesEconomicas.asObservable()"
                                            [attributeName]="'nombre'" [errors]="f.fuenteIngreso?.errors">
                                        </sirio-select-search>

                                    </div>

                                </div>

                                

                                <div fxLayout="row" fxLayout="column">
                                    <div fxLayoutAlign="end center" fxFlex="1 1 0%">
                                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                                            <!-- <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> -->
                                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i>
                                            {{'button.save' | translate: {default:
                                            'global.notfound'} | translate }}
                                        </button>
                                    </div>
                                    <!-- {{printErrors() | json}}  -->
                                </div>


                            </mat-expansion-panel>

                            <mat-expansion-panel *ngIf="hasBasicData" (opened)="openAddress(true)" (closed)="openAddress(false)">
                                <mat-expansion-panel-header >
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>location_on</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">
                                            {{'Dirección Fiscal' | translate}}

                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="notification-number margin-top-sm" matBadgeColor="accent" [matBadge]="totalAddress"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="row" fxLayout="column" *ngIf="showAddress">
                                    <sirio-persona-direccion-table [persona]="personaJuridica.id"></sirio-persona-direccion-table>

                                </div>

                            </mat-expansion-panel>

                            

                            <mat-expansion-panel *ngIf="hasBasicData" (opened)="openPhones(true)" (closed)="openPhones(false)">
                                <mat-expansion-panel-header class="odd">
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>phone</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">Télefonos</span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="notification-number margin-top-sm" matBadgeColor="accent" [matBadge]="totalPhone"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="row" fxLayout="column" *ngIf="showPhone">
                                    <sirio-persona-telefono-table [persona]="personaJuridica.id"></sirio-persona-telefono-table>

                                </div>

                            </mat-expansion-panel>

                            <mat-expansion-panel *ngIf="hasBasicData" (opened)="openRegistroMercantil(true)" (closed)="openRegistroMercantil(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>location_on</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">
                                            
                                            {{'Registro Mercantil' | translate}}

                                        </span>
                                    </mat-panel-title>

                                    <mat-panel-description>
                                        <span class="notification-number margin-top-sm" matBadgeColor="accent" [matBadge]="totalRegistroMercantil"></span>
                                    </mat-panel-description>

                                </mat-expansion-panel-header>
                              
                                <!-- {{printErrors() | json}}  -->
                                
                                 <div fxLayout="row" fxLayout="column" *ngIf="showRegistroMercantil">
                                   
                                    <sirio-persona-registro-mercantil-table [persona]="personaJuridica.id" [tipoDocumento]="personaJuridica.tipoDocumento"></sirio-persona-registro-mercantil-table>

                                </div>
                                
                                <!-- <div fxLayout="row" fxLayout="column" *ngIf="showRegistroMercantil">
                                    <sirio-perdsona-registro-mercantil-table [persona]="personaJuridica.id" (propagar)="updateAddress($event)">
                                    </sirio-persona-registro-mercantil-table>
                                </div> -->
                                
                            </mat-expansion-panel>

                            <!-- <mat-expansion-panel *ngIf="hasBasicData" (opened)="openAddress(true)" (closed)="openAddress(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>location_on</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">
                                            {{'Entes Públicos' | translate}}

                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="notification-number margin-top-sm" matBadgeColor="accent" [matBadge]="totalAddress"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="row" fxLayout="column" *ngIf="showAddress">

                                    <sirio-persona-direccion-table [persona]="personaJuridica.id" (propagar)="updateAddress($event)">
                                    </sirio-persona-direccion-table>


                                </div>
                            </mat-expansion-panel>                        -->


                            <mat-expansion-panel *ngIf="hasBasicData" (opened)="openAccionistaDirectivo(true)" (closed)="openAccionistaDirectivo(false)">
                                <mat-expansion-panel-header class="odd">
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>location_on</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">
                                            {{'Accionistas / Junta Directiva' | translate}}

                                        </span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="notification-number margin-top-sm" matBadgeColor="accent" [matBadge]="totalAccionistaDirectivo"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <!-- {{printErrors() | json}}  -->

                                <div fxLayout="row" fxLayout="column" *ngIf="showAccionistaDirectivo">

                                    <sirio-persona-accionista-directivo-table [persona]="personaJuridica.id" (propagar)="updateAddress($event)">
                                    </sirio-persona-accionista-directivo-table>


                                </div>
                            </mat-expansion-panel>

                            <mat-expansion-panel *ngIf="hasBasicData" (opened)="openApoderado(true)" (closed)="openApoderado(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>peoples</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold"> Representante(s) Legal (es) de la Empresa Autorizados a movilizar la cuenta </span>
                                    </mat-panel-title>
                                    <mat-panel-description>

                                    <span class="notification-number margin-top-sm" matBadgeColor="accent" ></span>
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>

                                <div fxLayout="row" fxLayout="column" *ngIf="showApoderado">


                                    <sirio-persona-apoderado-table [persona]="personaJuridica.id" (propagar)="updateApoderado($event)"></sirio-persona-apoderado-table>


                                </div>

                            </mat-expansion-panel>


                            <!-- <mat-expansion-panel *ngIf="hasBasicData"> -->
                            <!-- <mat-expansion-panel *ngIf="hasBasicData" (opened)="openInformacionLaboral(true)" (closed)="openInformacionLaboral(false)">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>factory</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">Dirección Fiscal</span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>


                                <div fxLayout="row" fxLayout="column" *ngIf="showInformacionLaboral">

                                    <sirio-persona-informacionLaboral-table [persona]="personaJuridica.id" (propagar)="updateWorkingInfo($event)"></sirio-persona-informacionLaboral-table>

                                </div>


                            </mat-expansion-panel> -->


                            <!-- <mat-expansion-panel *ngIf="hasBasicData" (opened)="openEmpresaRelacionada(true)" (closed)="openEmpresaRelacionada(false)">

                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>peoples</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold"> Referencias: Empresas relacionadas </span>
                                    </mat-panel-title>
                                    <mat-panel-description>

                                        <span class="notification-number margin-top-sm" matBadgeColor="accent" [matBadge]="totalEmpresaRelacionada"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="row" fxLayout="column" *ngIf="showEmpresaRelacionada">


                                    <sirio-persona-empresa-relacionada-table [persona]="personaJuridica.id" ></sirio-persona-empresa-relacionada-table>
                                   

                                </div>

                            </mat-expansion-panel> -->

                            <mat-expansion-panel *ngIf="hasBasicData">
                                <mat-expansion-panel-header class="odd">
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>account_balance</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">Referencias: Referencias Bancarias</span>
                                    </mat-panel-title>
                                    <mat-panel-description>

                                        <span class="notification-number margin-top-sm" matBadgeColor="accent" [matBadge]="totalBankReference"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>


                                <div fxLayout="row" fxLayout="column">
                                    <sirio-persona-referencia-bancaria-table [persona]="personaJuridica.id"></sirio-persona-referencia-bancaria-table>
                                </div>


                            </mat-expansion-panel>

                            <!-- <mat-expansion-panel *ngIf="hasBasicData">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>contacts</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">Referencias Personales</span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="notification-number margin-top-sm" matBadgeColor="accent" [matBadge]="totalContact"></span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>


                                <div fxLayout="row" fxLayout="column">
                                    <sirio-persona-referencia-personal-table [persona]="personaJuridica.id"></sirio-persona-referencia-personal-table>
                                </div>


                            </mat-expansion-panel> -->


                        </mat-accordion>
                    </ng-container>
                </sirio-card-content>
                <!-- <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar> -->
            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>