<sirio-card [fxFlex.gt-sm]="100" fxLayout="column" class="basic-forms route-animations-elements margin-bottom-md" @fadeInUp fxFlex="grow">
    <sirio-card-header class="header-bg">
        <sirio-card-header-heading> <i class="fa-light fa-pen-to-square mat-icon mat-primary fa-lg margin-top-md"></i>&nbsp; Datos de la Tarjeta de Débito
        </sirio-card-header-heading>
        <sirio-card-header-actions>
            <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
            {default: 'global.notfound'} | translate }}" type="button" (click)="reset()">
                <mat-icon>backspace</mat-icon>
            </button>
        </sirio-card-header-actions>
    </sirio-card-header>

    <sirio-card-content fxLayout="column">
        <div fxLayout="column" [formGroup]="itemForm" *ngIf="itemForm">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                <sirio-select-search fxFlex="100" fxFlex.gt-xs="30" [label]="'Tipo de Tarjeta'" formControlName="tipoTarjeta" required="true">
                </sirio-select-search>

                <sirio-select-search fxFlex="100" fxFlex.gt-xs="30" [label]="'Número de Tarjeta'" formControlName="numeroTarjeta" required="true">
                </sirio-select-search>

                <sirio-select-search fxFlex="100" fxFlex.gt-xs="40" [label]="'deposit.countNumber' | translate: {default: 'global.accountNumber'} | translate"
                    formControlName="numeroCuenta" [elements]="cuentasBancarias.asObservable()" [attributeName]="'descripcion'" required="true">
                </sirio-select-search>

            </div>
            <div fxLayout="column" fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>Nombre de Estampación </mat-label>
                    <input matInput autocomplete="off" maxlength="60" name="nombreEstampacion" formControlName="nombreEstampacion"  required uppercase>
                    <mat-error *ngIf="f.nombreEstampacion.errors?.required">{{'error.required' | translate}}</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
                    <mat-label>{{'Correo Eletrónico' | translate: {default: 'global.email'} | translate }}
                    </mat-label>
                    <input matInput autocomplete="off" maxlength="256" email-validate name="email" formControlName="email" [(ngModel)]="persona.email" [ngModelOptions]="{standalone: true}" required uppercase>
                    <mat-error *ngIf="f.email.errors?.required">{{'error.required' | translate}}</mat-error>
                </mat-form-field>
            </div>
        </div>
    </sirio-card-content>
</sirio-card>