<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
    <h1> <i class="fa-light fa-money-bill-transfer"></i> {{'coin.form'|translate}} </h1> &nbsp; <h4>({{moneda.nombre}})</h4> <span> Desglosar</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
      <button mat-icon-button class="close-button" (click)="close()">
        <mat-icon class="close-icon" color="accent">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>
</sirio-dialog-header>

<div mat-dialog-content>

  <div fxLayout="column">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

    </div>
  </div>
</div>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-raised-button (click)="clearAll()">{{'button.clean'|translate}}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="notValidate()">{{'button.save'|translate}}</button>
</mat-dialog-actions>