
.ngx-ic-move{
  border: 2px solid rgba(239, 189, 5, 0.70) !important;
}

.btn-capture {
    height: 55px;
    width: 100%;
    top: 4px;
    text-transform: uppercase;
    .fa-lg {
      font-size: 1.6em !important;
    }
}