<div fxLayout="column">
    <div fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
        <div fxLayout="column" fxFlex="auto">
            <!-- TODO: SE DEBE HACER LA INTERNACIONALIZACION -->
            <h3>Cono Actual ({{label_cono_actual}}) </h3>
            <div fxLayout="row wrap">

                <mat-form-field *ngFor="let item of listConoActual | async" fxFlex="100">
                    <mat-label>{{item.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{ (item.esBillete?'global.bill': 'global.coin') | translate }}
                    </mat-label>
                    <input matInput class="text-right" [(ngModel)]="item.cantidad" min="0" autocomplete="off" matInput type="number" (blur)="onChangeConoActual(item)" />
                </mat-form-field>

            </div>
        </div>
<!-- 
        <div *ngIf="listConoAnterior | async" fxFlex="50" fxLayout="column">
            <h3>Cono Anterior ({{label_cono_anterior}}) </h3>
            <div fxLayout="row wrap">

                <mat-form-field *ngFor="let item of listConoAnterior | async" fxFlex="100">
                    <mat-label>{{item.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{ (item.esBillete?'global.bill': 'global.coin') | translate }}
                    </mat-label>
                    <input matInput (blur)="onChangeConoAnterior(item)" class="text-right" [(ngModel)]="item.cantidad" min="0" autocomplete="off" matInput type="number"  />
                </mat-form-field>

            </div>
        </div> -->
    </div>
</div>