<div class="sirio-list-table">
  <div class="sirio-list-header"
       *ngIf="!hideHeader"
       fxLayout="row"
       fxLayoutAlign="start center"
       fxLayoutGap="8px"
       (sirioClickOutside)="onClickOutside()"
       fxLayoutGap.gt-xs="18px">
    <div class="sirio-list-name">{{ name }}</div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
      <mat-icon class="sirio-filter-input-icon">search</mat-icon>
      <input fxFlex class="sirio-filter-input" #filter placeholder="{{placeholder | translate: {default: 'global.search'} | translate }}">
    </div>

    <button class="icon" class="sirio-column-filter" *ngIf="tooltipStats" mat-icon-button [tooltip]="tooltipStats" type="button" >
      <mat-icon>query_stats</mat-icon>
    </button>
    
    <button class="icon" class="sirio-column-filter" *ngIf="showBottonHelper" matTooltip="Generar" mat-icon-button (click)="bottonClick.emit(true)" type="button" >      
      <i class="fal fa-{{icon_btn}} fa-lg"></i>
    </button>
    
    <button class="sirio-column-filter" type="button" mat-icon-button *ngIf="filterEnabled" (click)="toggleDropdown()">
      <mat-icon>filter_list</mat-icon>
    </button>    

    <button class="sirio-column-filter" type="button" mat-icon-button matTooltip="{{'button.cancel' | translate:
    {default: 'global.notfound'} | translate }}" type="button" (click)="backHome()">
        <mat-icon>close</mat-icon>

    </button>
    <ng-content select=".actions"></ng-content>
  </div>
  <!-- <ngx-spinner name="componentLoading">
    <p class="text-muted text-md"> {{'content.loading' | translate}} </p>
  </ngx-spinner> -->

  <!-- <mat-menu #columnFilter="matMenu" yPosition="below" xPosition="before">
    <button class="checkbox-item mat-menu-item" *ngFor="let column of columns"
            (click)="toggleColumnVisibility(column, $event)">
      <mat-checkbox [(ngModel)]="column.visible" class="checkbox" #checkbox (click)="$event.stopPropagation()">
        {{ column.name }}
      </mat-checkbox>
    </button>
  </mat-menu> -->

  <ng-content></ng-content>
</div>
