<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['cashPass.table']" current="global.list"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [@fadeInUp]>
        <sirio-list [name]="'cashPass.table' | translate: {default: 'global.notfound'}" placeholder="cashPass.search"
            (filterChange)="onFilterChange($event)">

            <mat-table #table id="tableContainer" [dataSource]="dataSource"  matSort
                matSortActive="fcreacion" matSortDirection="desc">

                <ng-container matColumnDef="bovagencia_id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tw-15'">{{'cashPass.date' | translate:
                        {default: 'global.date'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-15'">
                        <p class="font-weight-600">{{element.fecha | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="tipoMovimiento">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-25'">{{'cashPass.movementType' | translate:
                        {default: 'global.movementType'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-25'">
                        <p class="text-truncate font-weight-600">{{element.movimientoEfectivo}}</p>
                    </mat-cell>
                </ng-container>
                
                <ng-container matColumnDef="monto">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-15'">{{'cashPass.amount' | translate:
                        {default: 'global.amount'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-15'">
                        <p class="text-truncate font-weight-600">{{element.ingreso+element.egreso  | number: '1.2'}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="moneda">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-25'">{{'cashPass.coin' | translate:
                        {default: 'global.coin'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" (click)="view(element)" [ngClass]="'tw-25'">
                        <p class="text-truncate font-weight-600">{{element.moneda}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estatus">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-10'">{{'cashPass.status' | translate:
                        {default: 'global.status'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'tw-10'">
                        <mat-chip mat-sm-chip [color]="element.estatusEfectivo == aprobado ? 'accent' : 'warn'">
                            {{element.estatusEfectivoNombre}}
                        </mat-chip>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="activo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'tw-5'">{{'tenure.status' | translate:
                        {default: 'global.status'} | translate }}</mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'tw-5'">
                        <mat-chip mat-sm-chip [color]="element.activo ? 'accent' : 'warn'" [selected]="element.activo">
                            {{element.activo ? 'Activo' : 'Inactivo'}}
                        </mat-chip>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'tw-5'"></mat-header-cell>
                    <mat-cell *matCellDef="let element" [ngClass]="'tw-5'">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <sirio-actions-nav [element]="element" [items]="actions.asObservable()" 
                            [method]="actionAPI()"></sirio-actions-nav>
                        </div>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let element; columns: displayedColumns;" class="element"
                    >
                </mat-row>
            </mat-table>
            <mat-paginator [length]="dataSource?.totalElements" [pageSize]="15" [pageSizeOptions]="[15, 30, 50]"
                showFirstLastButtons></mat-paginator>

        </sirio-list>
        <sirio-button-add tooltips="action.add" (eventClicked)="add($event)"></sirio-button-add>
    </sirio-page-layout-content>
</sirio-page-layout>