<!-- DIRECCIONES -->
<div fxLayout="row" fxLayout="column">
    <div fxLayoutAlign="end center" fxFlex="1 1 0%">
        <button color="default" (click)="popup()" mat-button class="margin-bottom-sm">
            <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
            'global.notfound'} | translate }}
        </button>
    </div>
</div>

<ngx-datatable [scrollbarV]="false" canAutoResize="false" class="material" [rowHeight]="70" [columnMode]="ColumnMode.force"
    [messages]="{emptyMessage: 'No hay registros...',totalMessage: 'Total'}"
    [sorts]="[{prop: 'id', dir: 'asc'}]" [headerHeight]="50"  [footerHeight]="50"  [limit]="10" [rows]="direcciones | async">

    <ngx-datatable-column  [resizeable]="false" [width]="50"  name="#" >        
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <div class="text-center" fxLayoutAlign="center" style="white-space: break-spaces;"> {{ rowIndex+1 }}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [resizeable]="false" [width]="300" name="Tipo Dirección" >        
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span class="text-center" fxLayoutAlign="center" style="white-space: break-spaces;">{{ row?.tipoDireccion }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [resizeable]="false" [width]="800"  name="Descripción" >  
        <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
          <span class="text-center" fxLayoutAlign="center" style="white-space: break-spaces;">
            {{row.descripcion}}
          </span>  
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [resizeable]="false" [width]="50" name="Acciones" >        
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center" fxLayoutAlign="center" style="white-space: break-spaces;">
                <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;"  (click)="popup(row,$event)" matTooltip="{{'button.update' | translate}}">
                    <mat-icon>edit</mat-icon>
                </button> &nbsp;
                <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;"
                    (click)="delete(row)" matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>

