<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['agencyClosing.form']"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">
        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{agencia.id+' - '+agencia.nombre}}</sirio-card-header-heading>
                    <sirio-card-header-actions>
                        <button class="icon"     mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid ">
                            <mat-icon>outbox</mat-icon>

                        </button>
                        <!-- <button class="icon" mat-icon-button matTooltip="{{'button.clear' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>
                        </button> -->
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <ng-container>

                        <mat-accordion class="expansion-headers-align">

                            <mat-expansion-panel *ngFor="let item of saldos | async">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <!-- TODO: INTERNACIONALIZACION -->
                                        <button mat-icon-button type="button" color="primary">
                                            <mat-icon>peoples</mat-icon>
                                        </button>
                                        <span class="margin-top-sm semi-bold">{{item.siglasMoneda + ' - '+ item.nombreMoneda}}</span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="margin-top-sm semi-bold margin-right-sm"> SALDO INICIAL: {{item.saldoInicial | number: '1.2'}}</span>
                                        <span class="margin-top-sm semi-bold">&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                        <span class="margin-top-sm semi-bold margin-right-sm"> <b> SALDO FINAL: {{item.saldoFinal  | number: '1.2'}} </b>
                                        </span>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <mat-form-field fxFlex="20">
                                        <mat-label>{{'Entradas de Efectivo' | translate: {default: 'Entradas de Efectivo'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.ingreso  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="20">
                                        <mat-label>{{'Salidas de Efectivo' | translate: {default: 'Salidas de Efectivo'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.egreso  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="20">
                                        <mat-label>{{'En Tránsito' | translate: {default: 'En Tránsito'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.transito  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="20">
                                        <mat-label>{{'Depósitos' | translate: {default: 'Depósitos'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.deposito  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="20">
                                        <mat-label>{{'Retiros' | translate: {default: 'Retiros'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.retiro  | number: '1.2'" readonly>
                                    </mat-form-field>
                                </div>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <mat-form-field fxFlex="25">
                                        <mat-label>{{'Remesas Recibidas' | translate: {default: 'Remesas Recibidas'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.remesaRecibida  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="25">
                                        <mat-label>{{'Remesas Enviadas' | translate: {default: 'Remesas Enviadas'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.remesaEnviada  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="25">
                                        <mat-label>{{'Retiros de ATM' | translate: {default: 'Retiros de ATM'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.retiroAtm  | number: '1.2'" readonly>
                                    </mat-form-field>

                                    <mat-form-field fxFlex="25">
                                        <mat-label>{{'Incrementos de ATM' | translate: {default: 'Incrementos de ATM'} |
                                            translate }}</mat-label>
                                        <input matInput class="text-center" [value]="item.incrementoAtm  | number: '1.2'" readonly>
                                    </mat-form-field>
                                </div>

                                <mat-divider class="margin-bottom-md"></mat-divider>

                                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
                                    <div fxLayout="column" fxFlex="10">
                                        <h3>{{'Cantidad en Bóveda' | translate: {default: 'Cantidad en Bóveda'} | translate }}</h3>
                                    </div>
                                    <div fxLayout="column" fxFlex="auto">
                                        <div fxLayout="row wrap" fxLayoutGap.gt-sm="6px">
                                            <mat-form-field fxLayout="column" *ngFor="let det of item.detalleEfectivo" fxFlex="32">
                                                <mat-label>{{det.denominacion | number:'1.2-2'}} {{label ||labelPrefix || ''}} {{
                                                    (det.esBillete?'global.bill': 'global.coin') | translate }}
                                                </mat-label>
                                                <input matInput [value]="det.disponible | number: '1.0'" readonly class="text-right">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
         <!-- {{printErrors() | json}}  -->
                            </mat-expansion-panel>
                        </mat-accordion>

                        
                    </ng-container>
                </sirio-card-content>

                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button color="primary" (click)="closeDay()" mat-raised-button >
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.closeAgency' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar>
                
            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>