<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['atm.form']" current="{{isNew?'action.add':'action.edit'}}"></sirio-breadcrumbs>
    </sirio-page-layout-header>

    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">

        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">

            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'atm.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit') | translate}}</sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.save' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" [disabled]="itemForm?.invalid " (click)="save()">
                            <mat-icon>save</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.clear' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>

                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>

                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <form [formGroup]="itemForm" *ngIf="itemForm">

                        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">

                            <mat-form-field fxFlex.gt-sm="10">
                                <mat-label>{{'atm.code' | translate: {default: 'global.code'} | translate }}
                                </mat-label>
                                <input matInput maxlength="10" autocomplete="off" name="id" formControlName="id" uppercase required class="text-center">
                                <mat-error *ngIf="f.id.errors?.required">{{'error.required' | translate}}</mat-error>
                                <mat-error *ngIf="f.id.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                <mat-error *ngIf="f.id.errors?.exists">{{'error.codeExists' | translate}}</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex.gt-sm="15">
                                <mat-label>{{'atm.identification' | translate: {default: 'global.identification'} | translate }}
                                </mat-label>
                                <input matInput maxlength="10" autocomplete="off" name="identificacion" formControlName="identificacion" uppercase required
                                    class="text-center">
                                <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}}</mat-error>
                                <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                <mat-error *ngIf="f.identificacion.errors?.exists">{{'error.identificationExists' | translate}}</mat-error>
                            </mat-form-field>

                            <sirio-select-search fxFlex="20" [label]="'atm.coin' | translate: {default: 'global.coin'} | translate"
                                formControlName="moneda" [required]="true" [elements]="monedas.asObservable()" [attributeName]="'nombre'"
                                [errors]="f.moneda?.errors">
                            </sirio-select-search>

                            <sirio-select-search fxFlex="auto" [label]="'atm.atmType' | translate: {default: 'global.atmType'} | translate"
                                formControlName="tipoAtm" [required]="true" [elements]="tipoAtms.asObservable()" [attributeName]="'nombre'"
                                [errors]="f.tipoAtm?.errors">
                            </sirio-select-search>

                            <sirio-select-search fxFlex="40" *ngIf="f.tipoAtm.value === remoto" [label]="'atm.carrierCompany' | translate: {default: 'global.carrierCompany'} | translate"
                                formControlName="transportista" [required]="f.tipoAtm.value === remoto" [elements]="transportistas.asObservable()" [attributeName]="'nombre'"
                                [errors]="f.transportista?.errors">
                            </sirio-select-search>

                            <sirio-select-search fxFlex="40" *ngIf="f.tipoAtm.value === oficina"  [label]="'atm.agency' | translate: {default: 'global.agency'} | translate"
                                formControlName="agencia" [required]="f.tipoAtm.value === oficina" [elements]="agencias.asObservable()" [attributeName]="'nombre'"
                                [errors]="f.agencia?.errors">
                            </sirio-select-search>

                        </div>
                    </form>

                    <div fxLayout="column" class="margin-h padding-v">
                        <ngx-datatable [scrollbarV]="false" class="material bg-white" [columnMode]="'flex'"
                            [messages]="{emptyMessage: 'No hay registros...',totalMessage: 'Total'}" [sorts]="[{prop: 'id', dir: 'asc'}]" [headerHeight]="50"
                            [footerHeight]="50" [rowHeight]="55" [limit]="10" [rows]="cajetines | async">
        
                            <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            </ngx-datatable-column>

                            <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                                <ng-template ngx-datatable-header-template>
                                    <span>{{'boxes.name' | translate: {default: 'global.name'} |
                                        translate}}</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template >
                                    <span style="white-space: break-spaces;">{{ row?.nombre }}</span>
                                </ng-template>
                            </ngx-datatable-column>
        
                            <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                                <ng-template ngx-datatable-header-template>
                                    <span>{{'boxes.billsQuantity' | translate: {default: 'global.billsQuantity'} |
                                        translate}}</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <input class="mat-input text-right"  [(ngModel)]="row.cantidad" autofocus matInput type="number"  />
                                </ng-template>
                            </ngx-datatable-column>
        
                            <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                                <ng-template ngx-datatable-header-template >
                                    <span>{{'boxes.denomination' | translate: {default: 'global.denomination'} |
                                        translate}}</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                    <mat-form-field  style="margin-top: -10px;font-size: 12px;" fxFlex="100">
                                        <select class="text-center"  matNativeControl (change)="selectConoMonetario($event,row)">
                                            <option value=""></option>
                                            <option *ngFor="let item of conos" [value]="item.id" [selected]="row.conoMonetario===item.id">{{item.denominacion}} - {{item.nombreMoneda}}</option>
                                        </select>
                                    </mat-form-field>
                                </ng-template>
                            </ngx-datatable-column>
        
                            <ngx-datatable-column [flexGrow]="1" [sortable]="true">
                            </ngx-datatable-column>

                        </ngx-datatable>
        
                    </div>
                <!-- {{printErrors() | json}} -->
                </sirio-card-content>
                <mat-toolbar>
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate:
                            {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="itemForm?.invalid  ">
                            <i class="fa-light fa-floppy-disk fa-lg margin-bottom-xxs"></i> {{'button.save' | translate: {default:
                            'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar>
            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>