@use '@angular/material' as mat;
.sirio-card {
  background: $theme-card;
  color: $theme-text;

  @include mat.elevation($elevation);

  .sirio-card-header-subheading {
    color: $theme-secondary-text;
  }

  .sirio-card-actions {
    border-top: 1px solid $theme-divider;
  }
}
