<sirio-page [fxLayoutGap]="gap" class="dashboard" fxLayout="column">

  <!-- FIRST ROW -->
  <div fxLayout="column">
    <div fxLayout.gt-sm="row" fxFlex="100" class="padding-lg">
      <div fxLayout="column" fxLayoutGap="20px" fxFlex="100" fxLayoutAlign="start stretch">
        <!-- <div fxLayout="row" class="margin-bottom-md"> -->
        <div fxFlex="100">
          <sirio-region-vert-chart-widget (reload)="reload()" [monedas]="coinAvailables.asObservable()" title="Movimiento de Efectivo"
            class="widget route-animations-elements" [data]="dataAgencia.asObservable()"></sirio-region-vert-chart-widget>

        </div>

        <div fxFlex="100">

          <sirio-agencia-table-widget [data]="agenciaTableData$ | async" [monedas]="coinAvailables.asObservable()" [columns]="tableOptions?.columns" [pageSize]="tableOptions?.pageSize">
          </sirio-agencia-table-widget>

        </div>
        <!-- </div> -->
      </div>

    </div>

  </div>


</sirio-page>