@import "var";

div.input-content{
    display: flex !important;
    align-items: center !important;
    height: 35px;

    mat-icon{
        height: 25px;
        width: auto;
        font-size: 20px;
        color: #bbb;
    }
}

input.mat-input{
    border: 1px solid;
    border-color: #cfcdcd;
    height: 30px;
    border-radius: 4px;
    color: #6a6a6a;
}