<sirio-page-layout mode="card">
    <sirio-page-layout-header>
        <sirio-breadcrumbs [@fadeInRight] [crumbs]="['checkPayment.form']" current="{{isNew?'action.add':'action.edit'}}">
        </sirio-breadcrumbs>
    </sirio-page-layout-header>
    <sirio-page-layout-content [fxLayoutGap]="gap" fxLayout="column">
        <div [fxLayoutGap]="gap" fxFlex="noshrink" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start stretch">
            <sirio-card [fxFlex.gt-sm]="col2" class="basic-forms route-animations-elements" [@fadeInUp] fxFlex="grow">
                <sirio-card-header>
                    <sirio-card-header-heading>{{'checkPayment.form'|translate}}</sirio-card-header-heading>
                    <sirio-card-header-subheading>{{(isNew?'action.add':'action.edit')| translate}}
                    </sirio-card-header-subheading>
                    <sirio-card-header-subheading></sirio-card-header-subheading>
                    <sirio-card-header-actions>
                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="itemForm.reset({})">
                            <mat-icon>backspace</mat-icon>
                        </button>
                        <button class="icon" mat-icon-button matTooltip="{{'button.cancel' | translate:
                        {default: 'global.notfound'} | translate }}" type="button" (click)="back()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </sirio-card-header-actions>
                </sirio-card-header>
                <sirio-card-content fxLayout="column">

                    <form [formGroup]="itemForm" *ngIf="itemForm">
                        <div fxLayout="column">
                            <sirio-card [fxFlex.gt-sm]="100" fxLayout="column"
                                class="basic-forms route-animations-elements margin-bottom-md" @fadeInUp fxFlex="grow">
                                <sirio-card-header class="header-bg">
                                    <sirio-card-header-heading> <i class="fa-light fa-pen-to-square mat-icon mat-primary fa-lg margin-top-md"></i>&nbsp;
                                        Información Financiera</sirio-card-header-heading>
                                    <sirio-card-header-actions>
                                        <button class="icon" mat-icon-button matTooltip="{{'button.clean' | translate:
                                    {default: 'global.notfound'} | translate }}" type="button" (click)="resetInfoFinance()">
                                            <mat-icon>backspace</mat-icon>
                                        </button>
                                    </sirio-card-header-actions>
                                </sirio-card-header>

                                <sirio-card-content fxLayout="column">
                                    <div fxLayoutGap.gt-sm="10px">
                                        <mat-form-field fxFlex.gt-sm="25">
                                            <mat-label>{{'checkPayments.accountNumber' | translate: {default: 'global.accountNumber'} | translate }} </mat-label>
                                            <input matInput name="numeroCuenta" autocomplete="off" num-account-validate formControlName="numeroCuenta"
                                                mask="0000 0000 00 00 00000000" required>
                                            <mat-error *ngIf="f.numeroCuenta.errors?.required">{{'error.required' | translate}}</mat-error>
                                            <mat-error *ngIf="!f.numeroCuenta.errors?.required && f.numeroCuenta.errors?.account">
                                                El Núm. de Cuenta es Inválido</mat-error>
                                            <mat-error *ngIf="f.numeroCuenta.errors?.notexists">{{'No existe numero de cuenta'}}</mat-error>
                                            <mat-error *ngIf="f.numeroCuenta.errors?.validacion">{{'Debe indicar el numero de cuenta'}}</mat-error>
                                        </mat-form-field>

                                        <mat-form-field fxFlex.gt-sm="20">
                                            <mat-label>{{'withdrawal.checkNumber' | translate: {default:'global.checkNumber'} | translate }} </mat-label>
                                            <input matInput maxlength="8"  name="serialCheque" autocomplete="off" formControlName="serialCheque"
                                            numCeros="8" string-pad [control]="f.serialCheque" required class="text-center">
                                            <mat-error *ngIf="f.serialCheque.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
                                            <mat-error *ngIf="f.serialCheque.errors?.required">{{'error.required' | translate}}</mat-error>
                                            <!-- <mat-error *ngIf="f.serialCheque.errors?.minlength">Debe tener 8 digitos</mat-error> -->
                                        </mat-form-field>

                                        <mat-form-field fxFlex.gt-xs="auto">
                                            <mat-label>{{'withdrawal.checkAmount' | translate: {default: 'global.checkAmount'} | translate }} </mat-label>
                                            <input matInput max="9999999999999.99" maxlength="20" autocomplete="off" name="monto" formControlName="monto"
                                                min="0.01" currencyMask [options]="{precision:2}" required>
                                            <mat-error *ngIf="f.monto.errors?.min">{{'error.beGreaterThan' | translate}} 0,01</mat-error>
                                            <mat-error *ngIf="f.monto.errors?.max">{{'error.beLessThan' | translate}} 9.999.999.999.999,99</mat-error>
                                            <mat-error *ngIf="f.monto.errors?.saldo">Saldo Insuficiente</mat-error>
                                            <mat-error *ngIf="!f.monto.errors?.saldo&&f.monto.errors?.difference">Debe Descriminar el Efectivo</mat-error>
                                        </mat-form-field>

                                        <sirio-cash-button operation="retiro" [moneda]="f.moneda.value" [total]="f.monto.value" class="margin-top-sm"
                                            [disabled]="f.monto.value == 0.00  || existeDiferenciaSaldo" (update)="updateCashDetail($event)" [cono_actual]="conoActual"
                                            [cono_anterior]="conoAnterior">
                                        </sirio-cash-button>

                                        <mat-form-field fxFlex.gt-xs="auto">
                                            <mat-label>{{'withdrawal.amount' | translate: {default: 'global.amount'} | translate }} </mat-label>
                                            <input matInput max="9999999999999.99" maxlength="20" readonly min="0.01" autocomplete="off" name="montoCheque"
                                                formControlName="montoCheque" currencyMask [options]="{precision:2}" required>
                                            <mat-error *ngIf="f.montoCheque.errors?.totalDifference">Monto Incorrecto</mat-error>
                                            <mat-error *ngIf="f.montoCheque.errors?.min">{{'error.beGreaterThan' | translate}} 0,01</mat-error>
                                            <mat-error *ngIf="f.montoCheque.errors?.max">{{'error.beLessThan' | translate}} 9.999.999.999.999,99</mat-error>
                                        </mat-form-field>
                                    </div>
                                </sirio-card-content>
                            </sirio-card>
                            <sirio-voucher-information *ngIf="(loading | async) && f.numeroCuenta.value >= 24" (result)="voucher($event)" [persona]="persona"></sirio-voucher-information>
                        </div>
                    </form>
                     <!-- {{printErrors() | json}} -->
                </sirio-card-content>
                <mat-toolbar  *ngIf="loading | async">
                    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center" fxLayoutGap="24px">
                        <button type="button" mat-button (click)="back()">
                            {{'button.cancel' | translate: {default: 'global.notfound'} | translate }}
                        </button>
                        <button color="primary" (click)="save()" mat-raised-button [disabled]="!itemForm || itemForm.invalid || !voucherForm || voucherForm.invalid || (loading$ | async )">
                            {{'button.send' | translate: {default:  'global.notfound'} | translate }}
                        </button>
                    </div>
                </mat-toolbar>
            </sirio-card>
        </div>
    </sirio-page-layout-content>
</sirio-page-layout>