<!-- DIRECCIONES -->
<!-- <div fxLayout="row" fxLayout="column">
    <div fxLayoutAlign="end center" fxFlex="1 1 0%">
        <button color="default" (click)="popup()" mat-button class="margin-bottom-sm">
            <mat-icon class="margin-bottom-xxs">add_circle</mat-icon> {{'button.add' | translate: {default:
            'global.notfound'} | translate }}
        </button>
    </div>
</div> -->

<!-- <ngx-datatable   canAutoResize="false" class="material" rowHeight="auto" [columnMode]="ColumnMode.standard"
    [messages]="{emptyMessage: 'No hay registros...',totalMessage: 'Total'}"
    [sorts]="[{prop: 'id', dir: 'asc'}]" [headerHeight]="50"  [footerHeight]="50"  [limit]="10" [rows]="direcciones | async" rowHeight="auto">



    <ngx-datatable-column  [resizeable]="false" [width]="100"  name="#">        
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <div class="text-center"> {{ rowIndex+1 }}</div>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [resizeable]="false" [width]="300" name="Tipo Dirección">        
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span style="white-space: break-spaces;">{{ row?.tipoDireccion }}</span>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [resizeable]="false" [width]="880"  name="Descripción"> 
        <ng-template let-row="row" ngx-datatable-cell-template let-rowIndex="rowIndex">
            {{row.descripcion}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [resizeable]="false" [width]="200" name="Acciones" >        
        <ng-template let-row="row" ngx-datatable-cell-template>
            <div class="text-center">
                <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;"  (click)="popup(row,$event)" matTooltip="{{'button.update' | translate}}">
                    <mat-icon>edit</mat-icon>
                </button> &nbsp;
                <button mat-icon-button mat-sm-button color="primary" style="margin-top: -5px;"
                    (click)="delete(row)" matTooltip="Eliminar">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </ng-template>
    </ngx-datatable-column>


</ngx-datatable> -->
<sirio-page-layout mode="card" class="page-services">
    <sirio-page-layout-header>&nbsp; </sirio-page-layout-header>

    <sirio-page-layout-content cdkDropListGroup fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" fxLayoutGap="24px">

        <sirio-card [@fadeInUp] class="basic-forms" fxFlex="auto">
            <sirio-card-header>
                <sirio-card-header-heading>Servicios</sirio-card-header-heading>
                <sirio-card-header-subheading>El cliente aun no posee</sirio-card-header-subheading>
            </sirio-card-header>
            <sirio-card-content  [cdkDropListData]="serviciosList" cdkDropList>
                <div *ngFor="let serv of serviciosList" cdkDrag class="services card" fxLayout="column" fxLayoutAlign="center start">
                    <div class="heading"> <i class="fa-light fa-link-slash"></i> &nbsp; {{ serv.name }}</div>
                    <div class="caption secondary-text">{{ serv.resumen }}</div>
                </div>
            </sirio-card-content>
        </sirio-card>

        <sirio-card [@fadeInUp] class="basic-forms" fxFlex="auto">
            <sirio-card-header>
                <sirio-card-header-heading>Servicios</sirio-card-header-heading>
                <sirio-card-header-subheading>El cliente los tiene activos</sirio-card-header-subheading>
            </sirio-card-header>
            <sirio-card-content (cdkDropListDropped)="drop($event)" [cdkDropListData]="serviciosClienteList" cdkDropList>
                <div *ngFor="let serv of serviciosClienteList" cdkDrag class="services card" fxLayout="row" fxLayoutAlign="space-between center">
                    <div> <i class="fa-light fa-link"></i> &nbsp;{{ serv.name }}</div>
                    <span fxFlex></span>
                    <!-- <mat-icon color="primary">edit</mat-icon>  -->
                    <button class="icon" mat-icon-button matTooltip="Editar" color="primary" type="button" [disabled]="disabled" (click)="edit(serv)">    
                        <i class="fa-light fa-pencil fa-lg "  ></i>                        
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="icon" mat-icon-button matTooltip="Eliminar" type="button" color="primary" [disabled]="disabled" (click)="delete(serv)">    
                        <i class="fa-light fa-trash-can fa-lg"></i>
                    </button>
                    <!-- <mat-icon color="primary">delete</mat-icon> -->
                </div>
            </sirio-card-content>
        </sirio-card>

    </sirio-page-layout-content>
</sirio-page-layout>