<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
    <!-- TODO: PENDIENTE IN18 -->

    <h1>Registro Mercantil {{ultimaModificacion ? ' (Última Modificación)' : ''}}</h1> <span>{{(!ultimaModificacion?'action.add':'action.edit') | translate}}</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">

      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>

</sirio-dialog-header>



<mat-dialog-content>

  <form [formGroup]="itemForm" *ngIf="itemForm">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="!esGobierno">

      <mat-form-field fxFlex="100">
        <mat-label>{{'Nombre del Registro' | translate: {default:
          'Nombre del Registro'} | translate }} </mat-label>
        <input matInput maxlength="150" autocomplete="off" name="nombre" formControlName="nombre" uppercase [required]="!esGobierno">
        <mat-error *ngIf="f.nombre.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.nombre.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="!esGobierno">

      <mat-form-field fxFlex="20">
        <mat-label>{{'global.date' | translate: {default: 'global.date'} |
          translate }}</mat-label>
        <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fecha" formControlName="fecha" [matDatepicker]="fechaPicker"
          [max]="todayValue" required>
        <mat-datepicker-toggle matSuffix [for]="fechaPicker">
        </mat-datepicker-toggle>
        <mat-error *ngIf="f.fecha.errors?.matDatepickerParse || f.fecha.errors?.matDatepickerMax">
          Fecha Invalida
        </mat-error>
        <mat-error *ngIf="f.fecha.errors?.required">{{'error.required' | translate}} </mat-error>
      </mat-form-field>
      <mat-datepicker #fechaPicker></mat-datepicker>

      <mat-form-field fxFlex="20">
        <mat-label>{{'Número' | translate: {default:
          'Número'} | translate }} </mat-label>
        <input matInput maxlength="10" minlength="1" autocomplete="off" name="numero" formControlName="numero" uppercase [required]="!esGobierno" class="text-center">
        <mat-error *ngIf="f.numero.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.numero.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20">
        <mat-label>{{'Tomo' | translate: {default:
          'Tomo'} | translate }} </mat-label>
        <input matInput maxlength="10" minlength="1" autocomplete="off" name="tomo" formControlName="tomo" uppercase [required]="!esGobierno" class="text-center">
        <mat-error *ngIf="f.tomo.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.tomo.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20">
        <mat-label>{{'Folio' | translate: {default:
          'Folio'} | translate }} </mat-label>
        <input matInput maxlength="10" minlength="1" autocomplete="off" name="folio" formControlName="folio" uppercase [required]="!esGobierno"  class="text-center">
        <mat-error *ngIf="f.folio.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.folio.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20">
        <mat-label>{{'Capital Social' | translate: {default:
          'Capital Social'} | translate }} </mat-label>
        <input maxlength="20" matInput autocomplete="off" name="capitalSocial" currencyMask [options]="{precision:2}" formControlName="capitalSocial"
          [required]="!esGobierno">
        <mat-error *ngIf="f.capitalSocial.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.capitalSocial.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="esGobierno">

      <mat-form-field fxFlex="100">
        <mat-label>{{'Autoridad / Ente de Adscripción' | translate: {default:  'Autoridad / Ente de Adscripción'} | translate }} </mat-label>
        <input matInput maxlength="150"  autocomplete="off" name="ente" formControlName="ente" uppercase [required]="esGobierno">
        <mat-error *ngIf="f.ente.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.ente.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px" *ngIf="esGobierno">
      <mat-form-field fxFlex="20">
        <mat-label>{{'Número Gaceta Oficial' | translate: {default:
          'Número Gaceta Oficial'} | translate }} </mat-label>
        <input matInput maxlength="10" minlength="1" autocomplete="off" name="gaceta" formControlName="gaceta" uppercase [required]="esGobierno"  class="text-center">
        <mat-error *ngIf="f.gaceta.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.gaceta.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20">
        <mat-label>{{'Decreto' | translate: {default:
          'Decreto'} | translate }} </mat-label>
        <input matInput maxlength="10" minlength="1" autocomplete="off" name="decreto" formControlName="decreto" uppercase [required]="esGobierno"  class="text-center">
        <mat-error *ngIf="f.decreto.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.decreto.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="20">
        <mat-label>{{'global.date' | translate: {default: 'global.Date'} |
          translate }}</mat-label>
        <input class="text-center" autocomplete="off" matInput placeholder="DD/MM/YYYY" name="fecha" formControlName="fecha" [matDatepicker]="fechaPicker"
          [required]="esGobierno">
        <mat-datepicker-toggle matSuffix [for]="fechaPicker">
        </mat-datepicker-toggle>
        <mat-error *ngIf="f.fecha.errors?.matDatepickerParse">
          Fecha Invalida
        </mat-error>
        <mat-error *ngIf="f.fecha.errors?.required">{{'error.required' | translate}} </mat-error>
      </mat-form-field>
      <mat-datepicker #fechaPicker></mat-datepicker>


      <mat-form-field fxFlex="40">
        <mat-label>{{'Código ONT' | translate: {default:
          'Código ONT'} | translate }} </mat-label>
        <input matInput maxlength="30" minlength="1" autocomplete="off" name="codigoOnt" formControlName="codigoOnt" uppercase [required]="esGobierno"  class="text-center">
        <mat-error *ngIf="f.codigoOnt.errors?.required">{{'error.required' | translate}}
        </mat-error>
        <mat-error *ngIf="f.codigoOnt.errors?.pattern">{{'error.invalidCharacter' |
          translate}}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- {{printErrors() | json}} -->


  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="itemForm">
  <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
  <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm.invalid">{{'button.save'|translate}}</button>
</mat-dialog-actions>