<sirio-dialog-header mat-dialog-title>
  <sirio-dialog-header-heading>
    <!-- TODO: PENDIENTE IN18 -->
    <h1>Referencias Personales</h1> <span>{{(isNew?'action.add':'action.edit') | translate}}</span>
    <div fxLayout="row" fxFlex="1 1 0%" fxLayoutAlign="end center">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="accent">close</mat-icon>
      </button>
    </div>
  </sirio-dialog-header-heading>

</sirio-dialog-header>


<mat-dialog-content>
    <form [formGroup]="itemForm" *ngIf="itemForm">

    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
      <sirio-select-search fxFlex.gt-xs="50" [label]="'Tipo Documento'" formControlName="tipoDocumento" [required]="true"
        [elements]="tipoDocumentoList.asObservable()" [attributeName]="'nombre'">
      </sirio-select-search>

      <mat-form-field fxFlex="auto">
        <mat-label>{{'Número  Documento'}}</mat-label>
        <input autocomplete="off" class="text-center" matInput name="identificacion" doc-number-validate [tipo_documento]="f.tipoDocumento?.value" minlength="1" formControlName="identificacion" required >
        <mat-error *ngIf="f.identificacion.errors?.required">{{'error.required' | translate}}!</mat-error>
        <mat-error *ngIf="f.identificacion.errors?.pattern">{{'error.invalidCharacter' | translate}}</mat-error>
        <mat-error *ngIf="f.identificacion.errors?.exists">Número Existe</mat-error>
        <mat-error *ngIf="f.identificacion.errors?.maxLength">Supera el máximo de {{f.identificacion.errors?.length}} dígitos </mat-error>
      </mat-form-field>

    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
      <mat-form-field fxFlex="auto">
        <mat-label>{{'Nombre y Apellido '}}</mat-label>
        <input autocomplete="off" class="text-left" matInput name="nombre" maxlength="24" uppercase formControlName="nombre" required>
        
        <mat-error *ngIf="f.nombre.errors?.required">{{'error.required' | translate}}!</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="10px">
      <mat-form-field fxFlex="auto">
        <mat-label>{{'Teléfono Fijo' | translate }} </mat-label>
          <input matInput maxlength="200" minlength="11" autocomplete="off" phoneValidate  [telefonicas]="telefonicaFijaList.asObservable()"  name="telefonoFijo" [imask]="{mask: '(0000) 000.00.00'}" [unmask]="true" class="text-center" formControlName="telefonoFijo" required>
          <mat-error *ngIf="f.telefonoFijo.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.telefonoFijo.errors?.pattern">{{'error.invalidCharacter' |
            translate}}
          </mat-error>
          <mat-error *ngIf="f.telefonoFijo.errors?.phone">{{f.telefonoFijo.errors?.phone}}  </mat-error>
        </mat-form-field>
      
        <mat-form-field fxFlex="auto">
          <mat-label>{{'Teléfono Móvil' | translate }} </mat-label>
          <input matInput maxlength="200" minlength="11" autocomplete="off" phoneValidate  [telefonicas]="telefonicaMovilList.asObservable()" name="telefonoMovil" [imask]="{mask: '(0000) 000.00.00'}" [unmask]="true" class="text-center" formControlName="telefonoMovil" required>
          <mat-error *ngIf="f.telefonoMovil.errors?.required">{{'error.required' | translate}}
          </mat-error>
          <mat-error *ngIf="f.telefonoMovil.errors?.pattern">{{'error.invalidCharacter' |
            translate}}
          </mat-error>
          <mat-error *ngIf="f.telefonoMovil.errors?.phone">{{f.telefonoMovil.errors?.phone}}  </mat-error>
        </mat-form-field>
    </div>

  </form>
  </mat-dialog-content>
  <!-- {{printErrors() | json}} -->

  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" *ngIf="itemForm">
    <button mat-raised-button (click)="dialogRef.close()">{{'button.cancel'|translate}}</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="itemForm?.invalid || (loading$ | async)">{{'button.save'|translate}}</button>
  </mat-dialog-actions>